﻿@using Web.Service
@model Web.Models.ViewModels.KnowledgeViewModel

<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--inside">
        <div class="m-bn__ctr content">
            @if (Model.PageBanner_ViewModel != null)
            {
                <div class="m-bn__pic" data-aos="zoom-out" data-aos-duration="1500">
                    <figure data-img="full">
                        <img src="@(!string.IsNullOrEmpty(Model.PageBanner_ViewModel.pic) ? Url.Content("~" + Model.PageBanner_ViewModel.pic) : "")" alt="@Model.PageBanner_ViewModel.pic_alt">
                    </figure>
                </div>
            }
            <div class="m-bn__info">
                @if (Model.PageBanner_ViewModel != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(Model.PageBanner_ViewModel.content))
                }
                <div class="cms-tages">
                    <div class="cms-tages__toggle">
                        <div class="cms-tages__toggle-name">@Web.Resource.Resource.常見問題</div>
                        <div class="cms-tages__toggle-icon" data-icon="menu"></div>
                    </div>
                    <div class="cms-tages__ctr">
                        <ul class="cms-tages__list">
                            <li class="cms-tages__item"><a href="@Url.Action("Lifestyle", "Knowledge")" class="cms-tages__link">@Web.Resource.Resource.萊禮知識庫</a></li>
                            <li class="cms-tages__item"><a href="@Url.Action("Faq", "Knowledge")" class="cms-tages__link active">@Web.Resource.Resource.常見問題</a></li>
                            @*<li class="cms-tages__item"><a href="@Url.Action("Catalog", "Knowledge")" class="cms-tages__link">@Web.Resource.Resource.產品型錄</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq section -->
    <div class="faq-stn">
        <h1 class="cms-headline" data-aos="fade-up">@Web.Resource.Resource.常見問題</h1>

        <div class="l-wp-1400">
            <div class="faq-ctr">
                <div class="faq-info">
                    <h2 class="faq-info__title">@Model.KnowledgePage_ViewModel.title</h2>
                    @Html.Raw(FunctionService.FormatImagePath(Model.KnowledgePage_ViewModel.content))
                </div>
                <div class="faq-list">
                    <ul class="faq-list__ul">
                        @{
                            var num = 1;
                        }
                        @foreach (var item in Model.KnowledgeData_PagedListViewModel)
                        {
                            <li class="faq-list__li">
                                <div class="faq-card">
                                    <div class="faq-card__question">
                                        <div class="faq-card__number">@num.</div>
                                        <h3 class="faq-card__name">@item.title</h3>
                                        <div class="faq-card__icon"></div>
                                    </div>
                                    <div class="faq-card__answer">
                                        @Html.Raw(FunctionService.FormatImagePath(item.content))
                                    </div>
                                </div>
                            </li>
                            num++;
                        }
                    </ul>

                    <nav class="pagination" data-aos="zoom-in">
                        <ul class="pagination__list">
                            @if (ViewBag.pageView != null)
                            {
                                @Html.Raw(FunctionService.FormatImagePath(ViewBag.pageView));
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</main>