﻿@using Web.Service
@model Web.Models.ViewModels.KnowledgeViewModel
<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--inside">
        <div class="m-bn__ctr content">
            @if (Model.PageBanner_ViewModel != null)
            {
                <div class="m-bn__pic" data-aos="zoom-out" data-aos-duration="1500">
                    <figure data-img="full">
                        <img src="@(!string.IsNullOrEmpty(Model.PageBanner_ViewModel.pic) ? Url.Content("~" + Model.PageBanner_ViewModel.pic) : "")" alt="@Model.PageBanner_ViewModel.pic_alt">
                    </figure>
                </div>
            }
            <div class="m-bn__info">
                @if (Model.PageBanner_ViewModel != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(Model.PageBanner_ViewModel.content))
                }
                <div class="cms-tages">
                    <div class="cms-tages__toggle">
                        <div class="cms-tages__toggle-name">@Web.Resource.Resource.萊禮知識庫</div>
                        <div class="cms-tages__toggle-icon" data-icon="menu"></div>
                    </div>
                    <div class="cms-tages__ctr">
                        <ul class="cms-tages__list">
                            <li class="cms-tages__item"><a href="@Url.Action("Lifestyle", "Knowledge")" class="cms-tages__link active">@Web.Resource.Resource.萊禮知識庫</a></li>
                            <li class="cms-tages__item"><a href="@Url.Action("Faq", "Knowledge")" class="cms-tages__link">@Web.Resource.Resource.常見問題</a></li>
                            @*<li class="cms-tages__item"><a href="@Url.Action("Catalog", "Knowledge")" class="cms-tages__link">@Web.Resource.Resource.產品型錄</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- lifestyle section -->
    <div class="lfs-stn">
        <div class="lfs-stn__wp l-wp-1740">
            <h1 class="cms-headline cms-headline--horizontal-line" data-aos="fade-up">
                <span class="cms-headline__main">@Web.Resource.Resource.萊禮知識庫</span>
                <span class="cms-headline__sub">
                    <span class="cms-headline__sub-name">Care of your Healthy Living</span>
                </span>
            </h1>

            <div class="lfs-ctr">
                @foreach (var item in Model.KnowledgeLifestyle_PagedListViewModel.Take(1))
                {
                    <div class="lfs-main">
                        <div class="m-card m-card--lfs-main" data-href="@Url.Action("LifestyleData", "Knowledge", new { guid = item.guid})">
                            <div class="m-card__pic">
                                <div data-imgfix="in">
                                    <img src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="@item.pic_alt">
                                </div>
                            </div>
                            <div class="m-card__recommend">
                                <div class="m-card__recommend-name">@Web.Resource.Resource.熱門推薦</div>
                                <div class="m-card__recommend-star">
                                    @for (var i = 1; i <= int.Parse(item.star); i++)
                                    {
                                        @Html.Raw("★");
                                    }
                                </div>
                            </div>
                            <div class="m-card__txt">
                                <div class="m-card__time">@item.startdate.Value.ToString("yyyy/MM/dd")</div>
                                <h2 class="m-card__title">@item.title</h2>
                                <div class="m-card__depiction">
                                    @Html.Raw(item.content)
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="lfs-sub">
                    @foreach (var item in Model.KnowledgeLifestyle_PagedListViewModel.Skip(1))
                    {
                        <div class="m-card m-card--lfs-sub" data-href="@Url.Action("LifestyleData", "Knowledge", new { guid = item.guid})">
                            <div class="m-card__pic">
                                <div data-imgfix="in">
                                    <img src="styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="@item.pic_alt">
                                </div>
                            </div>
                            <div class="m-card__txt">
                                <div class="m-card__time">@item.startdate.Value.ToString("yyyy/MM/dd")</div>
                                <h2 class="m-card__title">@item.title</h2>
                                <div class="m-card__depiction">
                                    @Html.Raw(item.content)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <nav class="pagination" data-aos="zoom-in">
            <ul class="pagination__list">
                @if (ViewBag.pageView != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(ViewBag.pageView));
                }
            </ul>
        </nav>
    </div>
</main>