﻿@using Web.Service
@model Web.Models.ViewModels.KnowledgeViewModel
<main class="l-wp-main main">
    <!-- banner section -->
    <h2 class="u-visually-hidden">@Model.KnowledgeLifestyle_ViewModel.title</h2>
    <div class="banner-section m-bn m-bn--nw" data-aos="zoom-out" data-aos-duration="1500">
        <div class="m-bn__ctr content">
            <div class="m-bn__pic">
                <figure data-img="full">
                    <img src="@(!string.IsNullOrEmpty(Model.KnowledgeLifestyle_ViewModel.banner) ? Url.Content("~" + Model.KnowledgeLifestyle_ViewModel.banner) : "")" alt="@Model.KnowledgeLifestyle_ViewModel.banner_alt">
                </figure>
            </div>
            <div class="m-bn__info">
                <div class="m-bn__info-wp l-wp-1200">
                    <div class="m-bn__time" data-aos="fade-up">
                        <div class="m-bn__date">@Model.KnowledgeLifestyle_ViewModel.startdate.Value.ToString("yyyy/MM/dd")</div>
                    </div>
                    <div class="m-bn__title" data-aos="fade-down">@Model.KnowledgeLifestyle_ViewModel.title</div>
                    <div class="m-bn__btn">
                        <a href="@Url.Action("Lifestyle", "Knowledge")" class="m-btn m-btn--arrow-left-white">
                            <span class="m-btn__arrow"></span>
                            <span class="m-btn__name">@Web.Resource.Resource.返回列表</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- new section -->
    <div class="nw-stn">
        <div class="nw-stn__wp l-wp-1200" data-aos="fade-up">
            <div id="editor" class="nw-stn__editor">
                @Html.Raw(FunctionService.FormatImagePath(Model.KnowledgeLifestyle_ViewModel.content))
            </div>
        </div>

        <div class="m-gp-btn u-fw-500" data-aos="zoom-in">
            @if (Model.KnowledgeLifestyle_PrevViewModel != null)
            {
                <a href="@Url.Action("LifestyleData", "Knowledge", new { guid = Model.KnowledgeLifestyle_PrevViewModel.guid})" class="m-btn m-btn--arrow-left-gray">
                    <span class="m-btn__arrow"></span>
                    <span class="m-btn__name">@Web.Resource.Resource.前一則</span>
                </a>
            }

            <a href="@Url.Action("Lifestyle", "Knowledge")" class="m-btn m-btn--cr-gray">
                <span class="m-btn__name">@Web.Resource.Resource.返回列表</span>
            </a>

            @if (Model.KnowledgeLifestyle_NextViewModel != null)
            {
                <a href="@Url.Action("LifestyleData", "Knowledge", new { guid = Model.KnowledgeLifestyle_NextViewModel.guid})" class="m-btn m-btn--arrow-right-gray">
                    <span class="m-btn__name">@Web.Resource.Resource.下一則</span>
                    <span class="m-btn__arrow"></span>
                </a>
            }
        </div>
    </div>
</main>