/* Common ===================================================================== */
.loading
    position: fixed
    z-index: 1000000
    top: 0px
    left: 0px
    width: 100vw
    height: 100vh
    pointer-events: none
    +bg-lg(#00204C, #004679, to right)
    +trs(.8)
    &__ctr
        max-width: 370px
        width: 100%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    &__ir
        +flex-center($fd: column)
    &__logo
        max-width: 200px
        margin-bottom: rem(25)
    &__slogan
        font-size: rem(22)
        font-weight: 500
        color: #008CD7
    &__circle
        max-width: 370px
        width: 100%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        &::before
            content: ''
            display: block
            width: 100%
            +pa-h(370, 370)
            background: url('images/common/loading_340x340.png')no-repeat center
            background-size: contain
            transform-origin: 50%, 50%
            animation: m-rotate 4s infinite linear
    &.is-hide
        opacity: 0
        top: 50%
        height: 0px
.cms-headline
    color: #323232
    text-align: center
    width: 100%
    font-size: rem(30)
    font-weight: bold
    +pd(x, 15px)
    span
        display: block
    &__main
        font-family: font(mt)
        font-size: rem(40)
        font-weight: bold
        margin-bottom: rem(15)
    &__sub
        font-weight: normal
        font-size: rem(16)

    &--page
    &--horizontal-line &
        &__main
            font-family: font(base)
            font-size: rem(30)
            font-weight: bold
        &__sub
            font-family: font(lb)
            font-size: rem(20)
            font-weight: bold
            color: #C8C8C8
            position: relative
            &-name
                background: #fff
                display: inline-block
                position: relative
                z-index: 1
                +pd(x, rem(15))
            &::before
                content: ''
                position: absolute
                top: calc(50% - 1px)
                left: 0px
                background: #DCDCDC
                width: 100%
                height: 2px
    +rwdw-max(1440)
        font-size: rem(28)
    +rwdw-max(md)
        &__main
            font-size: rem(32)
            margin-bottom: rem(5)
        &__sub
            font-size: rem(16)

.cms-tages
    margin-bottom: rem(50)
    &__toggle
        +flex-center()
        max-width: 180px
        +mg(x, auto)
        border-radius: 50px
        background: crc(blue)
        padding: rem(10) rem(20)
        &-icon
            margin-left: 8px
    &__mask
        background: rgba(#fff, .8)
        position: fixed
        top: 0px
        left: 0px
        width: 100%
        height: 100vh
    &__ctr
    &__list
        +flex-center()
    &__item
        +mg(x, rem(10))
    &__link
        display: block
        font-weight: 500
        color: #fff
        background: rgba(#000, .2)
        border: 1px solid #fff
        border-radius: 50px
        padding: rem(15) rem(30)
        min-width: 120px
        text-align: center
        +hover
            color: #323232
            background: #fff
        &.active
            color: #323232
            background: #fff
            pointer-events: none
    +rwdw-min(lg)
        &__toggle, &__mask
            display: none
    +rwdw-max(1440)
        margin-bottom: rem(35)
        &__link
            font-size: rem(15)
            padding: rem(10) rem(20)
    +rwdw-max(lg)
        &__ctr
            position: fixed
            z-index: 999999
            top: 0px
            left: 0px
            width: 100%
            height: 100vh
            +flex-center()
            +trs()
            opacity: 0
            pointer-events: none
            transform: scale(1.1)
            &.is-show
                opacity: 1
                pointer-events: auto
                transform: scale(1)
        &__list
            flex-direction: column
            position: relative
            z-index: 1
            max-width: 250px
            width: 100%
            background: #fff
            border-radius: 10px
            +pd(y, rem(25))
            box-shadow: 0 10px 10px rgba(#000, .2)
        &__item
            +mg(x, 0px)
            +mg(y, rem(10))
        &__link

            &.active
                color: #fff
                background: crc(blue)
                pointer-events: none

.cms-cls
    margin-bottom: rem(10)
    &__toggle
        cursor: pointer
        position: relative
        z-index: 1
        &-name
            span:last-child
                display: none
        &-icon
            transform: rotateX(180deg)
            +trs()
    &__ctr
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: 100%
        +flex($ai: center)
        opacity: 0
        pointer-events: none
        transform: scale(.8)
        +trs()
    &__swp
        transform: translateY(45px)
        +pd(x, rem(20))
        .swiper-slide
            height: auto
    &__item
        +flex-center()
        height: 100%
    &__link
        +flex-center()
        flex-shrink: 0
        width: 160px
        height: 160px
        border-radius: 100%
        border: 1px solid #FFF
        font-size: rem(20)
        font-weight: 500
        opacity: .5
        padding: rem(10)
        &:hover
            color: #fff

    &__btn
        position: absolute
        z-index: 1
        top: 50%
        left: 0px
        width: 100%
        transform: translateY(38px)
        pointer-events: none
        &-wp
            +flex($jc: sb)
            +mg(x, auto)
            .m-btn
                &.js
                    &-prev
                        transform: translateX(-20px)
                    &-next
                        transform: translateX(20px)
                &.swiper-button-disabled
                    opacity: 0
                    pointer-events: none

    &.is-open .cms-cls
        &__ctr
            opacity: 1
            pointer-events: auto
            transform: scale(1)
        &__toggle
            &-name span
                &:first-child
                    display: none
                &:last-child
                    display: block
            &-icon
                transform: rotateX(0deg)
        &__btn-wp
            .m-btn
                pointer-events: auto
    +rwdw-min()
        &__toggle:hover
            .cms-cls__toggle
                &-icon
                    transform: rotateX(0deg)
        &__link:hover
            font-size: rem(26)
            width: 200px
            height: 200px
            border-width: 3px
            opacity: 1

        &.is-open .cms-cls__toggle:hover
            .cms-cls__toggle
                &-icon
                    transform: rotateX(180deg)
    +rwdw-max(lg)
        &__btn-wp
            .m-btn.js
                &-prev
                    transform: translateX(-8px)
                &-next
                    transform: translateX(8px)
        &__link
            width: 140px
            height: 140px
            font-size: rem(18)
            br
                display: none
    +rwdw-max(800)
        &__btn-wp
            .m-btn.js
                &-prev
                    transform: translateX(-5px)
                &-next
                    transform: translateX(5px)
    +rwdw-max(sm)
        &__link
            width: 115px
            height: 115px
            font-size: rem(18)