/* Footer ===================================================================== */
/* footer frame */
.ft
    +bg-lg(#00204C, #004679, to right)
    // color: rgba(#fff, .3)
    position: relative
    margin-top: rem(40)
    &__wp
        +flex()
        padding-top: pa(90)
        padding-bottom: pa(85)
        position: relative
        z-index: 2
        pointer-events: none
    +rwdw-max(1100)
        +bg-lg(#00204C, #004679, to bottom)
        &__wp
            justify-content: center
            padding-top: rem(70)
            padding-bottom: 0px
/* footer info */
.ft-info
    +fl-item(385px, t)
    pointer-events: auto
    &__ctr
        padding-bottom: rem(20)        
    &__logo
        display: block
        margin-bottom: rem(30)
        opacity: .3
        +fl-item(140px, t)
        +trs()
        +hover
            opacity: 1
    &__list
    &__item
        color: rgba(#fff, .3)
        &:not(:last-child)
            margin-bottom: rem(10)
    &__name
    &__value
    a
        +hover
            color: rgba(#fff, 1)
    +rwdw-max(1100)
        flex-basis: auto
        max-width: 650px
        width: calc(100% - 30px)
/* footer menu */
.ft-menu
    +fl-item(calc(100% - 385px), t)
    pointer-events: auto
    &__list
        +flex()
        height: 100%
        +mg(x, vw(-30))
    &__item
        +pd(x, vw(30))
        +fl-item(calc(100%/7), t)
        position: relative
        &::before
            content: ''
            position: absolute
            top: 0px
            left: 0px
            width: 1px
            height: 100%
            background: rgba(#fff, .1)
    &__link
        display: block
        color: rgba(#fff, .3)
        &:not(:last-child)
            margin-bottom: rem(10)
        +hover()
            color: rgba(#fff, 1)

        &--title
            color: rgba(#fff, .5)
            font-weight: 500
            font-size: rem(18)
            margin-bottom: rem(15)
    +rwdw-min(1910) // IA PAA NBN LOB MFO GPX NQJ VFLDH
        // margin-left: 25px
        &__item
            &:nth-child(1)
                +fl-item(187px)
            &:nth-child(2)
                +fl-item(186px)
            &:nth-child(3)
                +fl-item(187px)
            &:nth-child(4)
                +fl-item(188px)
            &:nth-child(5)
                +fl-item(186px)
            &:nth-child(6)
                +fl-item(187px)
            &:nth-child(7)
                +fl-item(187px)
    +rwdw-max(1340)
        &__item
            +pd(x, 10px)
        &__link
            &--title
                font-size: rem(16)
    +rwdw-max(1120)
        &__item
            padding-right: 0px
    +rwdw-max(1100)
        display: none

/* footer copyright */
.copyright
    border-top: 1px solid rgba(#fff, .1)
    +flex-center()
    +pd(y, rem(15))
    &__list
        +flex($ai: center)
        color: rgba(#fff, .2)
    &__item
        +pd(x, rem(15))
        position: relative
        &:not(:last-child)::after
            content: ''
            position: absolute
            top: 20%
            right: 0px
            width: 1px
            height: 60%
            background: rgba(#fff, .2)
    &__link
        +hover()
            color: rgba(#fff, 1)
    +rwdw-min(1910) // IA PAA NBN LOB MFO GPX NQJ
        letter-spacing: .2px
    +rwdw-max(1100)
        width: calc(100% - 60px)
        max-width: 650px
        +mg(x, auto)
        justify-content: start
        +pd(y, rem(20))
        &__list
            flex-direction: column
            align-items: start
        &__item
            +pd(x, 0px)
            &::after
                display: none

/* go top */
.gotop
    position: absolute
    z-index: 1
    top: 0px
    left: 50%
    transform: translateX(-50%)