/* Header ===================================================================== */
/* header frame */
.hd
    position: fixed
    z-index: map-get($z-index, menu)
    width: 100%
    top: 0px
    left: 0px
    background-color: rgba(#fff, 1)
    box-shadow: 0 0 10px rgba(#000, .3)
    transition-property: opacity, transform, background-color !important
    &__wp
        +flex($ai: center, $jc: sb)
        // position: relative
        +pd(y, rem(10))
        +trs()
    &.is-move &
        &__wp
            +pd(y, rem(10))
    +rwdw-min()
        &.is-top:not(:hover)
            box-shadow: none
            background-color: rgba(#fff, 0)
            .hd
                &-logo::before
                    background-image: url('images/common/hd-logo-white_125x40.svg')
            .menu
                &__item
                    &::after
                        background: #fff
                &__link
                    color: #fff
                    &::before
                        background: #fff
            .hd-search
                &__btn
                    color: #fff
            .lang
                border-color: $re-color
        &.is-top.is-search-open
            background-color: rgba(#fff, 1)
            box-shadow: 0 0 10px rgba(#000, .3)
            .hd-logo::before
                background-image: url('images/common/hd-logo_125x40.svg')
            .menu
                &__item
                    &::after
                        background: #C8C8C8
                &__link
                    color: #323232
                    &::before
                        background: crc(blue)
            .hd-search
                &__btn
                    color: crc(blue)
            .lang
                border-color: crc(blue)

    +rwdw-max()
        &__wp
            +pd(y, rem(22))
        &.is-open
            background: #E6E6E6
            border-bottom: 1px solid #B4B4B4
        &.is-move
            .hd-toggle
                top: 5px
/* header logo */
.hd-logo
    display: block
    +fl-item(125px, t)
    position: relative
    &::before
        content: ''
        display: block
        width: 100%
        +pa-h(40, 125)
        background-image: url('images/common/hd-logo_125x40.svg')
        background-repeat: no-repeat
        background-position: center
        background-size: contain
        +trs($tag: background)
    
    +rwdw-min(1910) // IA PAA NBN LOB MFO GPX NQJ VFLDH
        // +fl-item(130px)
        transform: translateX(-2px)
    +rwdw-max(1440)
        +fl-item(100px)
    +rwdw-max()
        +fl-item(110px)
        margin-left: rem(7)
    
/* header toggle */
.hd-toggle
    position: fixed
    top: 17px
    right: 22px
    width: 45px
    height: 45px
    border-radius: 100%
    background: crc(blue)
    +trs()
    span
        position: absolute
        top: calc(50% - 1px)
        left: calc(50% - 10px)
        display: block
        background: #fff
        width: 20px
        height: 2px
        border-radius: 50px
        +trs()
        &:first-child
            transform: translateY(5px)
        &:last-child
            transform: translateY(-5px)
    +rwdw-min()
        display: none
    +rwdw-max()
        &.is-active
            span
                &:first-child
                    transform: translateY(0px) rotate(45deg)
                &:nth-child(2)
                    opacity: 0
                &:last-child
                    transform: translateY(0px) rotate(-45deg)
/* header nav */
.hd-nav
    &__main
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        height: 100%
    &__sub
    +rwdw-min(1910) // IA PAA NBN LOB MFO GPX NQJ VFLDH
        &__main
            left: calc(50% + 16px)
        &__sub
            margin-right: 1px
    +rwdw-max(1440)
        &__main
            transform: translate(-55%, -50%)
    +rwdw-max(1290)
        &__main
            transform: translate(-60%, -50%)
    +rwdw-max()
        +flex($fd: column)
        position: absolute
        top: calc(100% + 1px)
        left: 0px
        width: 100%
        height: calc(100vh - 72px)
        overflow-x: hidden
        +trs()
        opacity: 0
        pointer-events: none
        transform: translateY(-10px)
        &__main
            position: static
            transform: translate(0, 0)
            order: 1
        &__sub
            order: 0
        &.is-show
            background: #E6E6E6
            opacity: 1
            pointer-events: auto
            transform: translateY(0px)

/* menu */
.menu
    height: $dna
    &__list
        +flex($ai: center)
        height: $dna
    &__item
        +pd(x, vw(27))
        position: relative
        height: $dna
        &:not(:last-child)::after
            content: ''
            position: absolute
            top: calc(50% - 3px)
            right: -3px
            width: 5px
            height: 5px
            border-radius: 100%
            background: #C8C8C8
            +trs($tag: background)
    &__link
        +flex-center()
        height: $dna
        color: #323232
        font-size: rem(18)
        font-weight: 500
        white-space: nowrap
        position: relative
        &::before
            content: ''
            position: absolute
            bottom: 0px
            left: 50%
            width: 0px
            height: 4px
            background: crc(blue)
            +trs()
        &:hover
            color: #323232

    +rwdw-min()
        &__link
            &:hover::before
                width: 100%
                left: 0px
            &.active::before
                width: 100%
                left: 0px
    +rwdw-min(1910) // IA PAA NBN LOB MFO GPX 
        &__item
            +pd(x, 25px)
            letter-spacing: 0px
    +rwdw-max()
        background: #F0F0F0
        height: auto
        +pd(y, rem(10))
        padding-bottom: 80px
        box-shadow: 0 10px 10px rgba(#000, .2)
        &__list
            flex-direction: column
            +pd(x, rem(30))
            height: auto
        &__item
            width: 100%
            height: auto
            &::after
                display: none
            &:not(:last-child)
                border-bottom: 1px solid #DCDCDC
        &__link
            +pd(y, rem(15))

/* submenu */
.submenu
    +flex($ai: center)
    +rwdw-max()
        +pd(y, rem(20))
        background: #E6E6E6
        flex-wrap: wrap
        justify-content: center
        &__item
            +pd(y, rem(5))
            &--search
                width: 100%
                +flex-center()
            &--lang
                width: 100%
                order: 2
                +flex-center()
            &--catalog
                +pd(x, rem(7))
    +rwdw-max(sm)
        +pd(y, rem(25))
        &__item
            &--search
                margin-bottom: rem(15)
            &--lang
                margin-top: rem(10)
/* submenu search */
.hd-search
    +mg(x, vw(15))
    &__btn
        color: crc(blue)
        font-size: rem(20)
        cursor: pointer
        +trs()
        +hover()
            opacity: .7
    &__ctr
        position: absolute
        top: 100%
        left: 0px
        width: 100%
        background: #F0F0F0
        +pd(y, pa(40))
        +trs()
    &__wp
        +flex($jc: sb)
        .m-fm
            +fl-item(calc(100% - 140px), t)
        .m-btn
            +fl-item(120px, t)
            &__icon
                color: crc(blue)
                font-size: rem(25)
    +rwdw-min()
        &__ctr
            pointer-events: none
            opacity: 0
            transform: translateY(-30px)
            &.is-show
                +rwdw-min()
                    opacity: 1
                    transform: translateY(0px)
                    pointer-events: auto
        &__wp
            .m-btn__icon
                display: none

    +rwdw-max(1440)
        &__btn
            font-size: rem(18)
    +rwdw-max()
        &__btn
            display: none
        &__ctr
            max-width: 280px
            position: relative
            background: #fff
            border-radius: 50px
            +pd(y, 0px)
        &__wp
            .m-fm
                +fl-item(100%)
            .m-btn
                background: $re-color
                position: absolute
                top: 1px
                right: 5px
                padding: 0px
                width: 45px
                height: 45px
                &__name
                    display: none
    +rwdw-max(sm)
        &__wp
            .m-fm__input
                padding: 12px 10px


/* submenu lang */
.lang
    width: 90px
    border-radius: 50px
    background: #fff
    border: 1px solid crc(blue)
    +flex-center()
    padding: rem(5) rem(3)
    +trs($tag: border)
    +mg(x, vw(13))
    &__link
        display: block
        font-size: rem(17)
        font-weight: 500
        color: #B4B4B4
        +mg(x, rem(7))
        &:hover, &.active
            color: crc(blue)
    +rwdw-range(1440, $rwd)
        width: 80px
        +pd(y, rem(3))
        &__link
            font-size: rem(15)
    +rwdw-max()
        width: 105px
        background: $re-color
        padding: rem(8) rem(3)
        &__link
            font-size: rem(19)

/* submenu community */
.hd-community
    +flex($ai: center)
    &__item
        +pd(x, vw(7))
    &__link
        display: inline-block
        font-size: rem(18)
        &[data-icon="facebook"], &[data-icon="ig"]
            +flex-center()
            width: 35px
            height: 35px
            color: #fff
            background: crc(blue)
            border-radius: 100%
            &::before
                transform: translateX(1px)
            +hover()
                background: #B8B8B8
        &[data-icon="line"]
            font-size: rem(35)
            color: crc(blue)
            position: relative
            &::before
                position: relative
                z-index: 1
            &::after
                content: ''
                position: absolute
                top: 15px
                left: calc(20% - 2px)
                width: calc(60% + 4px)
                height: 15px
                background: #fff
            +hover()
                color: #B8B8B8
    +rwdw-min(1910) // IA PAA NBN LOB MFO GPX NQJ
        &__item
            +pd(x, 7px)
        &__link
            font-size: rem(20)
            &[data-icon="facebook"], &[data-icon="ig"]
                width: 40px
                height: 40px
            &[data-icon="line"]
                font-size: rem(40)
                &::after
                    height: 20px
    +rwdw-range(1440, $rwd)
        &__link
            font-size: rem(16)
            &[data-icon="facebook"], &[data-icon="ig"]
                width: 30px
                height: 30px
            &[data-icon="line"]
                font-size: rem(28)
                &::after
                    height: 8px
    +rwdw-max()
        &__item
            +pd(x, rem(7))
        &__link
            font-size: rem(20)
            &[data-icon="facebook"], &[data-icon="ig"]
                width: 45px
                height: 45px
            &[data-icon="line"]
                font-size: rem(45)
                &::after
                    height: 25px

/* submenu catalog */
.hd-catalog
    &__btn
        +flex-center()
        width: 35px
        height: 35px
        font-size: rem(18)
        color: #fff
        background: crc(blue)
        border-radius: 100%
        +trs()
        cursor: pointer
        &::before
                transform: translateX(1px)
    &__ctr
        // display: none
        position: fixed
        z-index: 1
        top: 72px
        left: 0px
        width: 100%
        height: calc(100vh - 72px)
        pointer-events: none
        &.is-open
            pointer-events: auto
            .hd-catalog
                &__ir
                    right: 0px
                    opacity: 1
                &__mask
                    opacity: 1
        &--add
            .hd-catalog__item-head
                font-size: rem(18)
                font-weight: 500
                color: #323232
                background: #fff
                border-top: 1px solid #DCDCDC
                border-bottom: 1px solid #DCDCDC
    &__ir
        position: absolute
        z-index: 1
        top: 0px
        right: -20px
        max-width: 385px
        width: 100%
        height: 100%
        background: #fff
        overflow-x: hidden
        box-shadow: 0 0 10px rgba(#000, .3)
        opacity: 0
        +trs()
    &__head
        color: #fff
        background: #004098
        +flex($ai: center, $jc: sb)
        padding: rem(20) rem(10) rem(20) rem(30)
        &-name
            font-size: rem(18)
            font-weight: 500
        &-tool
            +flex($ai: center)
            +mg(x, rem(-10))
        &-btn
            cursor: pointer
            font-size: rem(18)
            +mg(x, rem(10))
            +trs()
            &--add
                width: 20px
                height: 20px
                border-radius: 100%
                background: #fff
                position: relative
                +flex-center()
                &::before, &::after
                    content: ''
                    position: absolute
                    top: calc(50% - 1px)
                    left: calc(50% - 5px)
                    width: 10px
                    height: 2px
                    background: #004098
                &::before
                    transform: rotate(90deg)
            &--close
                position: relative
                width: 20px
                height: 20px
                &::before, &::after
                    content: ''
                    position: absolute
                    top: calc(50% - 2px)
                    left: 0px
                    width: 100%
                    height: 1px
                    background: #fff
                &::before
                    transform: rotate(45deg)
                &::after
                    transform: rotate(-45deg)

    &__item
        &-head
            background: #F5F5F5
            padding: rem(20) rem(10) rem(20) rem(30)
            +flex($ai: center, $jc: sb)
            &.is-edit
                .el
                    &-name
                        display: none
                    &-edit
                        display: flex
                .m-btn
                    &--edit
                        display: none
                    &--save
                        display: block
        &-name
            font-size: rem(18)
            font-weight: 500
            .el
                &-name
                    // display: none
                &-edit
                    width: calc(100% - 10px)
                    align-items: center
                    display: none
                &-input
                    +fl-item(calc(90% - 20px), t)
                    margin-right: 10px
                    background: #fff
                    border: 1px solid #ccc
                    border-radius: 4px
                    padding: rem(1)
                    font-size: rem(15)
                    font-weight: normal

        &-tool
            +flex($ai: center)
            +mg(x, rem(-10))
        &-btn
            cursor: pointer
            +pd(x, rem(10))
            font-size: rem(18)
            color: #B4B4B4
            +trs()
            .m-btn
                    &--edit
                        display: block
                    &--save
                        display: none
        &-body
            > *
                padding: rem(20) rem(10) rem(20) vw(30)
                &:not(:last-child)
                    border-bottom: 1px solid #DCDCDC

    &__info
        background: #F5F5F5
        > *
            padding: 0 rem(10) 0 rem(30)
        &-name
            font-size: rem(18)
            font-weight: 500
            color: #323232
            padding-top: rem(25)
            margin-bottom: rem(15)
        &-select
            border-bottom: 1px solid #DCDCDC
            padding-bottom: rem(20)
            .el-radio:not(:last-child)
                margin-bottom: rem(10)
        &-input
            +pd(y, rem(5))
            .el-input
                +flex($ai: center)
                label
                    +fl-item(16px, t)
                    height: 16px
                    position: relative
                    margin-bottom: 0px
                    &::before, &::after
                        position: absolute
                        top: calc(50% - 1px)
                        left: 0px
                        content: ''
                        width: 100%
                        height: 2px
                        background: #969696
                    &::before
                        transform: rotate(90deg)
                input
                    font-weight: normal
    &__save
        +pd(y, rem(30))
        border-top: 1px solid #DCDCDC
        +flex-center()
        > *
            +mg(x, rem(7))
            width: 100px

    &__mask
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: 100%
        background: rgba(#000, .4)
        opacity: 0

    +rwdw-min(1910) // IA PAA NBN LOB LOMF GPX NQJ
        padding-left: vw(7)
        &__btn
            font-size: rem(20)
            width: 40px
            height: 40px
        &__ctr
            top: 81px
            height: calc(100vh - 81px)
    +rwdw-min()
        &__btn:hover
            background: #b8b8b8
        &__head-btn:hover
            opacity: .5
        &__item-btn:hover
            color: #333
    +rwdw-range(1440, $rwd)
        &__btn
            width: 30px
            height: 30px
            font-size: rem(16)
        &__ctr
            top: 83px
            height: calc(100vh - 83px)
    +rwdw-max()
        &__btn
            +pd(x, rem(7))
            width: 45px
            height: 45px
            font-size: rem(20)
        &__ctr
            top: 80px
            height: calc(100vh - 80px)