// Media 
//-----------------------------------------------------------------------------
// PC: 1920x1080, 1680x1050, 1600x900, 1440x900, 1366x800, 1366x768, 1024x768
// Pad: 800x1280, 768x1024, 600x1024, 600x962
// Phone: [iPhone 6/7/8 Plus, 414x736] [iPhone 6/7/8, 375x667] [iPhone 5/SE, 320x568]
//-----------------------------------------------------------------------------
$xl: 1200
$lg: 992
$md: 768
$sm: 575

$rwd: 1200 //Menu轉換手機尺寸
$rwd-pc: 1366 //電腦尺寸
$rwd-pcs: $xl //小電腦尺寸
$rwd-pad: $lg //平板尺寸
$rwd-pads: $md //小平板尺寸
$rwd-phone: $sm //手機尺寸
$rwd-phones: 320 //小手機尺寸

/* Reset ====================================================================== */
+md-reset()

/* Default ==================================================================== */
// 預設字級 16px
$default: (htmlFz: 10, bodyFz: 16, bodyLh: 24, bodyCr: #505050)

// Font Main  預設 ( Arial, 'Microsoft JhengHei', sans-serif )
$font-main: 'Noto Sans TC', Arial, 'Microsoft JhengHei', sans-serif !default
$font: (dfk:'DFKai-sb',
base: 'Noto Sans TC',
mt: 'Montserrat',
lb: 'Libre Baskerville',
l: 'Lato')

// Color Common
$color: (hover: #007bff,
black: #000,
blue: #007bff,
indigo: #6610f2,
purple: #6f42c1,
pink: #e83e8c,
red: #dc3545,
orange: #fd7e14,
yellow: #ffc107,
green: #28a745,
teal: #20c997,
cyan: #17a2b8,
white: #fff,
gray: #6c757d,
gray-dark: #343a40,
primary: #007bff,
secondary: #6c757d,
success: #28a745,
info: #17a2b8,
warning: #ffc107,
danger: #dc3545,
light: #f8f9fa,
dark: #343a40)

// Color Custom
$colorCustom: (ci: #000,
blue: #004098)

+md-default()

/* Typography ================================================================= */
// Font Awesome Icon
$fa: 'Font Awesome 5 Solid','Font Awesome 5 Regular','Font Awesome 5 Brands'
$fas: 'Font Awesome 5 Solid'
$far: 'Font Awesome 5 Regular'
$fab: 'Font Awesome 5 Brands'

// Icomoon ICON
$icm: 'icomoon'

$iconGlyph: $icm
$icons: (add: \e900,
arrow-left: \e901,
arrow-right: \e902,
arrow-top: \e903,
catalog: \e904,
close: \e905,
delete: \e906,
download: \e907,
edit: \e908,
facebook: \e909,
hook: \e90a,
ig: \e90b,
line: \e90c,
menu: \e90d,
play: \e90e,
search: \e90f,
page-left-d: \e910,
page-left: \e911,
page-right: \e912,
page-right-d: \e913,
play-fillet: \e914,
arrow-bottom: \e915,
cart: \e916,
twitter: \e917,
back: \e918,
ask: \e919,
save: \e91a)

+md-typography()

/* Keyframes ================================================================== */
+md-keyframes()
    
/* Module Layout ============================================================== */
/* Main (l-wp-main) ----------------------------------------------------------- */
+md-main()
    min-height: calc(100vh - 451px)

/* Wrap (l-wp) ---------------------------------------------------------------- */
$wpRange: 1200 // 基本範圍
$wpBoth: 20 // 左右間距(px)
$wpCustomName: false
$wpArray: 1840, 1820, 1800, 1790, 1740, 1680, 1660, 1630, 1610, 1590, 1570, 1520, 1500, 1470, 1440, 1430, 1400, 1380, 1366, 1200, 1194, 1024, 995, 990, 940, 780
+md-wrap()
/* Bootstrap-Grid ------------------------------------------------------------- */
// +bootstrap-grid()

/* Grid (l-gd) ---------------------------------------------------------------- */
$gridArray: 2, 3, 4
+md-grid()

/* Form Elements (m-fm) ------------------------------------------------------- */
+md-input()
    &--hd-search
        +flex($fd: row, $ai: center)
        background: #fff
        border-radius: 5px
        +pd(x, rem(30))

        .m-fm
            &__name
                font-size: rem(16)
                font-weight: 500
                white-space: nowrap
                margin: 0px
                padding-right: 7px
            &__input
                background: $re-color
                border: none
                &:focus
                    box-shadow: none
                //     -webkit-fill-color: $re-color
                // &:-webkit-autofill
                //     background: $re-color
                //     &:hover, &:focus, &:active
                //         background: $re-color
        +rwdw-max()
            background: $re-color
            +pd(y, 0px)
            .m-fm
                &__name
                    display: none
                &__input
                    +fl-item(100%)

    &--ser-inquiry
        flex-direction: column
        +pd(y, rem(20))
        .m-fm
            &__name
                max-width: 100%
                margin-bottom: rem(15)
            &__list
                width: 100%
            &__item
                border-top: 1px solid #DCDCDC

/* Button (m-btn) ------------------------------------------------------------- */   
+md-button()
    &__icon
        &::before
            font-family: $icm
    &--cr
        &-gray
            color: #969696
            +hover()
                color: $dna

/* button go top */
.m-btn--gotop
    &::after
        content: ''
        position: absolute
        top: -20px
        right: -29px
        +bg-lg(#003262, #003363, 45deg)
        width: 94px
        height: 94px
        transform: rotate(45deg)
        pointer-events: none
    .m-btn
        &__name
            font-family: font(l)
            position: relative
            z-index: 1
            +flex-center($fd: column)
            color: #fff
            font-weight: bold
            opacity: .3
            transform: translateY(-13px)
            +trs()
            &::before
                font-weight: normal
                font-size: rem(25)
    +hover
        .m-btn__name
            opacity: 1
    +rwdw-max(1100)
        &::after
            +bg-lg(#00204B, #002956, 135deg)

/* fillet [extend] */
[class*="m-btn--fillet"]
    border-radius: 5px
    padding: rem(15) rem(30)
    +hover
        opacity: .7
/* fillet [style] */
.m-btn--fillet
    &-blue
        color: #fff
        background: crc(blue)

/* fillet2 [extend] */
[class*="m-btn--fillet2"]
    border-radius: 10px
    padding: rem(15) rem(30)
    +hover
        color: #fff
        opacity: .7
    +rwdw-max(320)
        +pd(x, rem(15))

/* fillet2 [style] */
.m-btn--fillet2
    &-blue
        color: #fff
        background: crc(blue)
    &-dark-gray
        color: #fff
        background: #3C3C3C

/* circle [extend] */
[class*="m-btn--circle"]
    width: 60px
    height: 60px
    border-radius: 100%
    border-width: 1px
    border-style: solid
    +trs()
    .m-btn
        &__icon
            width: 100%
            height: 100%
            +flex-center()
    +hover
        box-shadow: 0 0 10px rgba(#000, .3)
    +rwdw-max()
        width: 40px
        height: 40px
/* circle [style] */
.m-btn--circle
    &-white
        color: #fff
        border-color: #fff
        .m-btn__icon
            font-size: rem(18)
        +rwdw-max()
            .m-btn__icon
                font-size: rem(14)
    &-blue
        color: #008CD7
        border-color: #008CD7
        background: #fff
        .m-btn__icon
            font-size: rem(18)
        +rwdw-max()
            .m-btn__icon
                font-size: rem(14)

/* semicircle [extend] */
[class*="m-btn--semicircle"]
    border-radius: 50px
/* semicircle [style] */
.m-btn--semicircle

/* arrow-left [extend] */
[class*="m-btn--arrow-left"]
    max-width: 120px
    .m-btn
        &__arrow
            width: 45px
            display: inline-block
            position: relative
            +trs()
            &::before, &::after
                content: ''
                left: 0px
                bottom: 0px
                position: absolute
                height: 2px
            &::before
                width: 17px
                transform-origin: 0 0
                transform: rotate(-30deg)
            &::after
                width: 100%
        &__name
            display: inline-block
            width: auto
            margin-left: rem(10)
    +rwdw-min()
        &:hover
            color: $dna
            .m-btn
                &__arrow
                    transform: translateX(-10px)
                &__name
                    color: $dna
/* arrow-left [style] */
.m-btn--arrow-left
    &-white
        color: #fff
        .m-btn__arrow
            &::before, &::after
                background: #fff
    &-gray
        color: #969696
        .m-btn__arrow
            &::before, &::after
                background: #969696

/* arrow-right [extend] */
[class*="m-btn--arrow-right"]
    max-width: 120px
    .m-btn
        &__arrow
            width: 45px
            display: inline-block
            position: relative
            +trs()
            &::before, &::after
                content: ''
                right: 0px
                bottom: 0px
                position: absolute
                height: 2px
            &::before
                width: 17px
                transform-origin: 100% 100%
                transform: rotate(30deg)
            &::after
                width: 100%
        &__name
            display: inline-block
            width: auto
            margin-right: rem(10)
    +hover
        color: $dna
        .m-btn
            &__arrow
                transform: translateX(10px)
            &__name
                color: $dna
/* arrow-right [style] */
.m-btn--arrow-right
    &-gray
        color: #969696
        .m-btn__arrow
            &::before, &::after
                background: #969696

/* page custom button */
/* common button */
.m-btn--cms-cls
    color: #fff
    +hover()
        color: #FF8303
/* header button */
.m-btn--hd-delete
    width: 25px
    height: 25px
    border-radius: 100%
    background: #F0F0F0
    border: 1px solid #CACACA
    .m-btn__name
        position: relative
        &::before, &::after
            content: ''
            position: absolute
            top: calc(50% - 1px)
            left: calc(50% - 5px)
            width: 10px
            height: 2px 
            background: #004098
        &::before
            transform: rotate(45deg)
        &::after
            transform: rotate(-45deg)
    +rwdw-min()
        &:hover
            opacity: .5
/* index button */
.m-btn--circle-idx-pro
    background: rgba(#fff, .3)
    border: none
    box-shadow: 0 10px 20px rgba(#000, .3)
    .m-btn__name
        position: relative
        &::before, &::after
            content: ''
            position: absolute
            top: calc(50% - 1px)
            left: calc(50% - 10px)
            width: 20px
            height: 2px
            border-radius: 50px
            background: #fff
        &::before
            transform: rotate(90deg)
    +rwdw-min()
        &:hover
            box-shadow: 0 10px 20px rgba(#000, .3)
            background: #FF8303
    +rwdw-max(1680)
        width: 45px
        height: 45px
        .m-btn__name
            &::before, &::after
                width: 20px
                left: calc(50% - 10px)
    +rwdw-max()
        .m-btn__name
            &::before, &::after
                left: calc(50% - 5px)
                width: 10px

.m-btn--semicircle
    &-idx-pro
        font-family: font(mt)
        color: #323232
        background: #F0F0F0
        font-weight: bold
        width: 300px
        padding-top: 25px
        padding-bottom: 22px
        +rwdw-max(sm)
            font-size: rem(14)
            width: 180px
            padding-top: 15px
            padding-bottom: 14px

    &-idx-read
        font-family: font(mt)
        background: #fff
        font-weight: bold
        color: crc(blue)
        width: 200px
        padding: rem(20) rem(5)
        +rwdw-max(sm)
            font-size: rem(14)
            width: 160px
            padding-top: 15px
            padding-bottom: 14px

.m-btn--play-idx
    width: 90px
    height: 90px
    border-radius: 100%
    border: 2px solid #fff
    color: #fff
    font-size: rem(32)
    .m-btn__icon
        width: 100%
        height: 100%
        +flex-center()
        transform: translateX(5%)
    +rwdw-max()
        width: 45px
        height: 45px
        font-size: rem(15)

/* service */
.m-btn--ser-delete
    .m-btn__name
        width: 40px
        height: 40px
        position: relative
        +flex-center()
        &::before, &::after
            content: ''
            position: absolute
            top: 50%
            left: 25%
            width: 50%
            height: 2px
            background: #0D92D9
        &::before
            transform: rotate(45deg)
        &::after
            transform: rotate(-45deg)
    +rwdw-min()
        &:hover
            opacity: .5

.m-btn--semicircle
    &-ser-stronghold
        width: 120px
        padding: rem(20) rem(5)
        background: #fff
        box-shadow: 0 10px 10px rgba(#000, .1)
        +hover
            color: crc(blue)
            box-shadow: 0 5px 10px rgba(#000, .1)
        +rwdw-max(pc)
            +pd(y, rem(15))

/* googlemap */
.m-btn--googlemap
    +trs()
    .m-btn__pic
        display: block
        width: 80px
        height: 85px
        span
            width: 100%
            display: block
            +pa-h(85, 80)
    +rwdw-min()
        &:hover
            transform: scale(1.05)

/* knowledge catalog button */
.m-btn--kd-catalog
    width: 70px
    height: 70px
    border-radius: 100%
    color: #323232
    background: #fff
    box-shadow: 0 0 20px rgba(#000, .2)
    +mg(x, rem(11))
    .m-btn
        &__icon
            +flex-center()
            width: 100%
            height: 100%
            font-size: rem(32)
            transform: translateX(1px)
    +hover()
        color: #fff
        background: #323232
    +rwdw-max(sm)
        width: 45px
        height: 45px
        .m-btn__icon
            font-size: rem(18)

/* products button */
.m-btn--circle-pros-all
    background: #FF8303
    border: none
    box-shadow: 0 10px 20px rgba(#000, .3)
    .m-btn__name
        position: relative
        &::before, &::after
            content: ''
            position: absolute
            top: calc(50% - 1px)
            left: calc(50% - 10px)
            width: 20px
            height: 2px
            border-radius: 50px
            background: #fff
        &::before
            transform: rotate(90deg)

.m-btn--circle-prol-cls
    color: crc(blue)
    border-color: $re-color
    width: 50px
    height: 50px
    +hover
        border-color: crc(blue)
        box-shadow: none

.m-btn--circle-prod-more
    width: 50px
    height: 50px
    color: #004098
    box-shadow: 0 0 10px rgba(#000, .2)
    border: none
    .m-btn__icon

.m-btn--circle-prod-more-card
    width: 50px
    height: 50px
    background: #FF8303
    border: none
    box-shadow: 0 10px 20px rgba(#000, .3)
    .m-btn__name
        position: relative
        &::before, &::after
            content: ''
            position: absolute
            top: calc(50% - 1px)
            left: calc(50% - 10px)
            width: 20px
            height: 2px
            border-radius: 50px
            background: #fff
        &::before
            transform: rotate(90deg)

.m-btn--play-prod
    width: 75px
    height: 75px
    border-radius: 100%
    border: 2px solid rgba(#fff, .5)
    color: #fff
    font-size: rem(25)
    .m-btn__icon
        width: 100%
        height: 100%
        +flex-center()
        transform: translateX(5%)
    +rwdw-max()
        width: 45px
        height: 45px
        font-size: rem(15)

.m-btn--prol
    +flex()
    padding: rem(15)
    .m-btn
        &__icon
            flex-shrink: 0
            width: 20px
            height: 20px
            color: #008CD7
            border-radius: 100%
            border: 1px solid #C8C8C8
            background: #F0F0F0
            font-size: rem(14)
            +flex-center()
            &::before
                transform: translate(1px, 0px)
        &__name
            +fl-item(calc(100% - 20px))
            justify-content: start
            padding-left: rem(10)

[class*="m-btn--prod-pic"]
    +fl-item(280px, t)
    +flex($ai: center)
    span
        display: block
    .m-btn
        &__icon
            +fl-item(50px, t)
            height: 50px
            border-radius: 100%
            border: 1px solid #004098
            color: #004098
            +flex-center()
        &__depiction
            color: #7B7B7B
            font-size: rem(14)
            margin-bottom: rem(5)
        &__name
            height: auto
            color: #323232
            margin-bottom: rem(8)
            letter-spacing: .2px
        &__model
            color: #727272
            font-size: rem(14)
    +rwdw-min()
        &:hover
            opacity: .5
    +rwdw-max(1366)
        .m-btn
            &__icon
                +fl-item(30px)
                height: 30px
                font-size: rem(12)
    +rwdw-max(md)
        +fl-item(125px)
        .m-btn
            &__txt
                +flex()
            &__depiction
                margin-bottom: 0px
            &__name
                display: none
            &__model
                display: none

.m-btn--prod-pic-left
    text-align: left
    .m-btn
        &__icon
            margin-right: vw(20)
    +rwdw-max(md)
        .m-btn
            &__txt
                justify-content: start
            &__icon
                margin-right: rem(8)
.m-btn--prod-pic-right
    text-align: right
    .m-btn
        &__icon
            margin-left: vw(20)
    +rwdw-max(md)
        .m-btn
            &__txt
                justify-content: flex-end
            &__icon
                margin-left: rem(8)
.m-btn--prod-btn
    +flex-center()
    max-width: 220px
    .m-btn
        &__icon
            font-size: rem(20)
            color: #969696
            &::before
                +trs()
        &__name
            padding-left: rem(12)
            color: #323232
            font-weight: 500
            justify-content: flex-start
    +rwdw-min()
        &:hover
            .m-btn
                &__icon
                    color: #008CD7
                &__name


/* video button */
.m-btn--play-video
    width: 80px
    height: 80px
    border-radius: 100%
    box-shadow: 0 0 30px rgba(#000, .2)
    color: #008CD7
    background: #fff
    font-size: rem(30)
    .m-btn__icon
        width: 100%
        height: 100%
        +flex-center()
        transform: translateX(5%)
        pointer-events: none
    +rwdw-max()
        width: 60px
        height: 60px
        font-size: rem(24)
    +rwdw-max(sm)
        width: 45px
        height: 45px
        font-size: rem(15)

/* Card (m-card) -------------------------------------------------------------- */
+md-card()
/* card header */
.m-card--hd-catalog
    +flex($ai: center, $fw: wrap)
    +pd(y, rem(15))
    .m-card
        &__pic
            +fl-item(95px, t)
            [data-imgfix]
                +pa-h(240, 260)
        &__txt
            +fl-item(calc(100% - 95px - 40px), t)
            padding-left: rem(20)
        &__title
            color: #424242
            font-weight: bold
            margin-bottom: rem(5)
        &__number
            font-size: rem(15)
            color: #646464
        &__btn
            +fl-item(100%, t)
            +flex($jc: end)
            .el-input
                input
                    display: none
                    &:checked + label::before
                        opacity: 1
                label
                    cursor: pointer
                    width: 25px
                    height: 25px
                    border-radius: 100%
                    background: #F0F0F0
                    border: 1px solid #CACACA
                    position: relative
                    +flex-center()
                    &::before
                        opacity: 0
                        color: #008CD7
                        font-family: $icm
                        content: '\e90a'
                        transform: translateX(1px)
    +rwdw-max(480)
        flex-direction: column
        +pd(y, rem(5))
        .m-card
            &__pic
                +fl-item(150px)
            &__txt
                +fl-item(100%)
                text-align: center
/* card index */
.m-card--idx
    &-nws
        max-width: 630px
        +mg(x, auto)
        .m-card
            &__pic
                +trs()
                [data-imgfix]
                    +pa-h(440, 630)
                +hover
                    .m-card__mask
                        opacity: 1
            &__mask
                +flex-center()
                background: rgba(#000, .5)
                opacity: 0
                +trs()
                i
                    display: block
                    width: 70px
                    height: 70px
                    border-radius: 100%
                    border: 2px solid #fff
                    position: relative
                    &::before, &::after
                        position: absolute
                        top: calc(50% - 1px)
                        left: calc(50% - 10px)
                        content: ''
                        width: 20px
                        height: 2px
                        background: #fff
                    &::after
                        transform: rotate(90deg)
            &__info
                padding: rem(45) vw(45)
                +trs()
            &__time
                margin-bottom: rem(10)
            &__cls
                font-weight: 600
                color: #004098
            &__date
                color: #008CD7
            &__title
                font-size: rem(24)
                font-weight: 600
                color: #323232
                margin-bottom: rem(20)
            &__depiction
                line-height: lh(16, 30)
                letter-spacing: .5px
                +text-overflow(3)
        +rwdw-max(1366)
            .m-card
                &__title
                    font-size: rem(25)
        +rwdw-max(lg)
            .m-card
                &__info
                    +pd(x, 0px)
        +rwdw-max(md)
            .m-card
                &__info
                    +pd(y, rem(25))
                &__title
                    font-size: rem(18)
                &__depiction
                    line-height: lh(16,34)
                    +text-overflow(4)
        +rwdw-max(md)
            .m-card__depiction
                    line-height: lh()
    &-pro
        position: relative
        // pointer-events: none
        .m-card
            &__ctr
                position: absolute
                z-index: 1
                left: 0px
                bottom: 40px
                width: 100%
                +pd(x, vw(45))
                +flex($jc: sb, $ai: center)
            &__info
                color: #fff
                +fl-item(280px, t)
            &__title
                display: block
                font-size: rem(30)
                font-weight: bold
                margin-bottom: rem(10)
            &__depiction
                line-height: lh(16, 30)
                padding-left: rem(60)
                position: relative
                +text-overflow(2)
                &::before
                    content: ''
                    position: absolute
                    top: 15px
                    left: 26px
                    width: 20px
                    height: 1px
                    background: #fff
            &__btn
                .m-btn
                    pointer-events: auto
            &__bg
                transform: skewX(-3deg)
                [data-imgfix]
                    // transform: skewX(3deg) scale(1.09)
                    // transform: matrix(1, 0, 0, 1, .5, 0)
                    +pa-h(700, 510)
        +rwdw-min()
            &:hover .m-card__bg img
                transform: scale(1.05)
        +rwdw-max(1680)
            .m-card
                &__ctr
                    +pd(x, rem(30))
        +rwdw-max(1440)
            .m-card
                &__title
                    font-size: rem(25)
        // +rwdw-max()
        //     pointer-events: auto
        +rwdw-max(1100)
            .m-card
                &__ctr
                    +pd(x, vw(45))
        +rwdw-max(lg)
            .m-card__ctr
                +pd(x, 35px)
        +rwdw-max(md)
            .m-card
                &__info
                    +fl-item(100%)
                &__btn
                    display: none
        +rwdw-max(680)
            .m-card
                &__ctr
                    bottom: 20px
                    +pd(x, 15px)
                &__title
                    text-align: center
                    font-size: rem(16)
                &__depiction
                    display: none
    &-video
        cursor: pointer
        .m-card
            &__video
                +trs()
                [data-imgfix]
                    +pa-h(480, 720)
                    > *
                        +trs()
            &__btn-lbox
                z-index: 1
            &__mask
                background: rgba(#000, .3)
                +trs()
            &__name
                display: block
                width: 100%
                text-align: center
                color: #323232
                +pd(y, rem(24))
        +hover
            .m-card
                &__video
                    [data-imgfix] > *
                        transform: scale(1.05)
                &__mask
                    opacity: 0
        +rwdw-max()
            .m-card
                &__name
                    +pd(y, rem(14))
    &-other
        width: 100%
        position: relative
        cursor: pointer
        .m-card
            &__ctr
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                z-index: 2
                color: #fff
                +flex-center()
            &__pic
                +fl-item(100px, t)
                [data-imgfix]
                    +pa-h(100, 100)
            &__txt
                margin-left: rem(20)
                white-space: nowrap
            &__title
                font-size: rem(26)
                font-weight: bold
                margin-bottom: rem(10)
            &__bg
                position: relative
                &::before
                    content: ''
                    position: absolute
                    z-index: 1
                    top: 0px
                    left: 0px
                    width: 100%
                    height: 100%
                    background: crc(blue)
                    opacity: 0
                    +trs()
                [data-imgfix]
                    +pa-h(300, 640)
                [data-imgfix="full"] img
                    width: 100%
                    height: $re
        +rwdw-min()
            &:hover
                .m-card
                    &__bg::before
                        opacity: .5
        +rwdw-range(1000, $lg)
            .m-card__title
                font-size: rem(20)
                margin-bottom: rem(5)
        +rwdw-max(900)
            .m-card
                &__ctr
                    width: 280px
                    justify-content: flex-start
                &__bg
                    [data-imgfix]
                        +pa-h(300, 900)
        +rwdw-max(sm)
            .m-card
                &__title
                    font-size: rem(20)
                    margin-bottom: rem(5)
                &__bg
                    [data-imgfix]
                        +pa-h(200, 375)
                    [data-imgfix="full"] img
                        width: $re
                        height: 100%
/* card about */
.m-card--abt-profession
    color: #323232
    text-align: center
    +pd(x, rem(10))
    .m-card
        &__pic
            width: 120px
            +pa-h(50, 120)
            +mg(x, auto)
            background-size: $re
            margin-bottom: rem(25)
        &__title
            font-weight: bold
            font-size: rem(18)
            margin-bottom: rem(13)
        &__list > *:not(:last-child)
            margin-bottom: rem(8)
    +rwdw-max(1100)
        .m-card
            &__pic
                margin-bottom: rem(1)
/* card news */
.m-card--nws
    background: #F5F5F5
    +trs()
    .m-card
        &__pic
            overflow: hidden
            figure
                +pa-h(300, 400)
                +trs()
        &__info
            padding: rem(35) vw(40) rem(50) vw(40)
        &__time
            text-align: center
            font-family: font(mt)
            color: #008CD7
            margin-bottom: rem(10)
        &__title
            color: #323232
            display: block
            text-align: center
            font-weight: 500
            font-size: rem(20)
            margin-bottom: rem(10)

        &__depiction
            line-height: lh(16, 30)
            +text-overflow(4)
        
    +hover
        box-shadow: 0 10px 20px rgba(#000, .2)
        .m-card__pic figure
            transform: scale(1.05)
    +rwdw-max(1440)
        .m-card
            &__info
                +pd(y, rem(25))
    +rwdw-max(sm)
        .m-card
            &__info
                +pd(x, rem(15))
            &__depiction
                line-height: lh()
/* knowledge catalog card */
.m-card--catalog
    .m-card
        &__pic
            margin-bottom: rem(25)
            // background: #008CD7
            box-shadow: 0 0 20px rgba(#000, .2)
            [data-imgfix]
                +pa-h(320, 230)
        &__mask
            opacity: 0
            background: rgba(#008CD7, .7)
            +trs()
        &__btn-lbox
            +flex()
        &__name
            display: block
            text-align: center
            font-weight: 500
            color: #323232
            +mg(y, rem(25))
    +rwdw-min()
        &:hover
            .m-card
                &__mask
                    opacity: 1
    +rwdw-max()
        .m-card
            &__pic
                box-shadow: none
                [data-imgfix]
                    box-shadow: 0 0 20px rgba(#000, .2)
            &__mask
                position: static
                opacity: 1
                background: $re-color
            &__btn-lbox
                +flex-center()
                +pd(y, rem(10))
                position: static
                transform: translate(0px, 0px)
    +rwdw-max(md)
        .m-card
            &__pic
                margin-bottom: rem(15)
            &__name
                +mg(y, rem(15))
/* knowledge lifestyle card */
.m-card
    &--lfs-main
        height: 100%
        position: relative
        .m-card
            &__pic
                +trs()
                margin-bottom: pa(250, 870)
                [data-imgfix]
                    +pa-h(653, 870)
                    +trs()
            &__recommend
                position: absolute
                top: 20px
                left: -5px
                z-index: 1
                +flex($ai: center)
                border-top-right-radius: 50px
                border-bottom-right-radius: 50px
                background: #1E1E1E
                padding: rem(7) rem(17) rem(9)
                &-name
                    color: #fff
                    font-weight: 500
                &-star
                    color: #008CD7
                    padding-left: rem(5)
            &__txt
                position: absolute
                top: pa(520, 870)
                left: 0px
                bottom: 0px
                max-width: pa(640, 870)
                width: 100%
                background: #F5F5F5
                padding: rem(40) vw(40) rem(75) vw(40)
                &::after
                    pointer-events: none
                    content: ''
                    position: absolute
                    bottom: 0px
                    right: 0px
                    border-style: solid
                    border-width: 30px
                    border-color: $re-color
                    border-right-color: #fff
                    border-bottom-color: #fff
            &__time
                font-family: font(mt)
                color: #008CD7
                margin-bottom: rem(10)
            &__title
                color: #323232
                font-size: rem(20)
                font-weight: 500
                margin-bottom: rem(10)
                letter-spacing: .5px
            &__depiction
                color: #505050
                line-height: lh(16, 30)
                letter-spacing: .4px
                max-height: 190px
                height: 100%
                overflow: hidden
        +rwdw-min()
            &:hover
                .m-card
                    &__pic 
                        box-shadow: 0 0 20px rgba(#000, .2)
                        [data-imgfix]
                            transform: scale(1.05)
                    // &__txt
                    //     background: #fff
                    //     box-shadow: 0 0 20px rgba(#000, .2)
        +rwdw-max(1440)
            .m-card
                padding-top: rem(30)
                padding-bottom: rem(45)
                &__txt
                    max-width: pa(600, 705)
                    &::after
                        border-width: 20px
                &__depiction
                    max-height: 140px
        +rwdw-max(1250)
            .m-card__txt
                max-width: 100%
        +rwdw-max(1195)
            .m-card
                &__pic
                    margin-bottom: 0px
                    [data-imgfix]
                        +pa-h(580, 768)
                &__txt
                    position: static
                    padding-top: rem(10)
                    padding-bottom: rem(30)
        +rwdw-max(md)
            .m-card
                &__title
                    font-size: rem(18)
        +rwdw-max(sm)
            .m-card
                &__recommend
                    display: none
                    
                &__txt
                    +pd(x, 15px)
                    &::after
                        border-width: 15px
                &__depiction
                    max-height: 125px
                    line-height: lh()

    &--lfs-sub
        +flex($ai: center)
        background: #F5F5F5
        +trs()
        .m-card
            &__pic
                +fl-item(pa(280, 800), t)
                [data-imgfix]
                    +pa-h(210, 280)
                    +trs()
            &__txt
                +fl-item(calc(100% - #{pa(280, 800)}), t)
                padding: rem(20) vw(40)
            &__time
                font-family: font(mt)
                color: #008CD7
                margin-bottom: rem(10)
            &__title
                color: #323232
                font-size: rem(20)
                font-weight: 500
                margin-bottom: rem(10)
                letter-spacing: .2px
            &__depiction
                color: #505050
                +text-overflow(2)
                line-height: lh(16, 30)
                letter-spacing: .02px
                > *
                    +text-overflow(2)
                    &:not(:first-child)
                        display: none
        +rwdw-min()
            &:hover
                box-shadow: 0 0 20px rgba(#000, .2)
                background: #fff
                .m-card__pic [data-imgfix]
                    transform: scale(1.05)
        +rwdw-max(1440)
            .m-card
                &__txt
                    +pd(y, rem(5))
        +rwdw-max(md)
            .m-card
                &__title
                    font-size: rem(18)
        +rwdw-max(sm)
            .m-card
                &__pic
                    display: none
                &__txt
                    +fl-item(100%)
                    padding: rem(15)
                &__depiction
                    line-height: lh()
/* card service */
.m-card--ser-add
    +flex($ai: center)
    .m-card
        &__txt
            +fl-item(pa(370, 520), t)
        &__btn
            +fl-item(pa(150, 520), t)
            +flex-center()
        &__title
            font-size: rem(24)
            font-weight: bold
            margin-bottom: rem(20)
        &__info
            > *:not(:last-child)
                margin-bottom: rem(5)
            a
                +hover
                    color: #fff
                    opacity: .5
    +rwdw-max(1366)
        &__title
            font-size: rem(20)
    +rwdw-max(sm)
        flex-direction: column
        text-align: center
        .m-card
            &__txt
                +fl-item(100%)
                flex-basis: auto
                margin-bottom: rem(20)
            &__btn
                +fl-item(100%)
                flex-basis: auto
            &__title
                display: block
                font-size: rem(22)
.m-card--ser-inquiry
    +flex($ai: center)
    +pd(y, rem(15))
    .m-card
        &__pic
            +fl-item(95px, t)
            [data-imgfix]
                +pa-h(240, 260)
        &__txt
            +fl-item(calc(100% - 95px - 40px), t)
            +pd(x, rem(20))
        &__title
            color: #424242
            font-weight: bold
            margin-bottom: rem(5)
        &__number
            font-size: rem(15)
            color: #646464
        &__btn
            +fl-item(40px, t)
            +flex-center()
    +rwdw-max(480)
        flex-direction: column
        +pd(y, rem(5))
        .m-card
            &__pic
                +fl-item(150px)
            &__txt
                +fl-item(100%)
                text-align: center
.m-card--ser-stronghold
    .m-card
        &__pic
            +pd(x, rem(50))
            position: relative
            margin-bottom: rem(25)
            overflow: hidden
            &::before, &::after
                position: absolute
                display: inline-block
                top: 15%
                content: ''
                width: 1px
                height: 70%
                background: #DEDEDE
            &::before
                left: 0px
            &::after
                right: 0px
            figure
                +pa-h(150, 200)
                +trs()
        &__btn
            +flex-center()
    +hover
        .m-card
            &__pic figure
                transform: scale(1.05)
    +rwdw-max(pc)
        .m-card
            &__pic
                margin-bottom: rem(10)
    +rwdw-max(sm)
        .m-card__pic
            +pd(x, rem(25))
            &::before, &::after
                display: none
/* card video */
.m-card--video
    cursor: pointer
    padding: rem(40) vw(25) rem(90) vw(25)
    border-width: 5px
    border-style: solid
    border-color: $re-color
    height: 100%
    background: #F5F5F5
    position: relative
    +trs()
    .m-card
        &__pic
            margin-bottom: rem(30)
            figure
                +pa-h(270, 360)
        &__logo
            max-width: 200px
            margin-bottom: rem(30)
            +pd(x, rem(25))
            figure
                +pa-h(50,200)
        &__title
            display: block
            font-size: rem(22)
            font-weight: 500
            color: #323232
            margin-bottom: rem(20)
            +pd(x, rem(25))
        &__depiction
            color: #323232
            +text-overflow(4)
            line-height: lh(16, 30)
            +pd(x, rem(25))
        &__btn
            position: absolute
            width: 100%
            left: 0px
            bottom: 0px
            +flex-center()
            .m-btn
                position: absolute
    +hover()
        border-color: #008CD7
    +rwdw-max(sm)
        padding-top: rem(20)
        padding-bottom: rem(60)
        .m-card
            &__pic
                max-width: 280px
                +mg(x, auto)
            &__logo
                +mg(x, auto)
                margin-bottom: rem(15)
            &__title
                font-size: rem(18)
                text-align: center
                margin-bottom: rem(10)
            &__depiction
                +text-overflow(2)
                line-height: lh()

/* card products */
.m-card--pros-all
    text-align: center
    .m-card
        &__pic
            overflow: hidden
            transform: skewX(-1deg)
            // background: #F0F0F0
            margin-bottom: rem(25)
            [data-imgfix]
                transform: skewX(1deg)
                +pa-h(320, 360)
        &__mask
            // background: rgba(#000, .1)
            pointer-events: none
            +trs()
            .m-btn
                opacity: 0
                transform: translateY(10px)
        &__title
            color: #323232
            font-weight: 500
            font-size: rem(20)
            padding-bottom: rem(15)
            margin-bottom: rem(10)
            position: relative
            &::after
                position: absolute
                left: calc(50% - 10px)
                bottom: 0px
                content: ''
                width: 20px
                height: 1px
                background: #323232
        &__depiction
    +rwdw-min()
        &:hover
            .m-card
                &__mask
                    background: rgba(#000, 0)
                    .m-btn
                        opacity: 1
                        transform: translateY(0px)

    +rwdw-max(sm)
        .m-card
            &__pic
                margin-bottom: rem(15)
                transform: skewX(0deg)
                [data-imgfix]
                    transform: skewX(0deg)
            &__title
                font-size: rem(18)
                padding-bottom: rem(10)
                margin-bottom: rem(5)
.m-card--prol
    position: relative
    background: #fff
    +pd(x, 15px)
    +trs()
    &::before
        content: ''
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: 100%
        border: 3px solid #008CD7
        border-bottom: none
        pointer-events: none
        opacity: 0
        +trs()
    .m-card
        &__pic
            max-width: 320px
            +mg(x, auto)
            margin-bottom: rem(30)
            [data-imgfix]
                +pa-h(300,320)
        &__txt
            text-align: center
        &__title
            display: block
            font-size: rem(20)
            font-weight: 500
            color: #323232
            position: relative
            padding-bottom: rem(16)
            margin-bottom: rem(11)
            &::after
                content: ''
                position: absolute
                bottom: 0px
                left: calc(50% - 10px)
                width: 20px
                height: 1px
                background: #393939
        &__model
            color: #646464
            padding-bottom: rem(55)
        &__btn
            background: #fff
            +flex($ai: center)
            +pd(y, rem(15))
            +trs()
            position: relative
            &::before
                content: ''
                position: absolute
                top: 0px
                left: 50%
                transform: translateX(-50%)
                width: calc(100% - 20px)
                height: 1px
                background: #DCDCDC
            &-item
                +flex-center()
                +fl-item(50%, t)
                &:first-child
                    border-right: 1px solid #DCDCDC
    +rwdw-min()
        .m-card
            &__btn
                border: 3px solid #008CD7
                position: absolute
                z-index: 1
                top: 100%
                left: 0px
                width: 100%
                transform: translateY(-10px)
                opacity: 0
                pointer-events: none
        &:hover
            box-shadow: 0 0 20px rgba(#000, .2)
            &::before
                opacity: 1
            .m-card
                &__btn
                    pointer-events: auto
                    transform: translateY(0px)
                    opacity: 1
                    border-top: none
                    box-shadow: 0 10px 10px rgba(#000, .1)
    +rwdw-max(1366)
        .m-card
            &__pic
                max-width: 260px
    +rwdw-max(md)
        .m-card
            &__pic
                margin-bottom: rem(10)
            &__model
                padding-bottom: rem(30)
    +rwdw-max(sm)
        .m-card
            &__title
                font-size: rem(18)
    +rwdw-max(320)
        .m-card
            &__btn
                flex-direction: column
                &-item
                    +fl-item(100%)
                    &:first-child
                        border: none
.m-card--prod
    &-video
        cursor: pointer
        .m-card
            &__video
                +trs()
                [data-imgfix]
                    +pa-h(480, 720)
                    +trs()
            &__btn-lbox
                z-index: 1
            &__mask
                background: rgba(#000, .3)
                +trs()
            &__name
                font-weight: normal
                width: 100%
                text-align: center
                color: #3C3C3C
                +pd(y, rem(24))
        +hover
            .m-card
                [data-imgfix]
                    transform: scale(1.05)
                &__mask
                    opacity: 0
        +rwdw-max()
            .m-card
                &__name
                    +pd(y, rem(14))
    &-other
        position: relative
        background: #fff
        +pd(x, 15px)
        +trs()
        .m-card
            &__pic
                max-width: 320px
                +mg(x, auto)
                margin-bottom: rem(25)
                [data-imgfix]
                    +pa-h(300,320)
            &__mask
                .m-btn
                    opacity: 0
                    transform: translateY(10px)
                    +trs()
            &__txt
                text-align: center
            &__title
                display: block
                font-weight: 500
                color: #323232
                position: relative
                padding-bottom: rem(14)
                margin-bottom: rem(9)
                &::after
                    content: ''
                    position: absolute
                    bottom: 0px
                    left: calc(50% - 10px)
                    width: 20px
                    height: 1px
                    background: #393939
            &__model
                color: #646464
                padding-bottom: rem(30)
        +rwdw-min()
            &:hover
                .m-card
                    &__mask
                        .m-btn
                            opacity: 1
                            transform: translateY(0px)
        +rwdw-max(1366)
            .m-card
                &__pic
                    max-width: 260px
        +rwdw-max(md)
            .m-card
                &__pic
                    margin-bottom: rem(10)

/* Banner(m-bn) --------------------------------------------------------------- */
$bnWidth: 1920
$bnHeight: 300
$bnMask: false // true, false
$bnMaskStyle: style01

+md-banner()
    &--index &
        &__pic
            &-ir
                +pa-h(960, 1920)
        &__info
            justify-content: flex-start
            color: #fff
            font-weight: bold
            &-ctr
            .blue
                color: #004098
        &__txt
            &-eng
                max-width: 700px
                font-family: font(mt)
                font-size: rem(90)
                line-height: lh(90, 100)
                margin-bottom: rem(45)
            &-cht
                font-size: rem(40)
                font-weight: 500
        &__btn
            position: absolute
            z-index: 10
            top: 50%
            left: 0px
            width: 100%
            &-wp
                +flex($jc: sb)
        &__dot
            +flex-center()
            position: absolute
            z-index: 10
            bottom: 40px
            left: 0px
            width: 100%
            .swiper-pagination-bullet
                width: 12px 
                height: 12px
                border-radius: 100%
                border: 2px solid #fff
                opacity: 1
                background: $re-color
                +mg(x, rem(5))
                +trs()
                +hover()
                    background: rgba(#fff, 5)
                &-active
                    background: #fff
                    pointer-events: none
        +rwdw-min(1910) // IA PAA NGN LOB MFO GPX NQJ
            &__txt-cht
                // letter-spacing: 2px
        +rwdw-max(1680)
            &__info-ctr
                width: calc(100% - 200px)
                max-width: 100%
        +rwdw-max(1440)
            &__txt
                &-eng
                    font-size: rem(80)
                    margin-bottom: rem(45)
                &-cht
                    font-size: rem(35)
        +rwdw-max()
            &__pic-ir
                +pa-h(960, $rwd)
            &__info
                align-items: flex-end
                padding-bottom: pa(115, $rwd)
                &-ctr
                    width: calc(100% - 25px)
            &__txt
                &-eng
                    font-size: rem(70)
                    margin-bottom: rem(20)
                &-cht
                    font-size: rem(30)
            &__btn
                display: none
        +rwdw-max(lg)
            &__txt
                &-eng
                    font-size: rem(50)
                    line-height: lh(40, 50)
                    margin-bottom: rem(15)
        +rwdw-max(md)
            &__txt
                &-eng
                    font-size: rem(35)
                    margin-bottom: rem(10)
                &-cht
                    font-size: rem(20)
            &__dot
                bottom: pa(40, $rwd)
        +rwdw-max(sm)
            &__pic-ir
                +pa-h(630, 375)
            &__info
                padding-bottom: pa(75, 375)

    &--inside &
        &__pic
            [data-imgfix], [data-img]
                +pa-h(600,1920)
        &__info
            color: #fff
            flex-direction: column
            justify-content: flex-end
        &__headline
            margin-bottom: pa(95)
            text-align: center
        &__maintitle
            font-size: rem(70)
            font-family: font(mt)
            font-weight: bold
        &__subtitle
            font-size: rem(36)
            font-weight: 500
        +rwdw-max(1440)
            &__pic
                [data-imgfix], [data-img]
                    +pa-h(500,1440)
            &__maintitle
                font-size: rem(50)
            &__subtitle
                font-size: rem(30)
        +rwdw-max(1440)
            &__pic
                [data-imgfix], [data-img]
                    +pa-h(600,$rwd)
        +rwdw-max(md)
            &__pic
                [data-imgfix], [data-img]
                    +pa-h(550, $md)
        +rwdw-max(sm)
            &__pic
                [data-imgfix], [data-img]
                    +pa-h(550, $sm)
            &__maintitle
                // font-size: rem(35)
                font-size: rem(40)
                line-height: lh(40, 40)
            &__subtitle
                // font-size: rem(20)
                font-size: rem(25)

    &--none
        padding-top: rem(81)
        background: $re-color
        +rwdw-max()
            padding-top: rem(80)

    &--nw &
        &__pic
            &::after
                content: ''
                position: absolute
                left: 0px
                bottom: 0px
                width: 100%
                +pa-h(300, 1920)
                +bg-lg(rgba(#000, 0), rgba(#000, 1), top)
                opacity: .5

            figure
                +pa-h(600,1920)
        &__info
            color: #fff
            align-items: flex-end
            padding-bottom: pa(95)
            text-align: center
            &-wp
                position: relative
        &__time
            +flex-center()
            font-size: rem(20)
            margin-bottom: rem(15)
            > *
                +pd(x, rem(10))
        &__cls
            font-weight: 500
            position: relative
            &::after
                content: ''
                position: absolute
                top: 10%
                right: 0px
                width: 2px
                height: 80%
                background: #fff
        &__date
            font-weight: bold
        &__title
            font-size: rem(36)
            font-weight: 500
        &__btn
            position: absolute
            left: 0px
            bottom: 11px
            width: 100%
            +flex($jc: start)

        +rwdw-max(1440)
            &__pic
                figure
                    +pa-h(500,1440)
            
        +rwdw-max(1440)
            &__pic
                figure
                    +pa-h(600,$rwd)
            &__time
            &__title
                font-size: rem(30)
        +rwdw-max(md)
            &__pic
                figure
                    +pa-h(550, $md)
            &__btn
                display: none
        +rwdw-max(sm)
            &__pic
                figure
                    +pa-h(550, $sm)
            &__info
                padding-bottom: rem(35)
            &__time
                font-size: rem(17)
            &__title
                font-size: rem(25)
    
    &--pro-list &
        &__pic
            &::after
                content: ''
                position: absolute
                left: calc(50% - 248px)
                bottom: 0px
                width: 496px
                height: 86px
                background: url('images/product/toggle-mask_496x86.png')no-repeat center
                background-size: contain
            figure
                +pa-h(600,1920)
            .is-changeImg
                position: absolute
                top: 0px
                left: 0px
                width: 100%
                height: 100%
                > *
                    background: $re-color
                img
                    opacity: 0
                    +trs(.8)
        &__headline
            margin-bottom: pa(100, 1920)
            +trs()
            &.is-close
                opacity: 0
                transform: translateY(10px)
                pointer-events: none
        &__info
            color: #fff
            flex-direction: column
            justify-content: flex-end
            text-align: center
            overflow: hidden

        &__title
            font-size: rem(36)
            font-weight: 500
            position: relative
            padding-bottom: rem(20)
            margin-bottom: rem(20)
            &::after
                content: ''
                position: absolute
                left: calc(50% - 25px)
                bottom: 0px
                width: 50px
                height: 1px
                background: #fff
        &__depiction
            color: #F0F0F0
        +rwdw-min()
            &__pic .is-changeImg img.is-show
                opacity: 1
        +rwdw-max(1440)
            &__pic
                figure
                    +pa-h(500,1440)
            &__title
                font-size: rem(30)
        +rwdw-max()
            &__pic
                figure
                    +pa-h(600,$rwd)
        +rwdw-max(md)
            &__pic
                figure
                    +pa-h(550, $md)
            &__title
                rem(28)
        +rwdw-max(sm)
            &__pic
                figure
                    +pa-h(550, $sm)

/* Breadcrumbs (m-path) ------------------------------------------------------- */
+md-path()

/* pagination ----------------------------------------------------------------- */
+md-pagination()
    
/* Lightbox (m-lbox) ---------------------------------------------------------- */
+md-lightbox()
    &.lbox-video
        +flex-center
        .m-lbox
            &__mask
                background: rgba(#F0F0F0, .9)
            &__toolbar-close
                .m-btn
                    top: 10px
                    right: 10px
                    background: $re-color
                    span
                        width: 30px
                        height: 30px
                        &::before, &::after
                            background: #028DD7
            &__ctr
                background: #fff
                padding: rem(40)
                position: relative
                max-height: 80vh
                overflow: hidden
            &__ir
                +flex($ai: center)
                .m-lbox__yt
                    +fl-item(pa(1080, 1580))
                    margin-top: 0px
            &__yt
                +fl-item(80%, t)
                +mg(x, auto)
                margin-top: rem(20)
            &__info
                +fl-item(calc(100% - #{pa(1080, 1580)}), t)
                +flex-center()
                &-ctr
                    +fl-item(360px, t)
            &__pic
                margin-bottom: rem(30)
                figure
                    +pa-h(270, 360)
            &__logo
                max-width: 200px
                margin-bottom: rem(25)
                figure
                    +pa-h(50, 200)
            &__title
                color: #323232
                font-size: rem(24)
                font-weight: bold
                margin-bottom: rem(10)
            &__depiction
                color: #323232
                line-height: lh(16, 30)
                // overflow-x: hidden
                // max-height: 120px
        +rwdw-max(1320)
            .m-lbox
                &__yt
                    +fl-item(60%)
                &__info
                    +fl-item(40%)
                &__title
                    font-size: rem(20)
        +rwdw-min(1100)
            .m-lbox
                &__info-ctr
                    max-height: calc(80vh - #{rem(80)})
                    overflow-x: hidden                
        +rwdw-max(1100)
            .m-lbox
                &__toolbar-close
                    top: -10px
                &__ctr
                    padding-top: rem(50)
                    .m-lbox__yt
                        +fl-item(100%)
                &__ir
                    flex-wrap: wrap
                    max-height: calc(80vh - #{rem(90)})
                    overflow-x: hidden
                &__yt
                    +fl-item(100%)
                    margin-bottom: rem(30)
                &__info
                    +fl-item(100%)
        +rwdw-max(sm)
            .m-lbox
                &__ctr
                    padding: rem(55) rem(15) rem(15) rem(15)
                &__yt
                    max-width: 100%
                &__logo
                    max-width: 180px
                    +mg(x, auto)
                &__pic
                    max-width: 250px
                    +mg(x, auto)
                    margin-bottom: rem(15)
                &__title
                    font-size: rem(18)
                &__depiction
                    line-height: lh()

    &.lbox-inquiry
        .m-lbox
            &__toolbar-close .m-btn
                background: $re-color
            &__ir
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                background: #fff
                max-width: 350px
                width: 90%
                max-height: 75%
                border-radius: 10px
                padding: rem(25) rem(20)
            &__pic
                max-width: 50px
                +mg(x, auto)
                margin-bottom: rem(15)
            &__depiction
                text-align: center
                margin-bottom: rem(30)
            &__btn
                +flex-center()
                > *
                    +mg(x, rem(5))

    &.lbox-catalog
        .m-lbox
            &__toolbar-close .m-btn
                background: $re-color
            &__ir
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                background: #F5F5F5
                max-width: 450px
                width: 90%
                max-height: 75%
                border-radius: 10px
                padding: rem(25) rem(20)
                .hd-catalog__info-name
                    padding-top: rem(15)
            &__btn
                text-align: center
                margin-top: rem(20)
                padding-bottom: rem(15)

/* Table (m-tab) -------------------------------------------------------------- */
+md-table()

/* Module Utillity ============================================================ */
/* Style (u-style) ------------------------------------------------------------ */
+u-style()

/* Scroll (u-scroll) ---------------------------------------------------------- */
+u-scroll()

/* Font (u-fz, u-fw, u-txt) ----------------------------------------------------*/
// $FontSwitch: (base: f, sm: f, md: f, lg: f, xl: f)
$FontSwitch: (base: f)
$fzArray: 12, 14, 16, 18, 20, 25, 30, 35, 40, 45, 50, 55, 60
+u-font()
    
/* Display (u-display) -------------------------------------------------------- */
$displaySwitch: (sm: t, md: f, lg: f, xl: f)
+u-display()

// /* Flex Layout (u-flex) ------------------------------------------------------- */
$flexSwitch: (sm: t, md: t, lg: t, xl: t)
// +u-flex()

/* Margin (u-m) --------------------------------------------------------------- */
$mgUnit: rem
$mgDetail: f
$mgSwitch: (sm: f, md: f, lg: f, xl: f)
// $mgDetail: f [ false ]
$mgArray: 50, 40, 30, 20, 10
// $mgDetail: f [ false ]
// $mgArray: (all: (10),
// t: (10),
// b: (10),
// l: (10),
// r: (10),
// x: (10),
// y: (10))
+u-margin()

/* Padding (u-p) -------------------------------------------------------------- */
$pdUnit: rem
$pdDetail: f
$pdSwitch: (sm: f, md: f, lg: f, xl: f)
// $pdDetail: f [ false ]
$pdArray: 50, 40, 30, 20, 10
// $pdDetail: t [ true ]
// $pdArray: (all: (10),
// t: (10),
// b: (10),
// l: (10),
// r: (10),
// x: (10),
// y: (10))
+u-padding()

/* Other ---------------------------------------------------------------------- */
+u-other()

/* Utility Custom ------------------------------------------------------------- */
+md-utility()

/* Javascript ================================================================= */
+md-javascript()