﻿<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--none"></div>
    <!-- inquiry-ok section -->
    <div class="inquiry-ok-stn">
        <div class="inquiry-ok-ctr" data-aos="fade-up">
            <div class="inquiry-ok__pic">
                <img src="~/styles/images/common/icon-inquiry-ok.svg" alt="萊禮生醫科技股份有限公司">
            </div>

            @if (ViewBag.Lang == "tw")
            {
                <div class="inquiry-ok__depiction">
                    您的信件已經成功寄出，稍後您將會收到由一封由系統自動寄出的確認信件； 客服將會儘速與您聯絡，請您耐心等候，謝謝。
                </div>
            }
            else
            {
                <div class="inquiry-ok__depiction">
                    Thanks for your message, we will reply you as soon as posible.
                </div>
            }


            <div class="inquiry-ok__btn">
                <a href="@Url.Action("Index", "Home")" class="m-btn m-btn--fillet2-blue">
                    <span class="m-btn__name">@Web.Resource.Resource.回首頁</span>
                </a>
            </div>
        </div>
    </div>
</main>