﻿@using Web.Service
@model Web.Models.ViewModels.ContactViewModel
<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--inside" data-aos="zoom-out" data-aos-duration="1500">
        <div class="m-bn__ctr content">
            @if (Model.PageBanner_ViewModel != null)
            {
                <div class="m-bn__pic">
                    <figure data-imgfix="full">
                        <img src="styles/images/common/loading-full.gif" data-src="@(!string.IsNullOrEmpty(Model.PageBanner_ViewModel.pic) ? Url.Content("~" + Model.PageBanner_ViewModel.pic) : "")" alt="@Model.PageBanner_ViewModel.pic_alt">
                    </figure>
                </div>
            }
            <div class="m-bn__info">
                @if (Model.PageBanner_ViewModel != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(Model.PageBanner_ViewModel.content))
                }
                <div class="cms-tages">
                    <div class="cms-tages__toggle">
                        <div class="cms-tages__toggle-name">@Web.Resource.Resource.線上諮詢</div>
                        <div class="cms-tages__toggle-icon" data-icon="menu"></div>
                    </div>
                    <div class="cms-tages__ctr">
                        <ul class="cms-tages__list">
                            <li class="cms-tages__item"><a href="@Url.Action("Inquiry", "Contact")" class="cms-tages__link active">@Web.Resource.Resource.線上諮詢</a></li>
                            <li class="cms-tages__item"><a href="@Url.Action("Service", "Contact")" class="cms-tages__link">@Web.Resource.Resource.銷售據點</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- service section -->
    <div class="ser-stn ser-stn--inquiry">
        <h1 class="cms-headline">@Web.Resource.Resource.線上諮詢</h1>

        <div class="l-wp-1400">
            <div class="ser-inquiry">
                @*<form class="ser-form" action="javascript:void();">*@
                @using (Html.BeginForm("Inquiry", "Contact", FormMethod.Post, new { @class = "ser-form", id = "form" }))
                {
                    if (ViewBag.lang == "tw")
                    {
                        <div class="ser-form__depiction">
                            如果您有任何問題，歡迎您填寫以下的表單聯繫我們，我們將盡速回覆您!<br />( <span>*</span> 為必填欄位.)
                        </div>
                    }
                    else if (ViewBag.lang == "en")
                    {
                        <div class="ser-form__depiction">
                            If you have any questions, please fill out the following form to contact us!<br />( <span>*</span> Required fields.)
                        </div>
                    }

                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-fm">
                                <label for="si1" class="m-fm__name">@Web.Resource.Resource.公司名稱</label>
                                @*<input id="si1" type="text" class="m-fm__input">*@
                                @Html.TextBoxFor(x => x.Contact_PostViewModel.company, new { @class = "m-fm__input", name = "company", id = "si1" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="m-fm">
                                <label for="si2" class="m-fm__name m-fm__name--red">@Web.Resource.Resource.姓名</label>
                                @*<input id="si2" type="text" class="m-fm__input">*@
                                @Html.TextBoxFor(x => x.Contact_PostViewModel.name, new { @class = "m-fm__input", name = "name", id = "si2", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="m-fm">
                                <label for="si3" class="m-fm__name m-fm__name--red">@Web.Resource.Resource.聯絡電話</label>
                                @Html.TextBoxFor(x => x.Contact_PostViewModel.phone, new { @class = "m-fm__input", name = "phone", id = "si3", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="m-fm">
                                <label for="si4" class="m-fm__name">@Web.Resource.Resource.傳真號碼</label>
                                @Html.TextBoxFor(x => x.Contact_PostViewModel.fax, new { @class = "m-fm__input", name = "fax", id = "si4" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="m-fm">
                                <label for="si5" class="m-fm__name m-fm__name--red">Email</label>
                                @Html.TextBoxFor(x => x.Contact_PostViewModel.email, new { @class = "m-fm__input", name = "email", id = "si5", type = "email", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="m-fm">
                                <label for="si6" class="m-fm__name">@Web.Resource.Resource.通訊地址</label>
                                @Html.TextBoxFor(x => x.Contact_PostViewModel.address, new { @class = "m-fm__input", name = "address", id = "si6" })
                            </div>
                        </div>
                        @if (Model.ContactProduct_ListViewModel != null && Model.ContactProduct_ListViewModel.Count != 0)
                        {
                            <div class="col-md-12 product_list">
                                <div class="m-fm m-fm--ser-inquiry">
                                    <div class="m-fm__name">@Web.Resource.Resource.感興趣的產品</div>
                                    <div class="m-fm__list">
                                        @foreach (var item in Model.ContactProduct_ListViewModel)
                                        {
                                            <div class="m-fm__item productlist" id="@item.guid">
                                                <div class="m-card m-card--ser-inquiry">
                                                    <div class="m-card__pic">
                                                        <figure data-img="hold">
                                                            <img src="/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="">
                                                        </figure>
                                                    </div>
                                                    <div class="m-card__txt">
                                                        <div class="m-card__title">@item.title</div>
                                                        <div class="m-card__number">@item.model</div>
                                                    </div>
                                                    <div class="m-card__btn delete" data-guid="@item.guid">
                                                        <div class="m-btn m-btn--ser-delete">
                                                            <div class="m-btn__name"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @Html.HiddenFor(x => x.Contact_PostViewModel.product, new { Value = item.guid })
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-md-12">
                            <div class="m-fm m-fm--content">
                                <label for="si7" class="m-fm__name">@Web.Resource.Resource.詢問內容</label>
                                @Html.TextAreaFor(x => x.Contact_PostViewModel.message, new { })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="m-fm m-fm--verification">
                                <label for="si8" class="m-fm__name m-fm__name--red">@Web.Resource.Resource.驗證碼</label>
                                <div class="m-fm__input">
                                    <input id="si8" name="verification" required="required" type="text" autocomplete="off">
                                    <div class="m-fm__input-code">
                                        <a class="img-verify"><img id="captcha" onclick="reloadCaptcha()" src="@Url.Content("~/Content/BuildCaptcha.aspx")" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ser-form__btn">
                        <button class="m-btn m-btn--fillet2-blue" type="submit" id="post" onclick="postform()">
                            <span class="m-btn__name">@Web.Resource.Resource.確認</span>
                        </button>
                        <button class="m-btn m-btn--fillet2-dark-gray" type="reset">
                            <span class="m-btn__name">@Web.Resource.Resource.重填</span>
                        </button>
                    </div>
                }
                @*</form>*@
                <div class="ser-info">
                    <div class="ser-info__ctr">
                        <div class="ser-info__list">
                            @Html.Raw(FunctionService.FormatImagePath(Model.CompanyInfo_ViewModel.content))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts{
    <script>
        $(document).ready(function () {
            if ('@ViewBag.isError' == 'InsertError') {
                swal({
                    title: "@Web.Resource.Resource.系統資訊",
                    text: "@Web.Resource.Resource.送出失敗請確認欄位是否輸入正確",
                    type: "error",
                    confirmButtonText: "@Web.Resource.Resource.確認",
                });
            }
            else if ('@ViewBag.isError' == 'codeError') {
                swal({
                    title: "@Web.Resource.Resource.系統資訊",
                    text: "@Web.Resource.Resource.送出失敗請確認驗證碼是否輸入正確",
                    type: "error",
                    confirmButtonText: "@Web.Resource.Resource.確認",
                });
            }
            else if ('@ViewBag.isError' == 'InsertSuccess') {
                  swal({
                    title: "@Web.Resource.Resource.系統資訊",
                    text: "@Web.Resource.Resource.送出成功",
                    type: "success",
                    confirmButtonColor: "#e7505a",
                    confirmButtonText: "@Web.Resource.Resource.確認",
                }, function () {
                    window.location.href = '@Url.Action("inquiry", "Contact")';
                });
            }

        });

        $(".delete").click(function () {
            var guid = $(this).attr("data-guid");
            $.ajax({
                url: '@Url.Action("DeleteCookie", "Contact")',
                type: 'POST',
                data: { guid: guid },
                success: function (data) {
                    if (data.success == 'success') {
                         swal({
                            title: "@Web.Resource.Resource.系統資訊",
                            text: "@Web.Resource.Resource.刪除成功",
                            type: "success",
                            confirmButtonColor: "#e7505a",
                            confirmButtonText: "@Web.Resource.Resource.確認",
                        }, function () {
                            $("#" + guid).remove();

                            if ($(".productlist").length == 0) {
                                $(".product_list").remove();
                            }
                        });
                    }
                },
            });
        });

        function postform() {
            $("#form").submit();
            $("#post").attr('disabled', true);
        }

        //重製驗證碼
        function reloadCaptcha() {
            $('#captcha').attr('src', $('#captcha').attr('src') + "?d=" + Date.now());
        }
    </script>
}