﻿@using Web.Service
@model Web.Models.ViewModels.ContactViewModel
<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--inside">
        <div class="m-bn__ctr content">
            @if (Model.PageBanner_ViewModel != null)
            {
                <div class="m-bn__pic" data-aos="zoom-out" data-aos-duration="1500">
                    <figure data-img="full">
                        <img src="@(!string.IsNullOrEmpty(Model.PageBanner_ViewModel.pic) ? Url.Content("~" + Model.PageBanner_ViewModel.pic) : "")" alt="@Model.PageBanner_ViewModel.pic_alt">
                    </figure>
                </div>
            }

            <div class="m-bn__info">
                @if (Model.PageBanner_ViewModel != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(Model.PageBanner_ViewModel.content))
                }
                <div class="cms-tages">
                    <div class="cms-tages__toggle">
                        <div class="cms-tages__toggle-name">@Web.Resource.Resource.銷售據點</div>
                        <div class="cms-tages__toggle-icon" data-icon="menu"></div>
                    </div>
                    <div class="cms-tages__ctr">
                        <ul class="cms-tages__list">
                            <li class="cms-tages__item"><a href="@Url.Action("Inquiry", "Contact")" class="cms-tages__link">@Web.Resource.Resource.線上諮詢</a></li>
                            <li class="cms-tages__item"><a href="@Url.Action("Service", "Contact")" class="cms-tages__link active">@Web.Resource.Resource.銷售據點</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- service section -->
    <div class="ser-stn">
        <h1 class="cms-headline" data-aos="fade-up">@Web.Resource.Resource.銷售據點</h1>

        <div class="ser-stronghold-wp l-wp-1680">
            <!-- entity -->
            <div class="ser-list ser-list--entity" data-aos="fade-up">
                <h2 class="ser-list__title"><span>@Web.Resource.Resource.實體銷售據點</span></h2>
                <div class="ser-list__ctr">

                    <div class="ser-list__swp swiper-container">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.BusinessLocation_ListViewModel.Where(x => x.category == "store").OrderBy(x => x.sortIndex).ThenByDescending(x => x.create_date).ToList())
                            {
                                <div class="swiper-slide">
                                    <div class="m-card m-card--ser-stronghold">
                                        <div class="m-card__pic">
                                            <figure data-imgfix="hold">
                                                <img src="styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="@item.pic_alt">
                                            </figure>
                                        </div>
                                        <div class="m-card__btn">
                                            <a href="@item.url" target="_blank" class="m-btn m-btn--semicircle-ser-stronghold">
                                                <span class="m-btn__name">@Web.Resource.Resource.據點查詢</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>

                    <div class="ser-list__btn">
                        <div class="m-btn m-btn--circle-blue js-swp-prev">
                            <div class="m-btn__icon" data-icon="arrow-left"></div>
                        </div>
                        <div class="m-btn m-btn--circle-blue js-swp-next">
                            <div class="m-btn__icon" data-icon="arrow-right"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Web -->
            <div class="ser-list ser-list--web" data-aos="fade-up">
                <h2 class="ser-list__title"><span>@Web.Resource.Resource.網路平台銷售</span></h2>
                <div class="ser-list__ctr">

                    <div class="ser-list__swp swiper-container">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.BusinessLocation_ListViewModel.Where(x => x.category == "web").OrderBy(x => x.sortIndex).ThenByDescending(x => x.create_date).ToList())
                            {
                                <div class="swiper-slide">
                                    <div class="m-card m-card--ser-stronghold" data-open="@item.url">
                                        <div class="m-card__pic">
                                            <figure data-imgfix="hold">
                                                <img src="styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="@item.pic_alt">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="ser-list__btn">
                        <div class="m-btn m-btn--circle-blue js-swp-prev">
                            <div class="m-btn__icon" data-icon="arrow-left"></div>
                        </div>
                        <div class="m-btn m-btn--circle-blue js-swp-next">
                            <div class="m-btn__icon" data-icon="arrow-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>