﻿@using Web.Service
@model Web.Models.ViewModels.AboutViewModel
<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--inside">
        <div class="m-bn__ctr content">
            @if (Model.PageBanner_ViewModel != null)
            {
                <div class="m-bn__pic" data-aos="zoom-out" data-aos-duration="1500">
                    <figure data-img="full">
                        <img src="@(!string.IsNullOrEmpty(Model.PageBanner_ViewModel.pic) ? Url.Content("~" + Model.PageBanner_ViewModel.pic) : "")" alt="@Model.PageBanner_ViewModel.pic_alt">
                    </figure>
                </div>
            }
            <div class="m-bn__info">
                @if (Model.PageBanner_ViewModel != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(Model.PageBanner_ViewModel.content))
                }
                <div class="cms-tages">
                    <div class="cms-tages__toggle">
                        <div class="cms-tages__toggle-name">@Web.Resource.Resource.專業認證</div>
                        <div class="cms-tages__toggle-icon" data-icon="menu"></div>
                    </div>
                    <div class="cms-tages__ctr">
                        <ul class="cms-tages__list">
                            <li class="cms-tages__item"><a href="@Url.Action("Index", "About")" class="cms-tages__link">@Web.Resource.Resource.公司簡介2</a></li>
                            <li class="cms-tages__item"><a href="@Url.Action("Certificate", "About")" class="cms-tages__link active">@Web.Resource.Resource.專業認證</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- about section -->
    <div class="abt-stn">
        <div class="l-wp-1400">
            <h1 class="cms-headline cms-headline--horizontal-line" data-aos="fade-up">
                <span class="cms-headline__main">@Web.Resource.Resource.專業認證</span>
                <span class="cms-headline__sub"><span class="cms-headline__sub-name">Care of your Healthy Living</span></span>
            </h1>

            <div class="l-wp-1400">
                <ul class="catalog-list">
                    @foreach (var item in Model.Certificate_ListViewModel)
                    {
                        string[] pic = item.pic.Split(',');
                        string[] pic_alt = item.pic_alt.Split(',');

                        if (pic.Count() >= 1)
                        {
                            if (pic[0] != "" && pic[0] != null)
                            {
                                <li class="catalog-list__item" data-aos="fade-up" oncontextmenu="return false">
                                    <div class="m-card m-card--catalog">
                                        <div class="m-card__pic">
                                            <div data-imgfix="in">
                                                <img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(pic[0]) ? Url.Content("~" + pic[0]) : Url.Content(""))" alt="">
                                            </div>
                                            <div class="m-card__mask">
                                                <div class="m-card__btn-lbox">
                                                    <div class="m-btn m-btn--kd-catalog js-lbox ShowPic" guid="@item.guid">
                                                        <div class="m-btn__icon" data-icon="catalog"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h2 class="m-card__name">@item.title</h2>
                                    </div>
                                    <div class="js-lightgallery u-hide @item.guid">
                                    </div>
                                </li>
                            }

                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</main>

@section scripts{
    <script>
        $(document).ready(function () {
            document.oncontextmenu = function () {
                window.event.returnValue = false;
            }
        });

        $(".ShowPic").click(function () {
            var guid = $(this).attr("guid");
            $(".js-lightgallery" + "." + guid).empty();

            $.ajax({
                url: '@Url.Action("GetPic", "About")',
                data: { guid: guid },
                type: 'POST',
                success: function (data) {
                    var pic = data.pic;
                    var alt = data.picalt;

                    var toAppend = "";
                    var num = 0;
                    $(".js-lightgallery" + "." + guid).empty();
                    $.each(pic, function (index, value) {
                        if (alt.length == 0) {
                            toAppend += '<a href="' + "../.." + value + '"><img src="' + "../.." + value + '" alt="image"></a>'
                        }
                        else {
                            toAppend += '<a href="' + "../.." + value + '"><img src="' + "../.." + value + '" alt="' + alt[num] + '"></a>'
                        }

                        num++;
                    });

                    $(".js-lightgallery" + "." + guid).append(toAppend);

                    if ($(".js-lightgallery" + "." + guid).data("lightGallery")) {
                        $(".js-lightgallery" + "." + guid).data("lightGallery").destroy(true);
                    }
                    createLightGallery(guid);
                },
                complete: function () { $(".js-lightgallery" + "." + guid).children("a").eq(0).click(); }
            });
        });

        function createLightGallery(guid) {
            $(".js-lightgallery" + "." + guid).lightGallery({
                download: false,
                fullScreen: false,
                share: false,
                actualSize: false,
                autoplayControls: false
            });
        }
    </script>
}