﻿@using Web.Service
@model Web.Models.ViewModels.AboutViewModel
<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--inside">
        <div class="m-bn__ctr content">
            @if (Model.PageBanner_ViewModel != null)
            {
                <div class="m-bn__pic" data-aos="zoom-out" data-aos-duration="1500">
                    <figure data-img="full">
                        <img src="@(!string.IsNullOrEmpty(Model.PageBanner_ViewModel.pic) ? Url.Content("~" + Model.PageBanner_ViewModel.pic) : "")" alt="@Model.PageBanner_ViewModel.pic_alt">
                    </figure>
                </div>
            }
            <div class="m-bn__info">
                @if (Model.PageBanner_ViewModel != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(Model.PageBanner_ViewModel.content))
                }

                <div class="cms-tages">
                    <div class="cms-tages__toggle">
                        <div class="cms-tages__toggle-name">@Web.Resource.Resource.公司簡介1</div>
                        <div class="cms-tages__toggle-icon" data-icon="menu"></div>
                    </div>
                    <div class="cms-tages__ctr">
                        <ul class="cms-tages__list">
                            <li class="cms-tages__item"><a href="@Url.Action("Index", "About")" class="cms-tages__link active">@Web.Resource.Resource.公司簡介2</a></li>
                            <li class="cms-tages__item"><a href="@Url.Action("Certificate", "About")" class="cms-tages__link">@Web.Resource.Resource.專業認證</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- about section -->
    <div class="abt-stn">
        <h1 class="cms-headline" data-aos="fade-up">@Web.Resource.Resource.公司簡介2</h1>
        <div class="abt-info">

            <!-- clique block -->
            @Html.Raw(FunctionService.FormatImagePath(Model.About_ViewModel.content_1))

            <!-- profession block -->
            <div class="abt-info__bk abt-info__bk--profession">
                <div class="l-wp-1380">
                    @Html.Raw(FunctionService.FormatImagePath(Model.About_ViewModel.content_2))

                    @Html.Raw(FunctionService.FormatImagePath(Model.About_ViewModel.content_3))
                </div>
            </div>

            <!-- responsibility block -->
            @Html.Raw(FunctionService.FormatImagePath(Model.About_ViewModel.content_4))

            <!-- course block -->
            <div class="abt-info__bk abt-info__bk--course">
                <div class="l-wp-1400">
                    <h2 class="abt-info__title" data-aos="fade-up">@Web.Resource.Resource.發展歷程</h2>
                    <ul class="abt-info__list">
                        @foreach (var item in Model.Course_ListViewModel)
                        {
                            <li class="abt-info__item" data-aos="fade-up">
                                <div class="abt-info__time">@item.year</div>
                                <div class="abt-info__name">@Html.Raw(FunctionService.FormatImagePath(item.content))</div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>