@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zaz45n');
  src:  url('fonts/icomoon.eot?zaz45n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zaz45n') format('truetype'),
    url('fonts/icomoon.woff?zaz45n') format('woff'),
    url('fonts/icomoon.svg?zaz45n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-cart:before {
  content: "\e916";
}
.icon-icon-add:before {
  content: "\e900";
}
.icon-icon-arrow-left:before {
  content: "\e901";
}
.icon-icon-arrow-right:before {
  content: "\e902";
}
.icon-icon-arrow-top:before {
  content: "\e903";
}
.icon-icon-catalog:before {
  content: "\e904";
}
.icon-icon-close:before {
  content: "\e905";
}
.icon-icon-delete:before {
  content: "\e906";
}
.icon-icon-download:before {
  content: "\e907";
}
.icon-icon-edit:before {
  content: "\e908";
}
.icon-icon-facebook:before {
  content: "\e909";
}
.icon-icon-hook:before {
  content: "\e90a";
}
.icon-icon-ig:before {
  content: "\e90b";
}
.icon-icon-line:before {
  content: "\e90c";
}
.icon-icon-menu:before {
  content: "\e90d";
}
.icon-icon-play:before {
  content: "\e90e";
}
.icon-icon-search:before {
  content: "\e90f";
}
.icon-icon-page-left-double:before {
  content: "\e910";
}
.icon-icon-page-left:before {
  content: "\e911";
}
.icon-icon-page-right:before {
  content: "\e912";
}
.icon-icon-page-right-double:before {
  content: "\e913";
}
.icon-icon-play-fillet:before {
  content: "\e914";
}
.icon-icon-arrow-bottom:before {
  content: "\e915";
}
.icon-icon-twitter:before {
  content: "\e917";
}
.icon-icon-back:before {
  content: "\e918";
}
.icon-icon-ask:before {
  content: "\e919";
}
.icon-icon-save:before {
  content: "\e91a";
}
