﻿@using Web.Service
@model Web.Models.ViewModels.VideoViewModel
<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--inside">
        <div class="m-bn__ctr content">
            @if (Model.PageBanner_ViewModel != null)
            {
                <div class="m-bn__pic" data-aos="zoom-out" data-aos-duration="1500">
                    <figure data-img="full">
                        <img src="@(!string.IsNullOrEmpty(Model.PageBanner_ViewModel.pic) ? Url.Content("~" + Model.PageBanner_ViewModel.pic) : "")" alt="@Model.PageBanner_ViewModel.pic_alt">
                    </figure>
                </div>
            }
            <div class="m-bn__info">
                @if (Model.PageBanner_ViewModel != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(Model.PageBanner_ViewModel.content))
                }
                <div class="cms-tages">
                    <div class="cms-tages__toggle">
                        <div class="cms-tages__toggle-name">@Model.VideoCategory_ViewModel.title</div>
                        <div class="cms-tages__toggle-icon" data-icon="menu"></div>
                    </div>
                    <div class="cms-tages__ctr">
                        <ul class="cms-tages__list">
                            @foreach (var item in Model.VideoCategory_ListViewModel)
                            {
                                <li class="cms-tages__item"><a href="@Url.Action("List", "Video", new { category = item.guid})" class="cms-tages__link @(item.guid == Model.VideoCategory_ViewModel.guid ? "active" : "")">@item.title</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- video section -->
    <div class="video-stn">
        <h1 class="cms-headline" data-aos="fade-up">@Model.VideoCategory_ViewModel.title</h1>
        <div class="l-wp-1740">
            <ul class="video-list">
                @if (Model.VideoData_PagedListViewModel != null)
                {
                    foreach (var item in Model.VideoData_PagedListViewModel)
                    {
                        <li class="video-list__item" data-aos="fade-up">
                            <div class="m-card m-card--video" data-lbox="@Url.Action("Index", "Video", new { guid = item.guid })" data-id="lbox-video" data-videoId="">
                                @if (!string.IsNullOrEmpty(item.listpic))
                                {
                                    <div class="m-card__pic">
                                        <figure data-img="hold">
                                            <img src="@(!string.IsNullOrEmpty(item.listpic) ? Url.Content("~" + item.listpic) : "")" alt="@item.listpic_alt">
                                        </figure>
                                    </div>
                                }

                                @if (!string.IsNullOrEmpty(item.brandpic))
                                {
                                    <div class="m-card__logo">
                                        <figure data-img="hold">
                                            <img src="@(!string.IsNullOrEmpty(item.brandpic) ? Url.Content("~" + item.brandpic) : "")" alt="@item.brandpic_alt">
                                        </figure>
                                    </div>
                                }

                                <h2 class="m-card__title">@item.title</h2>
                                <div class="m-card__depiction">
                                    @Html.Raw(item.subtitle)
                                </div>
                                <div class="m-card__btn">
                                    <div class="m-btn m-btn--play-video">
                                        <span class="m-btn__icon" data-icon="play-fillet"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

    <nav class="pagination" data-aos="zoom-in">
        <ul class="pagination__list">
            @if (ViewBag.pageView != null)
            {
                @Html.Raw(FunctionService.FormatImagePath(ViewBag.pageView))
            }
        </ul>
    </nav>
</main>