﻿@using Web.Service
@model Web.Models.ViewModels.VideoViewModel
<div class="m-lbox__mask js-ajax-close"></div>
<div class="m-lbox__ctr l-wp-1660">
    <div class="m-lbox__toolbar">
        <div class="m-lbox__toolbar-close">
            <div class="m-btn js-ajax-close"><span></span></div>
        </div>
    </div>
    <div class="m-lbox__ir">
        <div class="m-lbox__yt">
            <div class="m-lbox__movie">
                @Html.Raw(Model.VideoData_ViewModel.url)
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.VideoData_ViewModel.title) && !string.IsNullOrEmpty(Model.VideoData_ViewModel.content))
        {
            <div class="m-lbox__info">
                <div class="m-lbox__info-ctr">
                    @if (!string.IsNullOrEmpty(Model.VideoData_ViewModel.pic))
                    {
                        <div class="m-lbox__pic">
                            <figure data-imgfix="hold">
                                <div class="is-imgfix">
                                    <img src="@(!string.IsNullOrEmpty(Model.VideoData_ViewModel.pic) ? Url.Content("~" + Model.VideoData_ViewModel.pic) : "")" alt="@Model.VideoData_ViewModel.pic_alt">
                                </div>
                            </figure>
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(Model.VideoData_ViewModel.brandpic))
                    {
                        <div class="m-lbox__logo">
                            <figure data-imgfix="hold">
                                <div class="is-imgfix">
                                    <img src="@(!string.IsNullOrEmpty(Model.VideoData_ViewModel.brandpic) ? Url.Content("~" + Model.VideoData_ViewModel.brandpic) : "")" alt="@Model.VideoData_ViewModel.brandpic_alt">
                                </div>
                            </figure>
                        </div>
                    }

                    <div class="m-lbox__title">@Model.VideoData_ViewModel.title</div>
                    <div class="m-lbox__depiction">
                        @Html.Raw(FunctionService.FormatImagePath(Model.VideoData_ViewModel.content))
                    </div>
                </div>
            </div>
        }
    </div>
</div>