@charset "utf-8"

@mixin md-input()
    input[type="text"],input[type="tel"],input[type="email"],input[type="file"],input[type="password"],textarea
        font-size: rem(16)    
        border: none
        background: $re-color
        padding: 12px 10px
        width: 100%
        outline: none
        +trs()
        &:focus
        +rwdw-max(sm)
            padding: 6px 3px
    textarea
        min-height: 24px
        // width: 100%
        // max-width: 100%
        // min-height: 100px
        // padding: rem(10)
        // border: 1px solid #DADADA

    .m-fm
        +flex($ai: center)
        width: 100%
        background: #F5F5F5
        padding: rem(5) rem(20)
        border-radius: 10px
        &__label, &__name
            +fl-item(90px, t)
            margin-bottom: 0px 
            color: #505050
            // font-size: rem(20)
            // font-weight: 600
            &--red
                &::after
                    content: '*'
                    // color: cr(red)
                    color: #f00
                    font-weight: normal
                    // margin-left: 10px

        &__input
            +fl-item(calc(100% - 90px), t)
        +rwdw-max(sm)
            padding: rem(2) rem(10)

    .m-fm
        &--content
            align-items: flex-start
            .m-fm
                &__name
                    margin-top: rem(10)
        &--file
            position: relative
            input
                position: relative
                z-index: 2
                width: 100%
                margin: 0
                opacity: 0
                pointer-events: none
            label
                cursor: pointer
                position: absolute
                top: 0px
                left: 0px
                width: 100%
                height: 100%
                border: 1px solid #E2E2E2
                padding: 12px 10px
                padding-right: 45px
                +flex($ai: center)
                &::before
                    font-family: $icm
                    content: ''
                    position: absolute
                    top: 2px
                    right: 0px
                    width: 45px
                    height: 45px
                    background: url('images/common/icon-paperclip.svg')no-repeat center
                    background-size: 20px
        &--file &
            &_input
                position: relative
                background: #FAFAFA

        &--verification &
            &__input
                +flex($jc: sb, $ai: center)
                &-code
                    +fl-item(115px, t)
                input
                    +fl-item(calc(100% - 125px), t)
            +rwdw-max(sm)
                &__input
                    &-code
                        +fl-item(90px)
                    input
                        +fl-item(calc(100% - 100px))
            +rwdw-max(320)
                &__input
                    &-code
                        +fl-item(80px)
                    input
                        +fl-item(calc(100% - 85px))

        &--user, &--password
            position: relative
            label
                position: absolute
                top: 0px
                left: 0px
                width: 40px
                height: 100%
                background-repeat: no-repeat
                background-position: center
                background-size: 15px
                &::after
                    position: absolute
                    top: 15%
                    right: 0px
                    content: ''
                    width: 1px
                    height: 70%
                    background: #E1E1E1
            input[type="text"], input[type="password"]
                background: #FAFAFA
                padding-left: 50px

        &--user label
            background-image: url(images/common/icon-user2.svg)
        
        &--password label
            background-image: url(images/common/icon-password.svg)

    /* Form Elements Custom */
    .m-fm
        @content