@charset "utf-8"

@mixin md-utility()
    // +u-style()
    // +u-scroll()
    // +u-display()
    // +u-flex()
    // +u-margin()
    // +u-padding()
    // +u-font()
    // +u-other()

    .u
        @content

// Utility Element

// style
@mixin u-style()
    .u-style
        &-none
            margin: 0
            padding: 0
            list-style: none

// scroll
@mixin u-scroll()
    .u-scroll
        &-no
            overflow: hidden
        &-x
            overflow-y: hidden
            -webkit-overflow-scrolling: touch
        &-y
            overflow-x: hidden
            -webkit-overflow-scrolling: touch

// display
@mixin display-attributes()
    &-none
        display: none !important
    &-inline
        display: inline !important
    &-inline-block
        display: inline-block !important
    &-block
        display: block !important
    &-table 
        display: table !important
    &-table-row
        display: table-row !important
    &-table-cell
        display: table-cell !important
    &-flex
        display: -ms-flexbox !important
        display: flex !important
    &-inline-flex
        display: -ms-inline-flexbox !important
        display: inline-flex !important

@mixin u-display()
    .u
        &-d
            +display-attributes()
            @each $size, $switch in $displaySwitch
                @if $switch == t
                    +rwdw-min($size)
                        &-#{$size}
                            +display-attributes()
        
        &-show
            display: initial
        &-hide
            display: none !important

    .u-show,.u-display
        +rwdw-max()
            &-pc
                display: none !important
        +rwdw-min()
            &-mobile
                display: none !important
        @each $size, $switch in $displaySwitch
            @if $switch == t
                +rwdw-max($size)
                    &-#{$size}-pc
                        display: none !important
                +rwdw-min($size)
                    &-#{$size}-mobile
                        display: none !important

// flex
@mixin flex-attributes()
    &-row
        flex-direction: row !important
        &-reverse
            flex-direction: row-reverse !important
    &-column
        flex-direction: column !important
        &-reverse
            flex-direction: column-reverse !important
    &-wrap
        flex-wrap: wrap !important
        &-reverse
            flex-wrap: wrap-reverse !important
    &-nowrap
        flex-wrap: nowrap !important

    &-fill
        flex: 1 1 auto !important

    &-grow
        &-0
            flex-grow: 0 !important
        &-1
            flex-grow: 1 !important
    &-shrink
        &-0
            flex-shrink: 0 !important
        &-1
            flex-shrink: 1 !important
@mixin justify-content-attributes()
    &-start
        justify-content: flex-start !important
    &-end
        justify-content: flex-end !important
    &-center
        justify-content: center !important
    &-between
        justify-content: space-between !important
    &-around
        justify-content: space-around !important
@mixin align-items()
    &-start
        align-items: flex-start !important
    &-end
        align-items: flex-end !important
    &-center
        align-items: center !important
    &-baseline
        align-items: baseline !important
    &-stretch
        align-items: stretch !important
@mixin align-content()
    &-start
        align-content: flex-start !important
    &-end
        align-content: flex-end !important
    &-center
        align-content: center !important
    &-between
        align-content: space-between !important
    &-around
        align-content: space-around !important
    &-stretch
        align-content: stretch !important
@mixin align-self()
    &-auto
        align-self: auto !important
    &-start
        align-self: flex-start !important
    &-end
        align-self: flex-end !important
    &-center
        align-self: center !important
    &-baseline
        align-self: baseline !important
    &-stretch
        align-self: stretch !important
@mixin u-flex()
    .u
        &-flex
            +flex-attributes()
        &-justify-content
            +justify-content-attributes()
        &-align
            &-items
                +align-items()
            &-content
                +align-content()
            &-self
                +align-self()
        @each $size, $switch in $flexSwitch
            @if $switch == t
                +rwdw-min($size)
                    &-flex-#{$size}
                        +flex-attributes()
                    &-justify-content-#{$size}
                        +justify-content-attributes()
                    &-align
                        &-items-#{$size}
                                +align-items()
                        &-content-#{$size}
                                +align-content()
                        &-self-#{$size}
                            +align-self()

@mixin u-font()
    /* font size */
    .u-fz
        @each $switchName, $switchVal in $FontSwitch
            @if $switchVal == t
                @if $switchName == base
                    @each $var in $fzArray
                        &-#{$var}
                            font-size: rem($var)
                            @if $var >= 60
                                +rwdw-max(md)
                                    font-size: rem($var - 10)
                                +rwdw-max(sm)
                                    font-size: rem($var - 20)
                            @else if $var >= 40
                                +rwdw-max(md)
                                    font-size: rem($var - 5)
                                +rwdw-max(sm)
                                    font-size: rem($var - 10)
                            @else if $var >= 30
                                +rwdw-max(sm)
                                    font-size: rem(25)
                            @else if $var >= 25
                                +rwdw-max(sm)
                                    font-size: rem(20)
                @else if $switchName != base
                    +rwdw-min($switchName)
                        @each $var in $fzArray
                            &-#{$switchName}-#{$var}
                                font-size: rem($var)
            @else
                @each $var in $fzArray
                    &-#{$var}
                        font-size: rem($var)
                

    /* font-weight */
    $FontWeight: 100, 200, 300, 400, 500, 600, 700, 800, 900, bold
    .u-fw
        @each $val in $FontWeight
            &-#{$val}
                font-weight: $val !important
        &-clear
            font-weight: normal !important
        @each $switchName, $switchVal in $FontSwitch
            @if $switchVal == t  
                @if $switchName != base
                    +rwdw-min($switchName)
                        @each $val in $FontWeight
                            &-#{$switchName}-#{$val}
                                font-weight: $val !important

    /* text-align */
    $TextAlign: left, center, right
    .u-txt
        @each $val in $TextAlign
            &-#{$val}
                text-align: $val !important
        @each $switchName, $switchVal in $FontSwitch
            @if $switchVal == t  
                @if $switchName != base
                    +rwdw-min($switchName)
                        @each $val in $TextAlign
                            &-#{$switchName}-#{$val}
                                font-weight: $val !important

@mixin u-margin()
    .u-m
        @if $mgDetail == t
            @each $val in map-get($mgArray, l)
                &l-#{$val}
                    margin-left: unit($val, $mgUnit)
            @each $val in map-get($mgArray, r)
                &r-#{$val}
                    margin-right: unit($val, $mgUnit)
            @each $val in map-get($mgArray, t)
                &t-#{$val}
                    margin-top: unit($val, $mgUnit)
            @each $val in map-get($mgArray, b)
                &b-#{$val}
                    margin-bottom: unit($val, $mgUnit)
            @each $val in map-get($mgArray, x)
                &x-#{$val}
                    margin-left: unit($val, $mgUnit)
                    margin-right: unit($val, $mgUnit)
            @each $val in map-get($mgArray, y)
                &y-#{$val}
                    margin-top: unit($val, $mgUnit)
                    margin-bottom: unit($val, $mgUnit)
            @each $val in map-get($mgArray, all)
                &-#{$val}
                    margin: unit($val, $mgUnit)
                
            &-clear
                margin: $u-dna
            @each $size, $val in $mgSwitch
                @if $val == t
                    +rwdw-min($size)
                        @each $val in map-get($mgArray, l)
                            &l-#{$size}-#{$val}
                                margin-left: unit($val, $mgUnit)
                        @each $val in map-get($mgArray, r)
                            &r-#{$size}-#{$val}
                                margin-right: unit($val, $mgUnit)
                        @each $val in map-get($mgArray, t)
                            &t-#{$size}-#{$val}
                                margin-top: unit($val, $mgUnit)
                        @each $val in map-get($mgArray, b)
                            &b-#{$size}-#{$val}
                                margin-bottom: unit($val, $mgUnit)
                        @each $val in map-get($mgArray, x)
                            &x-#{$size}-#{$val}
                                margin-left: unit($val, $mgUnit)
                                margin-right: unit($val, $mgUnit)
                        @each $val in map-get($mgArray, y)
                            &y-#{$size}-#{$val}
                                margin-top: unit($val, $mgUnit)
                                margin-bottom: unit($val, $mgUnit)
                        @each $val in map-get($mgArray, all)
                            &-#{$size}-#{$val}
                                margin: unit($val, $mgUnit)
        @else 
            @each $val in $mgArray
                &l-#{$val}
                    margin-left: unit($val, $mgUnit)
                &r-#{$val}
                    margin-right: unit($val, $mgUnit)
                &t-#{$val}
                    margin-top: unit($val, $mgUnit)
                &b-#{$val}
                    margin-bottom: unit($val, $mgUnit)
                &x-#{$val}
                    margin-left: unit($val, $mgUnit)
                    margin-right: unit($val, $mgUnit)
                &y-#{$val}
                    margin-top: unit($val, $mgUnit)
                    margin-bottom: unit($val, $mgUnit)
                &-#{$val}
                    margin: unit($val, $mgUnit)
            &-clear
                margin: $u-dna
            @each $size, $val in $mgSwitch
                @if $val == t
                    +rwdw-min($size)
                        @each $val in $mgArray
                            &l-#{$size}-#{$val}
                                margin-left: unit($val, $mgUnit)
                            &r-#{$size}-#{$val}
                                margin-right: unit($val, $mgUnit)
                            &t-#{$size}-#{$val}
                                margin-top: unit($val, $mgUnit)
                            &b-#{$size}-#{$val}
                                margin-bottom: unit($val, $mgUnit)
                            &x-#{$size}-#{$val}
                                margin-left: unit($val, $mgUnit)
                                margin-right: unit($val, $mgUnit)
                            &y-#{$size}-#{$val}
                                margin-top: unit($val, $mgUnit)
                                margin-bottom: unit($val, $mgUnit)
                            &-#{$size}-#{$val}
                                margin: unit($val, $mgUnit)
                        &-#{$size}-clear
                            margin: $u-dna
                            
@mixin u-padding()
    .u-p
        @if $pdDetail == t
            @each $val in map-get($pdArray, l)
                &l-#{$val}
                    padding-left: unit($val, $pdUnit)
            @each $val in map-get($pdArray, r)
                &r-#{$val}
                    padding-right: unit($val, $pdUnit)
            @each $val in map-get($pdArray, t)
                &t-#{$val}
                    padding-top: unit($val, $pdUnit)
            @each $val in map-get($pdArray, b)
                &b-#{$val}
                    padding-bottom: unit($val, $pdUnit)
            @each $val in map-get($pdArray, x)
                &x-#{$val}
                    padding-left: unit($val, $pdUnit)
                    padding-right: unit($val, $pdUnit)
            @each $val in map-get($pdArray, y)
                &y-#{$val}
                    padding-top: unit($val, $pdUnit)
                    padding-bottom: unit($val, $pdUnit)
            @each $val in map-get($pdArray, all)
                &-#{$val}
                    padding: unit($val, $pdUnit)
                
            &-clear
                padding: $u-dna
            @each $size, $val in $pdSwitch
                @if $val == t
                    +rwdw-min($size)
                        @each $val in map-get($pdArray, l)
                            &l-#{$size}-#{$val}
                                padding-left: unit($val, $pdUnit)
                        @each $val in map-get($pdArray, r)
                            &r-#{$size}-#{$val}
                                padding-right: unit($val, $pdUnit)
                        @each $val in map-get($pdArray, t)
                            &t-#{$size}-#{$val}
                                padding-top: unit($val, $pdUnit)
                        @each $val in map-get($pdArray, b)
                            &b-#{$size}-#{$val}
                                padding-bottom: unit($val, $pdUnit)
                        @each $val in map-get($pdArray, x)
                            &x-#{$size}-#{$val}
                                padding-left: unit($val, $pdUnit)
                                padding-right: unit($val, $pdUnit)
                        @each $val in map-get($pdArray, y)
                            &y-#{$size}-#{$val}
                                padding-top: unit($val, $pdUnit)
                                padding-bottom: unit($val, $pdUnit)
                        @each $val in map-get($pdArray, all)
                            &-#{$size}-#{$val}
                                padding: unit($val, $pdUnit)
        @else 
            @each $val in $pdArray
                &l-#{$val}
                    padding-left: unit($val, $pdUnit)
                &r-#{$val}
                    padding-right: unit($val, $pdUnit)
                &t-#{$val}
                    padding-top: unit($val, $pdUnit)
                &b-#{$val}
                    padding-bottom: unit($val, $pdUnit)
                &x-#{$val}
                    padding-left: unit($val, $pdUnit)
                    padding-right: unit($val, $pdUnit)
                &y-#{$val}
                    padding-top: unit($val, $pdUnit)
                    padding-bottom: unit($val, $pdUnit)
                &-#{$val}
                    padding: unit($val, $pdUnit)
            &-clear
                padding: $u-dna
            @each $size, $val in $pdSwitch
                @if $val == t
                    +rwdw-min($size)
                        @each $val in $pdArray
                            &l-#{$size}-#{$val}
                                padding-left: unit($val, $pdUnit)
                            &r-#{$size}-#{$val}
                                padding-right: unit($val, $pdUnit)
                            &t-#{$size}-#{$val}
                                padding-top: unit($val, $pdUnit)
                            &b-#{$size}-#{$val}
                                padding-bottom: unit($val, $pdUnit)
                            &x-#{$size}-#{$val}
                                padding-left: unit($val, $pdUnit)
                                padding-right: unit($val, $pdUnit)
                            &y-#{$size}-#{$val}
                                padding-top: unit($val, $pdUnit)
                                padding-bottom: unit($val, $pdUnit)
                            &-#{$size}-#{$val}
                                padding: unit($val, $pdUnit)
                        &-#{$size}-clear
                            padding: $u-dna

@mixin u-other()
    .u-visually-hidden
        position: absolute
        clip: rect(1px, 1px, 1px, 1px)
        -webkit-clip-path: inset(0px 0px 99.9% 99.9%)
        clip-path: inset(0px 0px 99.9% 99.9%)
        overflow: hidden
        height: 1px
        width: 1px
        padding: 0
        border: 0
