@charset "utf-8"

@mixin md-typography()
    +typography()
    +icon()
    +m-edit()
    @content

@mixin typography()
    a
        cursor: pointer
        
        +rwdw-min()
            // &[href^="tel:"]
            //     pointer-events: none
            &:hover
                color: cr(hover)
                // opacity: .5

    p:not(:last-child)
        margin-bottom: 1em

    h1, h2, h3, h4, h5, h6
        display: inline-block

@mixin icon()
    /* icon ----------------------------------------------------------------------- */
    [data-icon]::before
        font-family: $iconGlyph
        color: $dna

    @each $name, $glyph in $icons
        [data-icon="#{$name}"]::before 
            content: content($glyph)

@mixin m-edit()
    /* eidt ----------------------------------------------------------------------- */
    .m-edit, #editor, .editor
        +noRest()
        // +bs-grid()
        
        @content