@charset "utf-8"

@mixin md-pagination()
    .pagination
        width: 100%
        +mg(b, pa(100))
        +flex-center()
        &__list
            +flex-center()
            +mg(x, -5px)
            li:not([class^="pagination__"])
                +pd(x, 5px)
                +rwdw-min()
                    &:hover
                        a
                            color: #fff
                            background: rgba(crc(blue), .5)
                &.active
                    pointer-events: none
                    a
                        color: #fff
                        background: crc(blue)
                                
            a
                +flex-center()
                width: 30px
                height: 30px
                color: crc(blue)
                line-height: 1
                border-radius: 100%
                border: 1px solid crc(blue)
                padding-left: 1px
                padding-bottom: 2px
            [class^="pagination__"]
                a
                    width: auto
                    border: none
                    opacity: .5
                +rwdw-min()
                    &:hover
                        a
                            opacity: 1
            
        &__prev
            margin-right: rem(20)
            &-double
                margin-right: rem(4)
        &__next
            margin-left: rem(20)
            &-double
                margin-left: rem(4)
        +rwdw-max(lg)
            margin-bottom: rem(80)
@mixin md-page()
    .page
        max-width: 875px
        margin: 0 auto
        +flex-center()
        a
            +flex-center()
            font-size: rem(16px)
            padding: 5px
            color: #7e8fb5
            cursor: pointer

            width: 40px
            height: 40px

            &.current
                color: cr(hover)
                // font-weight: bold

                color: #fff
                background: #3B96E5
            

            &.prev 
                padding-right: 10px 
            &.next 
                padding-left: 10px 

            &.prev::before,&.next::before
                content: ''
                font-family: $FontAwesome-Solid
                display: block
                opacity: .5
                font-size: 20px
            

            &.prev::before
                content: '\f104' 
            &.next::before 
                content: '\f105' 

            +rwdw-min()
                &:hover 
                    opacity: .5 
    .pagm-btn
        width: 100%
        padding: vh(55) 0 vh(45) 0
        /* p: 55px 0 45px 0 */
        position: relative

        .m-btn-arrow-top
            +flex-center()
            position: absolute
            width: 50px
            height: 50px
            top: -20px
            left: calc(50% - 25px)
            border-radius: 100%
            font-size: rem(25)
            line-height: 0
            &::before
                margin-top: -16px