@charset "utf-8"

@mixin md-card()
    .m-card
        &__pic, &__video
            position: relative
            overflow: hidden
        
        &__btn
            &-lbox, &-float
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)

        &__mask
            position: absolute
            top: 0px
            left: 0px
            width: 100%
            height: 100%


        &__name
    /* Card Custom */
    .m-card
        @content