@charset "utf-8"

@mixin md-javascript()
    /* Javascript href ------------------------------------------------------------ */
    [data-href], [data-open]
        cursor: pointer
    
    /* javascript Image ----------------------------------------------------------- */
    [data-img]
        background-repeat: no-repeat
        background-position: center

    [data-img="full"]
        background-size: cover
    
    [data-img="hold"]
        background-size: auto 100%        
    
    [data-imgfix]
        position: relative
        line-height: 0
        +trs()
        overflow: hidden
        > *
            position: absolute
            top: 0px
            left: 0px
            width: 100%
            height: 100%
            +flex-center()
        img
            width: auto
            height: auto
            +trs()
    [data-imgfix="full"] img
        max-width: initial
        height: 100%
    [data-imgfix="out"] img
        max-width: initial
        max-height: initial
    [data-imgfix="in"] img
        max-width: 100%
        max-height: 100%

    .is-ie11
        [data-imgfix="full"] img
            max-width: none
            height: auto

        [data-imgfix="out"] img
            max-width: none
            max-height: none

    @content

// Image Depiction ------------------------------------------------------------
// data-img="full" [ 超出外框 ]
// data-img="hold" [ 在框內 ]
//  Image Mixin ---------------------------------------------------------------
@mixin img-config($site: center)
    .is-img-config
        @if $site != center
            background-position: $site
        @content