@charset "utf-8"

@mixin md-button()
    /* Button Group */
    .m-gp-btn
        +flex($ai: center, $jc: center)

        &--align
            &-left
                justify-content: flex-start
            &-center
                justify-content: center
            &-right
                justify-content: flex-end
    /* Button Style */
    .m-btn
        cursor: pointer
        display: inline-block
        line-height: 1
        text-align: center
        vertical-align: middle
        white-space: nowrap
        user-select: none
        border: none
        
        +trs()
        &__txt, &__name
            width: 100%
            height: 100%
            +flex-center()
            color: $u-dna
            line-height: $u-dna

    /* Button Custom */
    .m-btn
        @content

// SASS Mixin
@mixin m-btn--st-test()
    background: red