@charset 'utf-8'

@mixin md-default()
	html
		font-size: map-get($default, htmlFz) + px
		// @if $defaultFz == 16
		// 	+rwdw-min($rwd-pad)
		// 		font-size: 11.25px
		// @else
		// 	+rwdw-max($rwd-pad)
		// 		font-size: 8.88889px
	body 
		font-family: $font-main
		font-size: rem(map-get($default, bodyFz))
		line-height: lh()
		letter-spacing: 1px
		color: map-get($default, bodyCr)
		overflow-x: hidden
		&:not(.is-ie11)
			opacity: 0
			animation: m-opacity_in 1s both
			
		@content