﻿@using Web.Service
@model Web.Models.ViewModels.KnowledgeViewModel
<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--inside">
        <div class="m-bn__ctr content">
            @if (Model.PageBanner_ViewModel != null)
            {
                <div class="m-bn__pic" data-aos="zoom-out" data-aos-duration="1500">
                    <figure data-img="full">
                        <img src="@(!string.IsNullOrEmpty(Model.PageBanner_ViewModel.pic) ? Url.Content("~" + Model.PageBanner_ViewModel.pic) : "")" alt="@Model.PageBanner_ViewModel.pic_alt">
                    </figure>
                </div>
            }
            <div class="m-bn__info">
                @if (Model.PageBanner_ViewModel != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(Model.PageBanner_ViewModel.content))
                }
                <div class="cms-tages">
                    <div class="cms-tages__toggle">
                        <div class="cms-tages__toggle-name">@Web.Resource.Resource.產品型錄</div>
                        <div class="cms-tages__toggle-icon" data-icon="menu"></div>
                    </div>
                    <div class="cms-tages__ctr">
                        <ul class="cms-tages__list">
                            <li class="cms-tages__item"><a href="@Url.Action("Series", "Products")" class="cms-tages__link">@Web.Resource.Resource.全部</a></li>
                            <li class="cms-tages__item"><a href="@Url.Action("Category", "Products")" class="cms-tages__link">@Web.Resource.Resource.產品分類</a></li>
                            <li class="cms-tages__item"><a href="@Url.Action("Catalog", "Products")" class="cms-tages__link active">@Web.Resource.Resource.產品型錄</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- catalog section -->
    <div class="catalog-stn">
        <h1 class="cms-headline" data-aos="fade-up">@Web.Resource.Resource.產品型錄</h1>

        <div class="l-wp-1400">
            <ul class="catalog-list">
                @foreach (var item in Model.KnowledgeCatalog_PagedListViewModel)
                {
                    <li class="catalog-list__item" data-aos="fade-up">
                        <div class="m-card m-card--catalog">
                            <div class="m-card__pic">
                                <div data-imgfix="in">
                                    <img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.indexpic) ? Url.Content("~" + item.indexpic) : "")" alt="@item.indexpic_alt">
                                </div>
                                <div class="m-card__mask">
                                    <div class="m-card__btn-lbox">
                                        <div class="m-btn m-btn--kd-catalog js-lbox ShowPic" guid="@item.guid">
                                            <div class="m-btn__icon" data-icon="catalog"></div>
                                        </div>
                                        <div class="m-btn m-btn--kd-catalog">
                                            <a href="@(!string.IsNullOrEmpty(item.file) ? Url.Content("~" + item.file) : "")" download>
                                                <div class="m-btn__icon" data-icon="download"></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h2 class="m-card__name">@item.title</h2>
                        </div>
                        <div class="js-lightgallery u-hide @item.guid">
                        </div>
                    </li>
                }
            </ul>
        </div>

        <nav class="pagination" data-aos="zoom-in">
            <ul class="pagination__list">
                @if (ViewBag.pageView != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(ViewBag.pageView));
                }
            </ul>
        </nav>
    </div>
</main>

@section scripts{
    <script>
        $(".ShowPic").click(function () {
            var guid = $(this).attr("guid");
            $(".js-lightgallery" + "." + guid).empty();

            $.ajax({
                url: '@Url.Action("GetPic", "Products")',
                data: { guid: guid },
                type: 'POST',
                success: function (data) {
                    var pic = data.pic;
                    var alt = data.picalt;

                    var toAppend = "";
                    var num = 0;
                    $(".js-lightgallery" + "." + guid).empty();
                    $.each(pic, function (index, value) {
                        toAppend += '<a href="' + "../.." + value + '"><img src="' + "../.." + value + '" alt="' + alt[num] + '"></a>'
                        num++;
                    });

                    $(".js-lightgallery" + "." + guid).append(toAppend);

                    if ($(".js-lightgallery" + "." + guid).data("lightGallery")) {
                        $(".js-lightgallery" + "." + guid).data("lightGallery").destroy(true);
                    }
                    createLightGallery(guid);
                },
                complete: function () { $(".js-lightgallery" + "." + guid).children("a").eq(0).click(); }
            });
        });

        function createLightGallery(guid) {
            $(".js-lightgallery" + "." + guid).lightGallery({
                fullScreen: false,
                share: false,
                actualSize: false,
                autoplayControls: false
            });
        }
    </script>
}