﻿<div class="m-lbox__mask js-ajax-close"></div>
<div class="m-lbox__ctr l-wp-1660">
    <div class="m-lbox__toolbar">
        <div class="m-lbox__toolbar-close">
            <div class="m-btn js-ajax-close"><span></span></div>
        </div>
    </div>
    <div class="m-lbox__ir">

        <div class="m-lbox__info-ctr">
            <div class="m-lbox__pic">
                <img src="~/styles/images/common/icon-inquiry-ok.svg" alt="萊禮生醫科技股份有限公司">
            </div>
            <div class="m-lbox__depiction">
                @if (ViewBag.success == "add_success")
                {
                    <div>@Web.Resource.Resource.該產品已成功添加到線上諮詢表單</div>
                }
                else if (ViewBag.success == "del_success")
                {
                    <div>@Web.Resource.Resource.該產品已成功從線上諮詢表單刪除</div>
                }
            </div>
            <div class="m-lbox__btn">
                <a href="@Url.Action("Inquiry", "Contact")" class="m-btn m-btn--fillet2-blue">
                    <span class="m-btn__name">@Web.Resource.Resource.前往詢問單</span>
                </a>
                <button class="m-btn m-btn--fillet2-dark-gray js-ajax-close">
                    <span class="m-btn__name">@Web.Resource.Resource.觀看其他產品</span>
                </button>
            </div>
        </div>
    </div>
</div>