﻿@model Web.Models.ViewModels.ProductViewModel
<div class="m-lbox__mask js-ajax-close"></div>
<div class="m-lbox__ctr l-wp-1660">
    <!-- <div class="m-lbox__toolbar">
        <div class="m-lbox__toolbar-close">
            <div class="m-btn js-ajax-close"><span></span></div>
        </div>
    </div> -->
    <div class="m-lbox__ir">

        <div class="m-lbox__info-ctr">
            <div class="hd-catalog__info">
                <div class="hd-catalog__info-name">@Web.Resource.Resource.選擇加的入型錄</div>
                <div class="hd-catalog__info-select">
                    @if (Model.Notepad_ListViewModel != null && Model.Notepad_ListViewModel.Count != 0)
                    {
                        foreach (var item in Model.Notepad_ListViewModel)
                        {
                            if (item != null)
                            {
                                <div class="el-radio">
                                    <input type="radio" name="lb-catalog" id="lb-radio_@item.guid" value="@item.guid">
                                    <label for="lb-radio1">@item.title</label>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="hd-catalog__info-input">

                    <div class="el-input">
                        <input type="radio" name="lb-catalog" id="lb-radio_addnotepad" style="margin-right:3%;" value="create">
                        <label for="inptcatalog_addnotepad"></label>
                        <input id="inptcatalog_addnotepad" type="text" placeholder="@Web.Resource.Resource.請輸入型錄名稱">
                    </div>
                </div>
            </div>
            <div class="m-lbox__btn">
                <button class="m-btn m-btn--fillet2-blue" onclick="AddProductToNotepad('@ViewBag.guid')">
                    <span class="m-btn__name">@Web.Resource.Resource.確認</span>
                </button>
                <button class="m-btn m-btn--fillet2-dark-gray js-ajax-close">
                    <span class="m-btn__name">@Web.Resource.Resource.取消</span>
                </button>
            </div>
        </div>
    </div>
</div>