﻿@model Web.Models.ViewModels.ProductViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的型錄</title>

    <link rel="stylesheet" type="text/css" href="~/Styles/print/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="scripts/default/html5shiv.min.js"></script>
    <script src="scripts/default/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="~/styles/images/web-icon.ico" />
</head>

<body>
    <article class="report reportPrint">
        <!--==========================================================================
        * page-front 封面
         ==========================================================================-->
        <section class="print-Box" id="page-front">
            <img src="~/Styles/print/styles/images/front.jpg" alt="">
        </section>
        <!--==========================================================================
        * page - catalog 目錄
            ==========================================================================-->
        <section class="print-Box page" id="page-catalog">
            <div class="head"></div>
            <div class="headerbox">
                <div class="eng">THE CONTENTS</div>
                <div class="sub">@Web.Resource.Resource.產品目錄</div>
            </div>

            <div class="main">
                <div class="list">
                    <ul class="fs-18">
                        @foreach (var item in Model.NotepadData_PDFListViewModel)
                        {
                            <li>@item.Value.title<span class="type">@item.Value.model</span><span class="pagenum">1</span></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="footer">
            </div>
        </section>

        <!--page 產品清單 -->
        <section class="print-Box page">
            <div class="head"></div>
            <div class="main">
                <div class="pro-list">
                    <table>
                        <thead>
                            <tr>
                                <th>@Web.Resource.Resource.圖片</th>
                                <th>@Web.Resource.Resource.產品規格</th>
                                <th>@Web.Resource.Resource.網頁網址</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.NotepadData_PDFListViewModel)
                            {
                                <tr>
                                    <td>
                                        <img src="@(!string.IsNullOrEmpty(item.Value.indexpic) ? Url.Content("~" + item.Value.indexpic) : "")" alt="@item.Value.indexpic_alt">
                                    </td>
                                    <td>
                                        <span class="d-block fs-18 fw-b">@item.Value.title    @item.Value.model</span>
                                        @Html.Raw(item.Value.spec_pdf)
                                    </td>
                                    <td>
                                        @*<a href="http://www.taiwanstanch.com/zh_TW/prodDetail.asp?id=67" target="_blank" class="fs-18 tc-gray">http://www.taiwanstanch.com/zh_TW/prodDetail.asp?id=67</a>*@
                                        <a href="@Web.Service.FunctionService.getWebUrl()@Url.Action("Product_Data", "Products", new { guid = item.Value.guid})" target="_blank" class="fs-18 tc-gray">@Web.Service.FunctionService.getWebUrl()@Url.Action("Product_Data", "Products", new { guid = item.Value.guid })</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer">
            </div>
        </section>
        <!--end page 產品清單 -->
    </article>
    <!-- JavaScript
    ================================================== -->
    <script src="/Scripts/scripts/default/jquery.min.js"></script>
    <script src="/Scripts/scripts/plugins/imgLiquid.js"></script>
    @*<script src="/Scripts/print/scripts/default/print.js"></script>*@
</body>
</html>
<script>
    // JavaScript Document
    $(document).ready(function () {
        $('.jqimgFill').imgLiquid();

        $('.report .print-Box').each(function () {
            //printPage = 1451;
            printPage = 1514;
            printInner = printPage - 100;
            printInner2 = printPage * 2 - 100;
            printheight = $(this).height();
            printInnerPage = Math.floor(printheight / printPage) + 1;
            printName = $(this).attr("title");
            pageNum = 1;

            //設定每區塊高
            $(this).css({
                // height: printPage * printInnerPage
                height: printPage
            });
            //自動分頁
            $(this).find('.pageb').each(function () {
                var top = $(this).position().top,
                    height = $(this).height();
                /*第二頁*/
                if (top + height > printPage * pageNum - 100) {
                    pagebottomPosition = printPage * pageNum - top - 2;

                    $(this).before('<div class="footerH" page=""><div class="footer"><span class="left"></span></div></div><div class="head"></div>');
                    $(this).prevAll(".footerH").css("height", pagebottomPosition);

                    pageNum++;
                }
            });

            /*頁首 - 標題*/
            $(this).find('.head').each(function () {
                var dateObj = new Date();
                var year = dateObj.getFullYear();
                var month = dateObj.getMonth() + 1;
                var day = dateObj.getDate();

                $(this).append('<div class="stitle">本型錄資訊擷取日為' + year + '年' + month + '月' + day + '日</div>');
            });
            /*頁首 - 標題靠左靠右*/
            // $('.report .stitle:even').each(function() {
            // 	$(this).addClass('even');
            // });

            /*頁尾 - 頁碼*/
            $(this).find('.footer').each(function () {
                var index = $('.report .footer').index(this) + 1;
                $(this).append('<span class="copyright">COPYRIGHT © TAIWAN STANCH CO., LTD.</span>' + '<span class="pageNum fw-b">PAGE ' + index + '</span>');
                $(this).attr("page", index);
                $(this).parent().attr("page", index);
            });
        });

        //針對商品加上所屬頁碼
        var page = $(".footerH:first").attr("page") || $(".print-Box.page.product .footer").attr("page")
        $('.pro-list .pageb ,.pro-list .footerH').each(function () {
            $(this).attr('page', page);
            if ($(this).hasClass('footerH')) {
                page++;
            }
        })

        //商品目錄加上商品所屬頁碼
        $("span.contents").each(function () {
            var pguid = $(this).attr("pguid");
            var cguid = $(this).attr("cguid");
            var page = $("#" + pguid + "-" + cguid).attr("page");
            $(this).text(page);
        });
    });
</script>