﻿@model Web.Models.ViewModels.ProductViewModel
@using Web.Service;
<main class="l-wp-main main">
    <div class="prod-pic">
        <div class="prod-pic__headline" data-aos="fade-down">
            @if (ViewBag.type == "category")
            {
                <div class="prod-pic__headline-cls">@Model.ProductCategory_ViewModel.title</div>
            }
            else if (ViewBag.type == "series")
            {
                <div class="prod-pic__headline-cls">@Model.ProductSeries_ViewModel.title</div>
            }

            <div class="prod-pic__headline-name">@Model.ProductData_ViewModel.title</div>
            <div class="prod-pic__headline-model">@Model.ProductData_ViewModel.model</div>
        </div>

        <div class="prod-pic__ctr">
            <div class="prod-pic__btn">
                <div class="prod-pic__btn-wp l-wp-null" data-aos="fade-up">
                    @if (Model.ProductData_PrevViewModel != null)
                    {
                        <a href="@Url.Action("Product_Data", "Products", new { guid = Model.ProductData_PrevViewModel.guid, type = ViewBag.type })" class="m-btn m-btn--prod-pic-left">
                            <span class="m-btn__icon" data-icon="arrow-left"></span>
                            <span class="m-btn__txt">
                                <span class="m-btn__depiction">@Web.Resource.Resource.上一個商品</span>
                                <span class="m-btn__name">@Model.ProductData_PrevViewModel.title</span>
                                <span class="m-btn__model">@Model.ProductData_PrevViewModel.model</span>
                            </span>
                        </a>
                    }

                    @if (Model.ProductData_NextViewModel != null)
                    {
                        <a href="@Url.Action("Product_Data", "Products", new { guid = Model.ProductData_NextViewModel.guid, type = ViewBag.type})" class="m-btn m-btn--prod-pic-right">
                            <span class="m-btn__txt">
                                <span class="m-btn__depiction">@Web.Resource.Resource.下一個商品</span>
                                <span class="m-btn__name">@Model.ProductData_NextViewModel.title</span>
                                <span class="m-btn__model">@Model.ProductData_NextViewModel.model</span>
                            </span>
                            <span class="m-btn__icon" data-icon="arrow-right"></span>
                        </a>
                    }
                </div>
            </div>
            <div class="prod-pic__main" data-aos="fade-up" data-aos-delay="500">
                <div class="prod-pic__show l-wp-null">
                    <div data-imgfix="in">
                        @if (!string.IsNullOrEmpty(Model.ProductData_ViewModel.pic))
                        {
                            string[] pic = Model.ProductData_ViewModel.pic.Split(',');
                            string[] picalt = Model.ProductData_ViewModel.pic_alt.Split(',');
                            foreach (var item in pic.Take(1))
                            {
                                <img class="js-show" src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item) ? Url.Content("~" + item) : "")" alt="@picalt[0]">
                            }
                        }
                    </div>
                </div>
                <div class="prod-pic__opt l-wp-null">
                    <div class="prod-pic__swp swiper-container js-opt">
                        <div class="swiper-wrapper">
                            @if (!string.IsNullOrEmpty(Model.ProductData_ViewModel.pic))
                            {
                                string[] pic = Model.ProductData_ViewModel.pic.Split(',');
                                string[] picalt = Model.ProductData_ViewModel.pic_alt.Split(',');
                                var num = 0;
                                foreach (var item in pic)
                                {
                                    <div class="swiper-slide">
                                        <div class="prod-pic__opt-item" data-imgfix="in">
                                            <img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item) ? Url.Content("~" + item) : "")" alt="@picalt[num]">
                                        </div>
                                    </div>
                                    num++;
                                }
                            }
                        </div>
                    </div>
                    <div class="prod-pic__opt-btn">
                        <div class="prod-pic__opt-btn-wp">
                            <div class="m-btn js-prev">
                                <span class="m-btn__icon" data-icon="arrow-left"></span>
                            </div>
                            <div class="m-btn js-next">
                                <span class="m-btn__icon" data-icon="arrow-right"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prod-pic__cls l-wp-null" data-aos="fade-up">
                <div class="prod-pic__cls-list">
                    @if (Model.ProductIconData_ListViewModel != null && Model.ProductIconData_ListViewModel.Count != 0)
                    {
                        foreach (var item in Model.ProductIconData_ListViewModel)
                        {
                            <div class="prod-pic__cls-item">
                                <img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="@item.pic_alt">
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="prod-pic__bg" data-aos="fade-down"></div>
    </div>

    <div class="prod-stn">
        <div class="l-wp-1500">

            <div class="prod-info">

                <div id="parentHorizontalTab">
                    <ul class="resp-tabs-list hor_1">
                        <li>@Web.Resource.Resource.產品規格</li>
                        <li>@Web.Resource.Resource.產品特點</li>
                        <li>@Web.Resource.Resource.使用方法</li>
                        <li>@Web.Resource.Resource.影音專區</li>
                    </ul>
                    <div class="resp-tabs-container hor_1">
                        <div class="prod-info__item prod-info__item--format">
                            <div class="editor">
                                @Html.Raw(FunctionService.FormatImagePath(Model.ProductData_ViewModel.spec))
                            </div>
                        </div>
                        <div class="prod-info__item prod-info__item--features">
                            <div class="editor">
                                @Html.Raw(FunctionService.FormatImagePath(Model.ProductData_ViewModel.feature))
                            </div>
                        </div>
                        <div class="prod-info__item prod-info__item--instructions">
                            <div class="editor">
                                @Html.Raw(FunctionService.FormatImagePath(Model.ProductData_ViewModel.method))
                            </div>
                        </div>
                        <div class="prod-info__item prod-info__item--video">
                            <div class="editor">
                                <ul class="box4">
                                    @if (Model.ProductVideoData_ListViewModel != null && Model.ProductVideoData_ListViewModel.Count != 0)
                                    {
                                        foreach (var item in Model.ProductVideoData_ListViewModel)
                                        {
                                            <li>
                                                <div class="m-card m-card--prod-video" data-lbox="@Url.Action("Index", "Video", new { guid = item.guid })" data-id="lbox-video">
                                                    <div class="m-card__video">
                                                        <figure data-imgfix="full">
                                                            <img src="~/styles/images/common/loading-full.gif" data-src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="@item.pic_alt">
                                                        </figure>
                                                        <div class="m-card__btn-lbox">
                                                            <div class="m-btn m-btn--play-prod">
                                                                <span class="m-btn__icon" data-icon="play"></span>
                                                            </div>
                                                        </div>
                                                        <div class="m-card__mask"></div>
                                                    </div>
                                                    <div class="m-card__name">@item.title</div>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="prod-btn">
                <div class="prod-btn__list">
                    <div class="prod-btn__item">
                        @if (ViewBag.type == "category")
                        {
                            <a href="@Url.Action("ProductsList_Category", "Products", new { category = Model.ProductData_ViewModel.product_category, brand = Model.ProductData_ViewModel.category_brand})" class="m-btn m-btn--prod-btn">
                                <span class="m-btn__icon" data-icon="back"></span>
                                <span class="m-btn__name">@Web.Resource.Resource.返回列表</span>
                            </a>
                        }
                        else if (ViewBag.type == "series")
                        {
                            <a href="@Url.Action("ProductsList_Series", "Products", new { series = Model.ProductData_ViewModel.product_series, brand = Model.ProductData_ViewModel.series_brand})" class="m-btn m-btn--prod-btn">
                                <span class="m-btn__icon" data-icon="back"></span>
                                <span class="m-btn__name">@Web.Resource.Resource.返回列表</span>
                            </a>
                        }
                    </div>
                    <div class="prod-btn__item">
                        <div class="m-btn m-btn--prod-btn" data-lbox="@Url.Action("lbox_inquiry", "Products", new { guid = Model.ProductData_ViewModel.guid})" data-id="lbox-inquiry">
                            <span class="m-btn__icon" data-icon="ask"></span>
                            <span class="m-btn__name">@Web.Resource.Resource.加入詢問表單</span>
                        </div>
                    </div>
                    @*<div class="prod-btn__item">
                        <div class="m-btn m-btn--prod-btn" data-lbox="@Url.Action("lbox_catalog", "Products", new { guid = Model.ProductData_ViewModel.guid})" data-id="lbox-catalog">
                            <span class="m-btn__icon" data-icon="catalog"></span>
                            <span class="m-btn__name">@Web.Resource.Resource.加入我的型錄</span>
                        </div>
                    </div>*@
                    <div class="prod-btn__item">
                        <a href="@(!string.IsNullOrEmpty(Model.ProductData_ViewModel.url) ? Url.Content(Model.ProductData_ViewModel.url) : "")" class="m-btn m-btn--prod-btn">
                            <span class="m-btn__icon" data-icon="cart"></span>
                            <span class="m-btn__name">@Web.Resource.Resource.前往購物</span>
                        </a>
                    </div>
                    <div class="prod-btn__item">
                        <div class="prod-btn__share">
                            <div class="prod-btn__share-name">@Web.Resource.Resource.社群分享</div>
                            <div class="prod-btn__share-list">
                                <a class="prod-btn__share-item fb" style="color:#008CD7;" data-icon="facebook"></a>
                                <a class="prod-btn__share-item twitter" style="color:#008CD7;" data-icon="twitter"></a>
                                <a class="prod-btn__share-item line" style="color:#008CD7;" data-icon="line"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="prod-more">
            @if (ViewBag.type == "category")
            {
                <div class="prod-more__headline">
                    @Web.Resource.Resource.更多"<strong>@Model.ProductCategory_ViewModel.title</strong>"@Web.Resource.Resource.相關產品
                </div>
            }
            else if (ViewBag.type == "series")
            {
                <div class="prod-more__headline">
                    @Web.Resource.Resource.更多"<strong>@Model.ProductSeries_ViewModel.title</strong>"@Web.Resource.Resource.相關產品
                </div>
            }
            @if (Model.ProductRelatedData_ListViewModel != null && Model.ProductRelatedData_ListViewModel.Count != 0)
            {
                <div class="prod-more__ctr">
                    <div class="prod-more__wp l-wp-null">
                        <div class="prod-more__swp swiper-container">

                            <div class="swiper-wrapper">

                                @foreach (var item in Model.ProductRelatedData_ListViewModel)
                                {
                                    <div class="swiper-slide">
                                        <div class="m-card m-card--prod-other" data-href="@Url.Action("Product_Data", "Products", new { guid = item.guid, type = ViewBag.type })">
                                            <div class="m-card__ctr" data-href="@Url.Action("Product_Data", "Products", new { guid = item.guid, type = ViewBag.type })">
                                                <div class="m-card__pic">
                                                    <div data-imgfix="in">
                                                        <img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.indexpic) ? Url.Content("~" + item.indexpic) : "")" alt="@item.indexpic_alt">
                                                    </div>
                                                    <div class="m-card__mask">
                                                        <div class="m-card__btn-lbox">
                                                            <a href="" class="m-btn m-btn--circle-prod-more-card">
                                                                <span class="m-btn__name"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="m-card__txt">
                                                    <h2 class="m-card__title">@item.title</h2>
                                                    <div class="m-card__model">@item.model</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="prod-more__btn">
                        <div class="prod-more__btn-wp l-wp-null">
                            <div class="m-btn m-btn--circle-prod-more js-prev">
                                <span class="m-btn__icon" data-icon="arrow-left"></span>
                            </div>
                            <div class="m-btn m-btn--circle-prod-more js-next">
                                <span class="m-btn__icon" data-icon="arrow-right"></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>

@section scripts{
    <script>
        //FB分享
        $("body").delegate('.fb', 'click', function () {
            var thisURL = encodeURIComponent(location.href);
            window.open('https://www.facebook.com/share.php?u='.concat(thisURL), 'pop', config = 'height=500,width=500');
        });

        //TWitter分享
        $("body").delegate('.twitter', 'click', function () {
            var pageTitle = encodeURIComponent(document.title);
            var thisURL = ' ' + location.href;
            window.open('http://twitter.com/home/?status='.concat(pageTitle).concat(thisURL), 'pop', config = 'height=500,width=500');
        });

        //Line分享
        $("body").delegate('.line', 'click', function () {
            var pageTitle = encodeURIComponent(document.title);
            var thisURL = ' ' + location.href;
            window.open('https://line.naver.jp/R/msg/text/?'.concat(pageTitle).concat(thisURL), 'pop', config = 'height=500,width=500');
        });
    </script>
}