﻿@model Web.Models.ViewModels.ProductViewModel
@using Web.Service
<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--pro-list">
        <div class="m-bn__ctr content">
            @if (Model.ProductCategory_ViewModel != null)
            {
                <div class="m-bn__pic" data-aos="zoom-out" data-aos-duration="1500">
                    <figure data-imgfix="full">
                        <img src="@(!string.IsNullOrEmpty(Model.ProductCategory_ViewModel.banner) ? Url.Content("~" + Model.ProductCategory_ViewModel.banner) : "")" data-src="@(!string.IsNullOrEmpty(Model.ProductCategory_ViewModel.banner) ? Url.Content("~" + Model.ProductCategory_ViewModel.banner) : "")" alt="@Model.ProductCategory_ViewModel.banner_alt">
                    </figure>
                </div>
            }
            <div class="m-bn__info">
                <div class="m-bn__headline">
                    <div class="m-bn__title">@Model.ProductCategory_ViewModel.title</div>
                    <div class="m-bn__depiction">
                        @Html.Raw(Model.ProductCategory_ViewModel.subtitle)
                    </div>
                </div>
                <div class="cms-cls">
                    <div class="cms-cls__toggle">
                        <div class="cms-cls__toggle-name">
                            <span>@Web.Resource.Resource.切換商品分類</span>
                            <span>@Web.Resource.Resource.收合商品分類</span>
                        </div>
                        <div class="cms-cls__toggle-icon" data-icon="arrow-top"></div>
                    </div>
                    <div class="cms-cls__ctr">
                        <div class="cms-cls__wp l-wp-1194">
                            <div class="cms-cls__swp swiper-container">
                                <div class="swiper-wrapper">
                                    @foreach (var item in Model.ProductCategory_ListViewModel)
                                    {
                                        <div class="swiper-slide">
                                            <div class="cms-cls__item"><a href="@Url.Action("ProductsList_Category", "Products", new { category = item.Key.guid})" class="cms-cls__link" data-Change="@(!string.IsNullOrEmpty(item.Key.banner) ? Url.Content("~" + item.Key.banner) : "")">@item.Key.title</a></div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="cms-cls__btn">
                            <div class="cms-cls__btn-wp l-wp-1194">
                                <div class="m-btn m-btn--cms-cls js-prev">
                                    <span class="m-btn__name" data-icon="arrow-left"></span>
                                </div>
                                <div class="m-btn m-btn--cms-cls js-next">
                                    <span class="m-btn__name" data-icon="arrow-right"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product list section -->
    <div class="prol-stn">
        <div class="prol-cls">
            <div class="l-wp-1610">
                <div class="prol-cls__swp swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.ProductBrand_ListViewModel)
                        {
                            <div class="swiper-slide">
                                <div class="prol-cls__link" data-href="@Url.Action("ProductsList_Category", "Products", new { category = Model.ProductCategory_ViewModel.guid, brand = item.guid})">
                                    <div class="prol-cls__pic" data-imgfix="in">
                                        <img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="@item.pic">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="prol-cls__btn">
                <div class="prol-cls__btn-wp">
                    <div class="m-btn m-btn--circle-prol-cls js-prev">
                        <span class="m-btn__icon" data-icon="arrow-left"></span>
                    </div>
                    <div class="m-btn m-btn--circle-prol-cls js-next">
                        <span class="m-btn__icon" data-icon="arrow-right"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="prol-ctr l-wp-1740">
            <ul class="prol-list row">
                @if (Model.ProductData_PagedListViewModel != null && Model.ProductData_PagedListViewModel.Count != 0)
                {
                    foreach (var item in Model.ProductData_PagedListViewModel)
                    {
                        <li class="prol-list__item col-3">
                            <div class="m-card m-card--prol">
                                <div class="m-card__ctr" data-href="@Url.Action("Product_Data", "Products", new { guid = item.guid, type = "category" })">
                                    <div class="m-card__pic">
                                        <div data-imgfix="in">
                                            <img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.indexpic) ? Url.Content("~" + item.indexpic) : "")" alt="@item.indexpic_alt">
                                        </div>
                                    </div>
                                    <div class="m-card__txt">
                                        <h2 class="m-card__title">@item.title</h2>
                                        <div class="m-card__model">@item.model</div>
                                    </div>
                                </div>
                                <div class="m-card__btn">
                                    <div class="m-card__btn-item" data-lbox="@Url.Action("lbox_inquiry", "Products", new { guid = item.guid})" data-id="lbox-inquiry">
                                        <div class="m-btn m-btn--prol ">
                                            <span class="m-btn__icon" data-icon="hook"></span>
                                            <span class="m-btn__name">@Web.Resource.Resource.加入詢問表單</span>
                                        </div>
                                    </div>
                                    <div class="m-card__btn-item" data-lbox="@Url.Action("lbox_catalog", "Products", new { guid = item.guid})" data-id="lbox-catalog">
                                        <div class="m-btn m-btn--prol">
                                            <span class="m-btn__icon" data-icon="hook"></span>
                                            <span class="m-btn__name">@Web.Resource.Resource.加入我的型錄</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>

        <nav class="pagination" data-aos="zoom-in">
            <ul class="pagination__list">
                @if (ViewBag.pageView != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(ViewBag.pageView))
                }
            </ul>
        </nav>
    </div>
</main>