﻿@model Web.Models.ViewModels.ProductViewModel
@using Web.Service
<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--pro-list">
        <div class="m-bn__ctr content">
            @if (Model.ProductSeries_ViewModel != null)
            {
                <div class="m-bn__pic" data-aos="zoom-out" data-aos-duration="1500">
                    <figure data-imgfix="full">
                        <img src="@(!string.IsNullOrEmpty(Model.ProductSeries_ViewModel.banner) ? Url.Content("~" + Model.ProductSeries_ViewModel.banner) : "")" data-src="@(!string.IsNullOrEmpty(Model.ProductSeries_ViewModel.banner) ? Url.Content("~" + Model.ProductSeries_ViewModel.banner) : "")" alt="@Model.ProductSeries_ViewModel.banner_alt">
                    </figure>
                </div>
            }

            <div class="m-bn__info">
                <div class="m-bn__headline">
                    <div class="m-bn__title">@Model.ProductSeries_ViewModel.title</div>
                    <div class="m-bn__depiction">
                        @Html.Raw(Model.ProductSeries_ViewModel.subtitle)
                    </div>
                </div>
                <div class="cms-cls">
                    @*<div class="cms-cls__toggle">
                            <div class="cms-cls__toggle-name">
                                <span>@Web.Resource.Resource.切換商品分類</span>
                                <span>@Web.Resource.Resource.收合商品分類</span>
                            </div>
                            <div class="cms-cls__toggle-icon" data-icon="arrow-top"></div>
                        </div>*@
                    <div class="cms-cls__toggle">
                        <div class="cms-cls__toggle-icon" data-icon="arrow-top"></div>
                        <div class="cms-cls__toggle-name">
                            <div class="icon_box">
                                <span class="circle s01"></span>
                                <span class="circle s02"></span>
                                <span class="circle s03"></span>
                                <div class="img_box">
                                    <img src="~/styles/images/product/detail/products-list-close.svg" alt="close">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cms-cls__ctr">
                        <div class="cms-cls__wp l-wp-1194">
                            <div class="cms-cls__swp swiper-container">
                                <div class="swiper-wrapper">
                                    @*@foreach (var item in Model.ProductSeries_ListViewModel)
                                        {


                                            <div class="swiper-slide">
                                                <div class="cms-cls__item">
                                                    <a href="@Url.Action("ProductsList_Series", "Products", new { series = item.Key.guid})" class="cms-cls__link" data-change="@(!string.IsNullOrEmpty(item.Key.banner) ? Url.Content("~" + item.Key.banner) : "")">
                                                        <span class="img_box">
                                                            <img src="~/styles/images/product/detail/products-list-icon01.svg" alt="@item.Key.title">
                                                        </span>
                                                        <span class="text_box">
                                                            @item.Key.title
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        }*@

                                    @foreach (var item in Model.ProductCategoryAll_ViewModel)
                                    {

                                        if (item.brand != null)
                                        {
                                            <div class="swiper-slide">
                                                <div class="cms-cls__item">
                                                    <a href="@Url.Action("ProductsList_Series", "Products", new { series = item.brand.Split(',')[0]})" class="cms-cls__link">
                                                        <span class="img_box">
                                                            <img src="@Url.Content("~" + item.icon)" alt="@item.title">
                                                        </span>
                                                        <span class="text_box">
                                                            @item.title
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="swiper-slide">
                                                <div class="cms-cls__item">
                                                    <a class="cms-cls__link">
                                                        <span class="img_box">
                                                            <img src="@Url.Content("~" + item.icon)" alt="@item.title">
                                                        </span>
                                                        <span class="text_box">
                                                            @item.title
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="cms-cls__btn">
                            <div class="cms-cls__btn-wp l-wp-1194">
                                <div class="m-btn m-btn--cms-cls js-prev">
                                    <span class="m-btn__name" data-icon="arrow-left"></span>
                                </div>
                                <div class="m-btn m-btn--cms-cls js-next">
                                    <span class="m-btn__name" data-icon="arrow-right"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product list section -->
    <div class="prol-stn">
        <div class="prol-cls" data-aos="fade-down">
            <div class="l-wp-1610">
                @*<div class="prol-cls__swp swiper-container">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.ProductBrand_ListViewModel)
                            {
                                <div class="swiper-slide">
                                    <div class="prol-cls__link" data-href="@Url.Action("ProductsList_Series", "Products", new { series = Model.ProductSeries_ViewModel.guid, brand = item.guid})">
                                        <div class="prol-cls__pic" data-imgfix="in">
                                            <img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="@item.pic">
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>*@

                <div class="prol-cls__swp">
                    @*@foreach (var item in Model.ProductBrand_ListViewModel)
                        {
                            <div class="swiper-slide">
                                <div class="prol-cls__link" data-href="@Url.Action("ProductsList_Series", "Products", new { series = Model.ProductSeries_ViewModel.guid, brand = item.guid })">
                                    <div class="prol-cls__pic" data-imgfix="in">
                                        <img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="@item.pic">
                                    </div>
                                </div>
                            </div>
                        }*@
                    @*@foreach (var item in Model.ProductBrand_ListViewModel)
                        {
                            <div class="item_box op">
                                <a data-href="@Url.Action("ProductsList_Series", "Products", new { series = Model.ProductSeries_ViewModel.guid, brand = item.guid})" target="_blank">
                                    <span>@item.title</span>
                                </a>
                            </div>
                        }*@
                    @foreach (var item in Model.ProductCateSeries_ListViewModel)
                    {
                        if (Model.ProductSeries_ViewModel.guid == item.guid)
                        {
                            <div class="item_box op">
                                <a data-href="@Url.Action("ProductsList_Series", "Products", new { series = item.guid})" target="_blank">
                                    <span>@item.title</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="item_box">
                                <a data-href="@Url.Action("ProductsList_Series", "Products", new { series = item.guid})" target="_blank">
                                    <span>@item.title</span>
                                </a>
                            </div>
                        }
                    }

                </div>
            </div>
            @*<div class="prol-cls__btn">
                    <div class="prol-cls__btn-wp">
                        <div class="m-btn m-btn--circle-prol-cls js-prev">
                            <span class="m-btn__icon" data-icon="arrow-left"></span>
                        </div>
                        <div class="m-btn m-btn--circle-prol-cls js-next">
                            <span class="m-btn__icon" data-icon="arrow-right"></span>
                        </div>
                    </div>
                </div>*@
        </div>

        <div class="prol-ctr l-wp-1740">
            <ul class="prol-list row" data-aos="fade-up">
                @if (Model.ProductData_PagedListViewModel != null && Model.ProductData_PagedListViewModel.Count != 0)
                {
                    foreach (var item in Model.ProductData_PagedListViewModel)
                    {
                        <li class="prol-list__item col-3">
                            <div class="m-card m-card--prol">
                                <div class="m-card__ctr" data-href="@Url.Action("Product_Data", "Products", new { guid = item.guid, type = "series"})">
                                    <div class="m-card__pic">
                                        <div data-imgfix="in">
                                            <img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.indexpic) ? Url.Content("~" + item.indexpic) : "")" alt="@item.indexpic_alt">
                                        </div>
                                    </div>
                                    <div class="m-card__txt">
                                        <h2 class="m-card__title">@item.title</h2>
                                        <div class="m-card__model">@item.model</div>
                                    </div>
                                </div>
                                <div class="m-card__btn">
                                    <div class="m-card__btn-item">
                                        <div class="m-btn m-btn--prol" data-lbox="@Url.Action("lbox_inquiry", "Products", new { guid = item.guid})" data-id="lbox-inquiry">
                                            <span class="m-btn__icon" data-icon="hook"></span>
                                            <span class="m-btn__name">@Web.Resource.Resource.加入詢問表單</span>
                                        </div>
                                    </div>
                                    @*<div class="m-card__btn-item" data-lbox="@Url.Action("lbox_catalog", "Products", new { guid = item.guid})" data-id="lbox-catalog">
                                            <div class="m-btn m-btn--prol">
                                                <span class="m-btn__icon" data-icon="hook"></span>
                                                <span class="m-btn__name">@Web.Resource.Resource.加入我的型錄</span>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>

        <nav class="pagination" data-aos="zoom-in">
            <ul class="pagination__list">
                @if (ViewBag.pageView != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(ViewBag.pageView))
                }
            </ul>
        </nav>
    </div>
</main>