﻿@using Web.Service
@model Web.Models.ViewModels.ProductViewModel
<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--inside">
        <div class="m-bn__ctr content">
            @if (Model.PageBanner_ViewModel != null)
            {
                <div class="m-bn__pic" data-aos="zoom-out" data-aos-duration="1500">
                    <figure data-img="full">
                        <img src="@(!string.IsNullOrEmpty(Model.PageBanner_ViewModel.pic) ? Url.Content("~" + Model.PageBanner_ViewModel.pic) : "")" alt="@Model.PageBanner_ViewModel.pic_alt">
                    </figure>
                </div>
            }
            <div class="m-bn__info">
                @if (Model.PageBanner_ViewModel != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(Model.PageBanner_ViewModel.content))
                }
                <div class="cms-tages">
                    <div class="cms-tages__toggle">
                        <div class="cms-tages__toggle-name">@Web.Resource.Resource.全部</div>
                        <div class="cms-tages__toggle-icon" data-icon="menu"></div>
                    </div>
                    <div class="cms-tages__ctr">
                        <ul class="cms-tages__list">
                            <li class="cms-tages__item"><a href="@Url.Action("Series", "Products")" class="cms-tages__link active">@Web.Resource.Resource.全部</a></li>
                            <li class="cms-tages__item"><a href="@Url.Action("Category", "Products")" class="cms-tages__link">@Web.Resource.Resource.產品分類</a></li>
                            <li class="cms-tages__item"><a href="@Url.Action("Catalog", "Products")" class="cms-tages__link">@Web.Resource.Resource.產品型錄</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- products all section -->
    @*<div class="pros2-wp l-wp-1820">
        <ul class="pros2-list">
            @foreach (var item in Model.ProductSeries_ListViewModel)
            {

                <li class="pros2-list__item">
                    <div class="m-card m-card--pros-all" data-href="@Url.Action("ProductsList_Series", "Products", new { series = item.Key.guid })">
                        <div class="m-card__pic">
                            <div data-imgfix="in">
                                <img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.Key.pic) ? Url.Content("~" + item.Key.pic) : "")" alt="@item.Key.pic">
                            </div>
                            <div class="m-card__mask">
                                <div class="m-card__btn-lbox">
                                    <a href="" class="m-btn m-btn--circle-pros-all">
                                        <span class="m-btn__name"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="m-card__title">@item.Key.title</h2>
                        <div class="m-card__depiction">
                            @Html.Raw(item.Key.subtitle)
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>*@
    <div class="l-wp-1520">
        <div class="pros-ctr">
            @foreach (var item in Model.ProductSeriesCategory_ListViewModel)
            {
                <div class="pros-item">
                    <div class="pros-item__pic">
                        <div data-imgfix="in" href="www.google.com">
                            <a href="@Url.Action("ProductsList_Series", "Products", new { series = item.Key.guid})" target="_blank"><img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.Key.pic) ? Url.Content("~" + item.Key.pic) : "")" alt="@item.Key.pic"></a>
                        </div>
                    </div>
                    <div class="pros-item__txt">
                        <div class="pros-item__info">
                            <h2 class="pros-item__title">@item.Key.title</h2>
                            <div class="pros-item__ir">
                                <div class="pros-item__depiction">
                                    @Html.Raw(item.Key.subtitle)
                                </div>
                                <select name="choose category" class="dkSel" onchange="location.href=this.options[this.selectedIndex].value">
                                    <option value="javascript:void();" selected="selected">@Web.Resource.Resource.選擇分類</option>
                                    @foreach (var data in item.Value)
                                    {
                                        if (data != null)
                                        {
                                            <option value="@Url.Action("ProductsList_Series", "Products", new { series = data.guid })">@data.title</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>