/* Bootstrap */
.font-weight-500{
    font-weight: 500;
}


// .w-30{
//     width: 30%!important;
// }
// .w-40{
//     width: 40%!important;
// }

// .col-xxl-3{

// }
// @media (min-width: 1400px){
//     .col-xxl-3 {
//         -webkit-box-flex: 0;
//         -ms-flex: 0 0 25%;
//         flex: 0 0 25%;
//         max-width: 25%;
//     }
//     .col-xxl-4 {
//         -webkit-box-flex: 0;
//         -ms-flex: 0 0 33.33%;
//         flex: 0 0 33.33%;
//         max-width: 33.33%;
//     }
// }
