/* -----------------------------------------
   Header styles
----------------------------------------- */


.page-header {
    z-index: $zindex-fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 50px;
    background-color: $page-header-bg;
    @include media-breakpoint-down(lg) {
        text-align: center;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .top-right {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1031;
        padding-right: 30px;
    }
    .navbar-brand {
        transition: all 0.4s ease;
        
        
        a {
            text-decoration: none;
            color: $gray-900;
        }
        img {
            //max-width: 30px;
            height: auto;
            max-width: 250px;
        max-height: 35px;
        filter:$logo-filter;
        }
        span {
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            text-transform: uppercase;
            visibility: visible;
            vertical-align: middle;
            letter-spacing: 0px;
            opacity: 1;
        }
        .slide-nav-close & {
            .span {
                visibility: hidden;
                opacity: 0;
                @include media-breakpoint-down(lg) {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .toggle-left-nav-btn {
        opacity: .6;
        transition: opacity .3s;
        height: 50px;
        cursor: pointer;
        @include media-breakpoint-down(lg) {
            left: 1px;
            position: absolute;
            top: 0;
        }
        &:hover {
            opacity: 1;
        }
        .line {
            &,
            &:before,
            &:after {
                display: inline-block;
                width: 19px;
                height: 2px;
                background: $toggle-nav-btn-line;
                position: relative;
                top: -6px;
                transition: all ease .3s;
                outline: 0!important;
            }
            &:before,
            &:after {
                position: absolute;
                left: 0;
                content: '';
            }
            &:before {
                top: 6px;
            }
            &:after {
                top: -6px;
            }
        }
    }
    .dropdown {
        position: relative;
        .btn{
            color:$page-dropdown-colo!important;
        }
        .dropdown-toggle::after {
            display: none;
        }
        .dropdown-menu {
            box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
            left: auto;
            right: -20px;
            min-width: 175px;
            margin-top: 5px;
            padding-top: 0px;
            padding-bottom: 0px;
            border: 0px solid transparent;
            a {
                display: block;
                border-bottom: 1px solid rgba(240, 239, 245,1);
                padding: 3px 20px;
                clear: both;
                font-weight: 400;
                line-height: 40px;
                white-space: nowrap;
                &.active {
                    color: #fff;
                    background-color: $main;
                }
                span,
                i {
                    vertical-align: middle;
                }
            }
        }
        &.profile {
            a i {
                margin-right: 10px;
                line-height: 36px;
                height: 36px;
                width: auto;
                text-align: center;
                font-size: 14px;
            }
        }
        &.globe {
            a i {
                padding: 0;
                background-color: inherit;
                border: 1px solid rgba(255, 255, 255, 1);
                /*border-radius: 0;*/
                width: 20px;
                height: 17px;
                display: inline-block;
                background-position: center center;
                background-size: 100% auto;
                margin-right: 10px;
            }
        }
    }
}
