/* About ====================================================================== */
.abt-stn
    .cms-headline
        +pd(y, pa(60))
    +rwdw-max(sm)
        .cms-headline
            +mg(y, rem(30))

/* About Info ----------------------------------------------------------------- */
/* about info common */
.abt-info
    margin-bottom: pa(140)
    &__title
        display: block
        font-size: rem(24)
        font-weight: 500
        color: #323232
        margin-bottom: rem(30)
    &__depiction
        color: #323232
        line-height: lh(16, 32)
        > *:not(:last-child)
            margin-bottom: rem(10)
        ul
            li
                position: relative
                padding-left: rem(15)
                &::before
                    content: ''
                    position: absolute
                    top: 15px
                    left: 0px
                    width: 3px
                    height: 3px
                    border-radius: 100%
                    background: #fff
                &:not(:last-child)
                    margin-bottom: rem(10)
    &__bg
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: 100%
        background-position: center
        background-repeat: no-repeat
        background-size: cover
    +rwdw-max(1440)
        &__title
            font-size: rem(22)
    +rwdw-max(md)
        margin-bottom: rem(80)
    +rwdw-max(sm)
        &__title
            margin-bottom: rem(15)
        &__depiction
            line-height: lh()

/* about info block style */
.abt-info__bk
    &--clique
        position: relative
        margin-top: pa(-70)
        margin-bottom: rem(10)
        .abt-info
            &__ctr
                +flex()
                position: relative
                z-index: 1
            &__txt
                +fl-item(625px, t)
                padding-top: rem(95)
            &__pic
                +fl-item(640px, t)
                margin-left: vw(90)
            &__bg
                background-image: url('images/about/info/clique-bg_1920x585.png')
        +rwdw-max(1100)
            margin-top: 0px
            .abt-info
                &__ctr
                    flex-wrap: wrap
                &__txt
                    padding-top: 0px
                    +fl-item(100%)
                &__pic
                    +fl-item(100%)
    &--profession
        margin-bottom: rem(58)
        .abt-info
            &__ctr
                +flex()
                margin-bottom: pa(55, 1380)
            &__pic
                +fl-item(915px, t)
            &__txt
                +fl-item(calc(100% - 915px, t))
                padding-top: rem(95)
                padding-left: vw(40)
            &__list
                // +flex($fw: wrap)
            // &__item
            //     +fl-item(calc(100%/6), t)
            &__swp
                position: relative
            &__btn
                position: absolute
                z-index: 1
                top: 50%
                left: 0px
                width: 100%
                &-wp
                    +flex($ai: center, $jc: sb)
                    .m-btn.swiper-button-disabled
                        opacity: .5
        +rwdw-min(1100)
            .abt-info
                &__btn
                    display: none
        +rwdw-max(1280)
            .abt-info
                &__pic
                    +fl-item(50%)
                &__txt
                    +fl-item(50%)
        +rwdw-max(1100)
            .abt-info
                &__ctr
                    flex-wrap: wrap
                &__pic
                    +fl-item(100%)
                    +flex-center()
                &__txt
                    +fl-item(100%)
                    padding-top: rem(15)
                    padding-left: 0px
                // &__item
                //     +fl-item(calc(100%/3))
        // +rwdw-max(sm)
        //     .abt-info
        //         &__item
        //             +fl-item(100%)

    &--responsibility
        position: relative
        padding-top: pa(110)
        padding-bottom: pa(115)
        margin-bottom: rem(120)
        .abt-info
            &__ctr
                +flex($jc: end)
                position: relative
                z-index: 1
            &__txt
                +fl-item(700px, t)
                flex-basis: auto
            &__title
                color: #fff
            &__depiction
                color: #fff
                > *:not(:last-child)
                    margin-bottom: rem(15)
            &__bg
                transform: skewY(-3deg)
                background-attachment: fixed
                background-position: top center
                background-image: url('images/about/info/responsibility-bg_1920x1030.jpg')
        +rwdw-max(sm)
            padding-top: rem(40)
            padding-bottom: rem(30)
            margin-bottom: rem(30)
            .abt-info
                &__bg
                    +bg-lg(#6BADCB, #7FB9D5, to right)
                    // background-position: 40% top
                    // &::before
                    //     content: ''
                    //     position: absolute
                    //     top: 0px
                    //     left: 0px
                    //     width: 100%
                    //     height: 100%
                    //     background: rgba(0, 0, 0, 0.5)
    &--course
        .abt-info
            &__title
                text-align: center
            &__list
            &__item
                +flex()
                border-bottom: 1px solid #A4A4A4
                padding-bottom: rem(15)
                &:not(:last-child)
                    margin-bottom: rem(15)
            &__time
                font-family: font(mt)
                font-size: rem(22)
                font-weight: 600
                color: #008CD7
                +fl-item(200px, t)
            &__name
                padding-top: rem(3)
                letter-spacing: .05px
        +rwdw-max(1440)
            &__time
                font-size: rem(20)
        +rwdw-max(700)
            .abt-info
                &__item
                    flex-wrap: wrap
                &__time
                    +fl-item(100%)
                    flex-basis: auto
                    text-align: center
                &__name
                    padding-top: 0px
                    width: 100%
                    text-align: center

/* About Certificate ---------------------------------------------------------- */
.abt-cert
    +flex($fw: wrap, $jc: center)
    margin-bottom: pa(120)
    &__item
        +flex($fd: column, $ai: center)
        min-width: 185px
        +mg(x, vw(30))
        margin-bottom: rem(30)
    &__pic
        +flex()
        width: 100%
        +mg(x, rem(-5))
        margin-bottom: rem(10)
        figure, a
            display: inline-block
            box-shadow: 0 10px 20px rgba(#000, .2)
            margin-bottom: rem(20)
            +mg(x, rem(5))
            flex-shrink: 0
            width: 185px
            height: 245px
    &__name
        display: block
        width: 100%
        text-align: center
        color: #323232
        font-weight: bold
    +rwdw-max(md)
        &__pic
            flex-wrap: wrap
            justify-content: center