/* Index ====================================================================== */
/* index news */
.idx-nws
    margin-top: pa(100)
    margin-bottom: rem(10)
    position: relative
    .cms-headline
        margin-bottom: pa(60)
    &__ctr
        position: relative
        z-index: 1
    &__wp
        max-width: pa(1590, 1920)
        width: 100%
    &__swp
        +pd(y, rem(40))
        .swiper-slide
            // transform: scale(0.8)
            &-prev, &-duplicate-prev
                .m-card
                    &__pic
                        transform: scale(.9)
                    &__info
                        padding-top: rem(25)
                        padding-right: vw(95)
                        padding-bottom: rem(90)
            &-next, &-duplicate-next
                .m-card
                    &__pic
                        transform: scale(.9)
                    &__info
                        padding-top: rem(25)
                        padding-left: vw(95)
                        padding-bottom: rem(90)
            // &-active, &-duplicate-active
            &-active
                position: relative
                z-index: 1
                .m-card
                    &__pic
                        transform: scale(1.18)
                        margin-bottom: rem(30)
                        box-shadow: 0px 10px 20px rgba(#000, .3)
                    &__info
                        +pd(x, rem(5))
                        padding-bottom: 0px
    &__btn
        position: absolute
        z-index: 1
        // top: 27.5%
        top: pa(528, 1920)
        left: 0px
        width: 100%
        pointer-events: none
        &-wp
            pointer-events: none
            +flex($ai: center, $jc: sb)
            .m-btn
                pointer-events: auto
    +rwdw-min()
        &__bg
            position: absolute
            left: 0px
            bottom: 0px
            width: 100%
            +pa-h(515, 1920)
            background: #F0F0F0
    +rwdw-max(lg)
        &__wp
            max-width: pa(280, 375)
            width: 100%
        &__swp
            overflow: $re
            +pd(y, 0px)
            .swiper-slide
                &-active, &-duplicate-active
                    .m-card
                        &__pic
                            transform: scale(1)
                            margin-bottom: rem(0)
                &-prev, &-duplicate-prev
                    transform: translateX(50%)
                    .m-card
                        &__pic
                            transform: scale(.8)
                        &__info
                            opacity: 0
                            padding-bottom: rem(30)
                &-next, &-duplicate-next
                    transform: translateX(-50%)
                    .m-card
                        &__pic
                            transform: scale(.8)
                        &__info
                            opacity: 0
                            padding-bottom: rem(30)
        &__btn
            display: none
    +rwdw-max(md)
        margin-top: rem(35)
        .cms-headline
            margin-bottom: rem(30)
    +rwdw-max(sm)
        &__swp
            .swiper-slide
                &-active, &-duplicate-active
                    padding-bottom: rem(15)
                &-prev, &-duplicate-prev,
                &-next, &-duplicate-next 
                    .m-card__info
                        padding-top: 0px
                        padding-bottom: 0px

/* index product */
.idx-pro
    margin-bottom: pa(95)
    position: relative
    &__ctr
        &[data-aos^=fade][data-aos^=fade].aos-animate
            transform: inherit
    &__swp
        +mg(x, rem(-20))
        margin-bottom: pa(40)
        padding-bottom: rem(60)
        position: relative
        .swiper-slide
            +trs()
            &-active + .swiper-slide
                transform: translateY(20px)
                + .swiper-slide
                    transform: translateY(40px)
                    + .swiper-slide
                        transform: translateY(60px)
        &-btn
            position: absolute
            z-index: 1
            top: 50%
            left: 0px
            width: 100%
            +trs()
            &-wp
                width: calc(100% - 60px)
                max-width: 1900px
                +mg(x, auto)
                +flex($ai: center, $jc: sb)
                .m-btn
                    color: #fff                        
                    &.swiper-button-disabled
                        pointer-events: none
                        opacity: 0
    &__btn
        +flex-center()
    +rwdw-min()
        &__bg
            position: absolute
            z-index: -1
            left: 0px
            top: rem(-10)
            width: 100%
            +pa-h(290, 1920)
            background: #F0F0F0
        &__swp:hover
            .idx-pro__swp-btn
                opacity: 1
                transform: scale(1)
        &__swp
            &-btn
                opacity: 0
                transform: scale(1.1)
                &-wp .m-btn:hover
                    color: #FF8303
    +rwdw-max(lg)
        &__swp
            margin-bottom: 0px
            padding-bottom: rem(50)
        
    +rwdw-max(sm)
        margin-bottom: rem(55)
        &__swp
            padding-bottom: rem(35)
            .swiper-slide
                &-active + .swiper-slide
                    transform: translateY(10px)
                    + .swiper-slide
                        transform: translateY(20px)
                        + .swiper-slide
                            transform: translateY(30px)

/* index video */
.idx-video
    margin-bottom: rem(235)
    .cms-headline
        margin-bottom: pa(60)
        &__main
            margin-bottom: rem(10)
    &__wp
        position: relative
        max-width: pa(1800, 1920)
        width: 100%
        +pa-h(400, 1920)
        margin-bottom: rem(187)
    &__swp
        padding-top: rem(55)
        position: absolute
        width: 100%
        top: 0px
        left: 0px
        .swiper-slide
            // transform: scale(0.8)
            // &-active, &-duplicate-active
            &-active
                position: relative
                z-index: 1
                .m-card
                    &__video
                        transform: scale(1.3)
                        margin-bottom: rem(60)
            &-prev, &-duplicate-prev
                .m-card
                    &__pic
                        transform: scale(.9)
                    &__name
                        padding-top: rem(25)
                        padding-right: vw(95)
            &-next, &-duplicate-next
                .m-card
                    &__pic
                        transform: scale(.9)
                    &__name
                        padding-top: rem(25)
                        padding-left: vw(95)
    &__btn
        position: absolute
        z-index: 1
        width: 100%
        top: calc(50% + 45px)
        left: 0px
        pointer-events: none
        
        &-wp
            width: calc(100% - 30px)
            +mg(x, auto)
            +flex($ai: center, $jc: sb)
            .m-btn
                pointer-events: auto
                &.js-prev
                    transform: translateX(-50px)
                &.js-next
                    transform: translateX(50px)
    +rwdw-min()
        &:hover
            .idx-video__btn
                opacity: 1
                transform: scale(1)
        &__btn
            opacity: 0
            transform: scale(1.1)
            +trs()
            &-wp
                .m-btn:hover
                    opacity: .5
    +rwdw-max(lg)
        margin-bottom: rem(200)
        &__wp
            max-width: pa(280, 375)
            width: 100%
            +pa-h(370, $lg)
            // margin-bottom: rem(340)
        &__swp
            overflow: $re
            +pd(y, 0px)
            .swiper-slide
                &-active, &-duplicate-active
                    .m-card
                        &__video
                            transform: scale(1)
                            margin-bottom: rem(0)
                &-prev, &-duplicate-prev
                    transform: translateX(50%)
                    .m-card
                        &__video
                            transform: scale(.8)
                        &__btn-lbox
                            opacity: 0
                        &__name
                            opacity: 0
                &-next, &-duplicate-next
                    transform: translateX(-50%)
                    .m-card
                        &__video
                            transform: scale(.8)
                        &__btn-lbox
                            opacity: 0
                        &__name
                            opacity: 0
        &__btn
            display: none
            &-wp
                .m-btn
                    color: #fff
                    &.js-prev
                        transform: translateX(-50px)
                    &.js-next
                        transform: translateX(50px)
    +rwdw-max(md)
        margin-top: rem(35)
        margin-bottom: rem(15)
        .cms-headline
            margin-bottom: rem(30)
        &__wp
            margin-bottom: rem(150)
        
    +rwdw-max(sm)
        &__wp
            margin-bottom: rem(130)
        &__swp
            .swiper-slide
                &-active, &-duplicate-active
                    padding-bottom: rem(15)
                &-prev, &-duplicate-prev,
                &-next, &-duplicate-next 
                    .m-card__info
                        padding-top: 0px
                        padding-bottom: 0px

/* index about */
.idx-abt
    position: relative
    +pd(y, pa(190))
    text-align: center
    color: #fff
    &__ctr
        position: relative
        z-index: 1
    &__title
        font-family: font(mt)
        font-size: rem(60)
        font-weight: bold
        margin-bottom: rem(30)
    &__subtitle
        font-size: rem(40)
        font-weight: 500
        margin-bottom: rem(30)
    &__depiction
        // text-align: justify
        line-height: lh(16, 30)
        margin-bottom: pa(80, 730)
    &__bg
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-position: top center
        background-size: cover
        background-image: url('images/index/abt-bg_1920x1440.jpg')
        background-attachment: fixed
        &::before, &::after
            content: ''
            position: absolute
            left: 0px
            width: 100%

        &::before
            top: 0px
            opacity: .2
            +pa-h(30, 1920)
            +bg-lg(rgba(#000, 1), rgba(#212121, 0), to bottom)

        &::after
            bottom: 0px
            opacity: .4
            +pa-h(320, 1920)
            +bg-lg(#70ACFF, rgba(#70ACFF, 0), to top)
    +rwdw-min(1910)
        &__wp
            max-width: 751px
        &__depiction
            letter-spacing: .5px
    +rwdw-max(1440)
        &__title
            font-size: rem(50)
        &__subtitle
            font-size: rem(35)
    +rwdw-max(md)
        +pd(y, rem(50))
        &__title
            font-size: rem(36)
            margin-bottom: rem(10)
        &__subtitle
            font-size: rem(26)
            margin-bottom: rem(25)
    +rwdw-max(sm)
        &__depiction
            line-height: lh()
/* index other */
.idx-other
    margin-bottom: rem(-40)
    &__list
        +flex()
    &__item
        +fl-item(calc(100%/3), t)
    +rwdw-max(900)
        &__list
            flex-wrap: wrap
        &__item
            +fl-item(100%)

