/* Inquiry ==================================================================== */
#inquiry
    .l-wp-main
        background: #F5F5F5
    +rwdw-min()
        .hd.is-top:not(:hover)
            box-shadow: 0 0 10px rgba(#000, .3)
            background-color: rgba(#fff, 1)
            .hd
                &-logo::before
                    background-image: url('images/common/hd-logo_125x40.png')
            .menu
                &__item
                    &::after
                        background: #C8C8C8
                &__link
                    color: #323232
                    &::before
                        background: crc(blue)
            .hd-search
                &__btn
                    color: crc(blue)
            .lang
                border-color: crc(blue)
    
.inquiry-ok
    &-stn
        padding-top: pa(150)
        padding-bottom: calc(#{pa(150)} + #{rem(40)})
        margin-bottom: rem(-40)
    &-ctr
        max-width: 350px
        width: 90%
        +mg(x, auto)
        padding: 30px 15px
        border-radius: 10px
        box-shadow: 0 0 10px rgba(#000, .2)
        background: #fff
    
    &__pic
        width: 50px
        +mg(x, auto)
        margin-bottom: rem(15)
    &__depiction
        margin-bottom: rem(15)
        text-align: center
    &__btn
        +flex-center()