/* knowledge catalog ========================================================== */
/* knowledge catalog base */
.catalog-stn
    .cms-headline
        +mg(y, pa(60))
    .pagination
        // margin-bottom: 0px
    +rwdw-max(sm)
        .cms-headline
            +mg(y, rem(30))

/* knowledge catalog list */
.catalog-list
    border-top: 1px solid #DCDCDC
    padding-top: pa(60, 1400)
    +flex($fw: wrap)
    +mg(x, vw(-30))
    &__item
        width: calc(100%/5)
        +pd(x, vw(30))
        margin-bottom: rem(35)
    +rwdw-max(1440)
        &__item
            width: calc(100%/4)
    +rwdw-max(1024)
        &__item
            width: calc(100%/3)
    +rwdw-max(md)
        padding-top: rem(30)
        &__item
            width: 50%
            margin-bottom: rem(15)
    +rwdw-max(sm)
        max-width: 360px
        +mg(x, auto)
        &__item
            width: 100%