/* Knowledge FAQ ============================================================== */
/* faq common */
.faq-stn
    .cms-headline
        +mg(y, pa(60))
    .pagination
        margin-bottom: 0px
    +rwdw-max(sm)
        .cms-headline
            +mg(y, rem(30))

.faq-ctr
    +flex($jc: sb)
    border-top: 1px solid #DCDCDC
    padding-top: pa(60, 1400)
    margin-bottom: pa(100, 1400)
    +rwdw-max(lg)
        flex-direction: column
        justify-content: center
    +rwdw-max(md)
        margin-top: 0px
        margin-bottom: rem(80)
/* faq info */
.faq-info
    +fl-item(480px, t)
    color: #323232
    margin-top: rem(15)
    &__title
        display: block
        font-size: rem(22)
        font-weight: bold
        margin-bottom: rem(15)
    &__depiction
        line-height: lh(16, 30)
        margin-bottom: rem(20)
        a
            color: #008CD7
            font-weight: 500
            text-decoration: underline
    +rwdw-min()
        &__depiction
            a:hover
                opacity: .5
    +rwdw-max(1440)
        &__title
            font-size: rem(20)
    +rwdw-max(lg)
        margin-top: 0px
        margin-bottom: rem(30)
        +fl-item(100%)
        &__depiction
            margin-bottom: 0px
        &__pic
            display: none
    +rwdw-max(sm)
        &__title
            font-size: rem(18)
/* faq list */
.faq-list
    +fl-item(calc(100% - 480px - #{vw(55)}), t)
    // margin-left: vw(55)
    &__ul
        margin-bottom: rem(55)
    &__li
        &:not(:last-child)
            margin-bottom: rem(20)
    +rwdw-max(lg)
        +fl-item(100%)
    +rwdw-max(sm)
        &__li:not(:last-child)
            margin-bottom: rem(10)
/* faq card */
.faq-card
    background: #F5F5F5
    +trs()
    &__question
        +flex()
        position: relative
        cursor: pointer
        padding: rem(25) rem(65) rem(27) rem(85)
    &__number
        font-family: font(mt)
        font-size: rem(32)
        color: #008CD7
        position: absolute
        top: 12px
        left: 30px
    &__name
        color: #323232
        font-weight: bold
    &__icon
        position: absolute
        top: 24px
        right: 28px
        width: 25px
        height: 25px
        &::before, &::after
            position: absolute
            top: calc(50% - 1px)
            left: 0px
            content: ''
            width: 100%
            height: 2px
            background: #B4B4B4
            +trs()
        &::after
            transform: rotate(90deg)
    &__answer
        display: none
        color: #646464
        padding: rem(25) rem(25) rem(55) rem(85)
        position: relative
        &::before
            content: ''
            position: absolute
            top: 0px
            left: 85px
            width: calc(100% - 85px - 25px)
            height: 1px
            background: #DCDCDC
        > *:not(:last-child)
            margin-bottom: rem(10)
        li
            display: list-item 
            list-style-type: inherit
            &:not(:last-child)
                margin-bottom: rem(10)
        ol
            list-style-type: decimal
            padding-left: 20px
        ul
            padding-left: 20px
            li
                position: relative
                &::before
                    content: ''
                    position: absolute
                    top: 12px
                    left: -10px
                    width: 2px
                    height: 2px
                    border-radius: 100%
                    background: #717171
    &.is-open
        background: #fff
        box-shadow: 0 0 20px rgba(#000, .2)
        .faq-card
            &__icon
                &::after
                    transform: rotate(0deg)
    +rwdw-min()
        &:not(.is-open):hover
            background: #fff
            box-shadow: 0 0 20px rgba(#000, .2)
            .faq-card
                &__question
                    .faq-card
                        &__icon
                            &::before, &::after
                                background: #008CD7
    +rwdw-max(md)
        &__question
            padding: rem(15) rem(45) rem(15) rem(65)
        &__number
            top: 7px
            left: 15px
            font-size: rem(24)
        &__icon
            top: 17px
            right: 15px
            width: 15px
            height: 15px
        &__answer
            padding: rem(15) rem(15) rem(20) rem(65)
            &::before
                left: 65px
                width: calc(100% - 65px - 15px)