/* knowledge lifestyle ======================================================== */
/* knowledge lifestyle base */
.lfs-stn
    .cms-headline
        +mg(y, pa(60))
    .pagination
        // margin-bottom: 0px
    +rwdw-max(1195)
        &__wp
            max-width: 768px
    +rwdw-max(sm)
        .cms-headline
            +mg(y, rem(30))
    
/* knowledge lifestyle formwork */
.lfs-ctr
    +flex($jc: sb, $fw: wrap)
    margin-bottom: pa(60, 1740)
    +rwdw-max(md)
        margin-bottom: rem(35)

.lfs-main
    +fl-item(pa(870, 1740), t)
    +rwdw-max(1195)
        +fl-item(100%)
        margin-bottom: rem(20)

.lfs-sub
    +fl-item(pa(800, 1740), t)
    > *:not(:last-child)
        margin-bottom: rem(20)
    +rwdw-max(1195)
        +fl-item(100%)