/* New ======================================================================== */
#news
    .m-gp-btn
        > *
            +mg(x, vw(35))
    +rwdw-max()
        .m-gp-btn
            margin-top: rem(30)
.nw-stn
    margin-bottom: pa(100)
    &__wp
        box-shadow: 0 10px 20px rgba(#000, .1)
        +flex-center()
        +pd(y, rem(60))
        margin-bottom: pa(60)
    &__editor
        width: calc(100% - #{vw(120)})
        letter-spacing: .05px
        > *
            &:not(:last-child)
                margin-bottom: rem(20)
        &#editor
            p
                margin: 0px
                margin-bottom: rem(5)
    +rwdw-max()
        margin-bottom: rem(80)
        &__wp
            +pd(y, rem(30))
    +rwdw-max(sm)
        &__wp
            +pd(y, rem(20))