/* privacy ==================================================================== */
#privacy
    .l-wp-main
        background-repeat: no-repeat
        background-position: top center
        background-size: 100%
        background-image: url('images/privacy/bg_1920x1050.png')
    +rwdw-min()
        .hd.is-top:not(:hover)
            box-shadow: 0 0 10px rgba(#000, .3)
            background-color: rgba(#fff, 1)
            .hd
                &-logo::before
                    background-image: url('images/common/hd-logo_125x40.png')
            .menu
                &__item
                    &::after
                        background: #C8C8C8
                &__link
                    color: #323232
                    &::before
                        background: crc(blue)
            .hd-search
                &__btn
                    color: crc(blue)
            .lang
                border-color: crc(blue)

.privacy-stn
    padding-bottom: pa(110)
    .cms-headline
        +pd(y, pa(60))
    +rwdw-max(sm)
        .cms-headline
            +mg(y, rem(30))

#editor.privacy-editor
    line-height: lh(16, 30)
    > *:not(:last-child)
        margin-bottom: rem(10)
    p
        margin: 0px
    strong
        display: inline-block
        color: #323232
    ul, li
        list-style: none
        padding: 0px
        margin: 0px
    ul
        li
            position: relative
            margin-bottom: rem(15)
            padding-left: rem(15)
            &::before
                content: ''
                position: absolute
                top: 15px
                left: 5px
                width: 2px
                height: 2px
                border-radius: 100%
                background: #323232