/* Product Detail ============================================================= */
.prod-html
    +rwdw-min()
        .hd.is-top:not(:hover)
            box-shadow: 0 0 10px rgba(#000, .3)
            background-color: rgba(#fff, 1)
            .hd
                &-logo::before
                    background-image: url('images/common/hd-logo_125x40.png')
            .menu
                &__item
                    &::after
                        background: #C8C8C8
                &__link
                    color: #323232
                    &::before
                        background: crc(blue)
            .hd-search
                &__btn
                    color: crc(blue)
            .lang
                border-color: crc(blue)

.prod-pic
    padding-top: rem(80)
    background: $re-color
    position: relative
    &__headline
        position: relative
        z-index: 1
        +mg(x, auto)
        text-align: center
        margin-bottom: rem(45)
        &::before
            content: ''
            display: block
            +mg(x, auto)
            width: 1px
            +pa-h(100, 1920)
            background: #C8C8C8
            margin-bottom: pa(35)
        &-cls
            font-size: rem(20)
            +flex-center()
            margin-bottom: rem(20)
            &::before, &::after
                content: '-'
                display: inline-block
                +mg(x, rem(5))
        &-name
            font-size: rem(38)
            font-weight: 500
            color: #323232
            padding-bottom: rem(8)
            margin-bottom: rem(8)
            position: relative
            &::after
                content: ''
                position: absolute
                left: calc(50% - 10px)
                bottom: 0px
                width: 20px
                height: 1px
                background: #3F3F3F

    &__ctr
        transform: translateY(-55px)
        position: relative
        z-index: 1

    &__btn
        transform: translateY(65px)
        position: relative
        z-index: 2
        pointer-events: none
        &-wp
            max-width: pa(1760)
            +flex($jc: sb)
            .m-btn
                pointer-events: auto
    
    &__main
        position: relative

    &__show
        max-width: 600px
        position: relative
        z-index: 3
        [data-imgfix]
            +pa-h(450, 600)
        .is-prod-mask
            position: absolute
            top: 0px
            left: 0px
            width: 100%
            height: 100%
            img
                opacity: 1
                display: none
                +trs()
                &.is-hide
                    opacity: 0

    &__opt
        position: absolute
        left: 50%
        // top: 293px
        top: 66.26042%
        max-width: pa(1430)
        width: 100%
        transform: translate(-50%, 0)
        &-item
            width: 110px
            height: 110px
            overflow: hidden
            border-radius: 100%
            box-shadow: 0 10px 20px rgba(#000, .2)
            background: #fff
            +mg(x, auto)
        &-btn    
            position: absolute
            z-index: 2
            top: 50%
            left: 0px
            width: 100%
            transform: translateY(-24px)
            pointer-events: none
            &-wp
                +flex($jc: sb)
                .m-btn
                    color: #004098
                    pointer-events: auto
                    &.js-prev
                        transform: translateX(-20px)
                    &.js-next
                        transform: translateX(20px)
        
    &__swp
        &.js-opt
            padding-bottom: rem(40)
            .swiper-slide
                +trs()
                &-active
                    opacity: 0
                &.my-slide-prev
                    transform: translateX(-45%)
                &.my-slide-next
                    transform: translateX(45%)
    &__cls
        max-width: 450px
        margin-bottom: pa(65)
        &-list
            +flex-center($fw: wrap)
            +mg(x, rem(-10)) 
        &-item
            +pd(x, rem(10))
            margin-bottom: rem(10)
            img
                width: 70px

    &__bg
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: calc(100% - 80px - 150px)
        // +pa-h(745, 1920)
        background: url('images/product/detail/prod-bg_1920x740.jpg')no-repeat center
        background-size: cover

    +rwdw-min()
        &__opt
            &-item img
                max-width: 70%
                max-height: 70%
            &-btn-wp .m-btn:hover
                opacity: .5

    +rwdw-max(1650)
        &__opt
            max-width: pa(1430, 1650)
    +rwdw-max(1440)
        padding-top: rem(80)
        &__headline
            &-cls
                margin-bottom: rem(5)
            &-name
                font-size: rem(25)
        &__show
            max-width: 450px
        &__opt-btn-wp
            max-width: 80%
            +mg(x, auto)
        &__swp
            &.js-opt
                .swiper-slide
                    &.my-slide-prev
                        transform: translateX(0px)
                    &.my-slide-next
                        transform: translateX(0px)
        &__bg
            height: calc(100% - 190px)
    +rwdw-max()
        &__ctr
            transform: translateY(0px)
        &__btn
            transform: translateY(0px)
            margin-bottom: rem(15)
        &__show
            display: none
        &__opt
            max-width: 450px
            width: 90%
            position: relative
            left: auto
            transform: translate(0px, 0)
            &-item
                width: auto
                height: auto
                +pa-h(450, 600)
                border-radius: 0px
                box-shadow: none
                background: $re-color
            &-btn-wp
                max-width: 100%
        &__swp
            &.js-opt
                max-width: 80%
                padding-bottom: rem(40)
                .swiper-slide
                    +trs()
                    &-active
                        opacity: 1
                    &.my-slide-prev
                        transform: translateX(0px)
                    &.my-slide-next
                        transform: translateX(0px)
    +rwdw-max(md)
        &__headline
            margin-bottom: rem(30)
            &-name
            font-size: rem(20)
    +rwdw-max(sm)
        &__opt-btn-wp
                .m-btn
                    &.js-prev
                        transform: translateX(-10px)
                    &.js-next
                        transform: translateX(10px)

.prod-stn

.prod-info
    margin-bottom: pa(40, 1500)
    .resp-tab-content
        padding-top: pa(50, 1500)
        padding-bottom: pa(100, 1500)
    &__item
        > *
            max-width: 1000px
            +mg(x, auto)
        &--video
            > *
                max-width: 1430px

    .editor
        > *
            margin-top: 0px
            padding-top: 0px
        .ul
            &-style1
                padding-left: 0px
                li
                    +flex($fw: wrap)
                    +pd(y, rem(15))
                    position: relative
                    padding-left: rem(25)
                    border-top: 1px solid #C8C8C8
                    color: #323232
                    font-weight: 500
                    &:last-child
                        border-bottom: 1px solid #C8C8C8
                    &::before
                        content: ''
                        position: absolute
                        top: 27px
                        left: 15px
                        width: 3px 
                        height: 3px
                        border-radius: 100%
                        background: #323232
                &__name
                    +fl-item(180px, t)
                &__ctr
                    +fl-item(calc(100% - 180px), t)
                    font-weight: normal
                    color: #505050
                    padding-left: rem(20)
        .box1
        .box2
        .box3
            +flex()
            border-bottom: 1px solid #C8C8C8
            +pd(y, rem(50))
            &:last-child
                border-bottom: none
                padding-bottom: 0px
            
            p
                margin: 0px
                &:not(:last-child)
                    margin-bottom: rem(5)

            &__pic
                +fl-item(100px, t)
                + .box3__txt
                    +fl-item(calc(100% - 100px))
                    padding-left: rem(30)
            &__txt
                +fl-item(100%, t)
            &__title   
                font-size: rem(20)
                font-weight: 500
                color: #323232
                &-depiction
                    font-size: rem(16)
                    font-weight: normal
            &__subtitle
                color: #323232
                font-weight: 500
                position: relative
                &::before
                    content: '»'
                    position: absolute
                    left: -15px
                    top: 0px
            &__depiction
                padding-left: rem(40)
            table
                th, td
                    padding: rem(20) rem(15)
                    border-top: 1px solid #C8C8C8
                    border-bottom: 1px solid #C8C8C8
                th
                    font-weight: 500
        .box4
            padding: 0px
            margin: 0px
            list-style: none
            +flex($fw: wrap)
            +mg(x, vw(-20))
            > *
                +fl-item(calc(100%/3), t)
                +pd(x, vw(20))
    +rwdw-max(lg)
        .editor
            .box4
                > *
                    +fl-item(50%)
    // +rwdw-max(md)
    //     &__item
    //         &--video
    //             border-bottom: 2px solid #1E1E1E
    +rwdw-max(sm)
        .resp-tab-content
            +pd(y, 0px)
            +mg(y,1.12em)
        .editor
            .ul
                &-style1
                    &__name
                        +fl-item(100%)
                    &__ctr
                        +fl-item(100%)
                        padding-left: 0px
            .box3
                flex-direction: column
                align-items: center
                padding-top: rem(20)
                padding-bottom: rem(30)
                &__pic
                    margin-bottom: rem(15)
                    + .box3__txt
                        +fl-item(100%)
                        padding-left: 0px
            .box4
                > *
                    +fl-item(100%)
.prod-btn
    max-width: 1170px
    +mg(x, auto)
    margin-bottom: pa(45, 1500)
    &__list
        +flex-center()
        +mg(x, vw(-50))
    &__item
        padding: rem(10) vw(50)
        &:not(:last-child)
            border-right: 1px solid #E4E4E4
    &__share
        +flex-center()
        &-name
            color: #323232
            font-weight: 500
            margin-right: rem(20)
        &-list
            +mg(x, rem(-10))
        &-item
            color: #008CD7
            font-size: rem(22)
            +pd(x, rem(5))
    +rwdw-min()
        &__share
            &-item:hover
                opacity: .5
    +rwdw-max(950)
        &__list
            flex-wrap: wrap
            +mg(x, 0px)
        &__item
            +flex-center()
            +fl-item(50%, t)
            +pd(x, rem(10))
            margin-bottom: rem(5)
            background: rgba(240,240,240,1)
            &:not(:last-child)
                border: none
            &:last-child
                +fl-item(100%)
            .m-btn
                +fl-item(220px, t)
    +rwdw-max(950)
        &__item
            +fl-item(100%)
            .m-btn
                +fl-item(190px)
.prod-more
    background: #F5F5F5
    padding-top: pa(65)
    padding-bottom: rem(60)
    margin-bottom: rem(-40)
    .m-card
        background: #F5F5F5
    &__headline
        color: #323232
        text-align: center
        font-size: rem(18)
        margin-bottom: pa(50)
        strong
            font-weight: 500
    &__ctr
        position: relative
    &__wp
        max-width: pa(1630)
    &__btn
        position: absolute
        z-index: 1
        width: 100%
        top: 50%
        left: 0px
        transform: translateY(-80px)
        pointer-events: none
        &-wp
            max-width: pa(1850)
            +flex($ai: center, $jc: sb)
            .m-btn
                pointer-events: auto
                &.swiper-button-disabled
                    opacity: .5
                    pointer-events: none
    +rwdw-max(md)
        padding-top: rem(30)