/* Product List =============================================================== */
.prol-stn
    padding-top: pa(40)
    background: #F5F5F5
    margin-bottom: rem(-40)
    .pagination
        margin-bottom: 0px
        +pd(b, pa(100))
    +rwdw-max(lg)
        .pagination
            padding-bottom: rem(80)

.prol-cls
    position: relative
    margin-bottom: pa(40)
    &__swp
        position: relative
        &::before, &::after
            content: ''
            position: absolute
            z-index: 2
            top: 0px
            width: 2px
            height: 100%
            background: #F5F5F5
        &::before
            left: 0px
        &::after
            right: 0px
        .swiper-slide
            position: relative
            &::before, &::after
                content: ''
                position: absolute
                top: 25%
                width: 1px
                height: 50%
                background: #dcdcdc
            &::before
                left: 0px
            &::after
                right: 0px

    &__link
        max-width: 120px
        +trs()
        +mg(x, auto)
    &__pic
        width: 100%
        +pa-h(120, 120)
    &__name
        text-align: center
    &__btn
        position: absolute
        z-index: 1
        top: 50%
        left: 0px
        width: 100%
        transform: translateY(-50%)
        pointer-events: none
        &-wp
            max-width: 1710px
            width: 100%
            +flex($jc: sb)
            +mg(x, auto)
            .m-btn
                pointer-events: auto
                &.swiper-button-disabled
                    opacity: .5
                    pointer-events: none
    
    +rwdw-min()
        &__link:hover
            opacity: .7

.prol-ctr
    +rwdw-max(sm)
        max-width: 450px

.prol-list
    position: relative
    z-index: 1
    margin-bottom: rem(20)
    +mg(x, rem(-10))
    &__item
        +fl-item(calc(100%/4), t)
        +pd(x, rem(10))
        margin-bottom: rem(20)
        &[data-aos^=fade][data-aos^=fade].aos-animate
            transform: inherit !important
    +rwdw-max(1366)
        &__item
            +fl-item(calc(100%/3))
    +rwdw-max(lg)
        &__item
            +fl-item(50%)
    +rwdw-max(sm)
        &__item
            +fl-item(100%)