/* products =================================================================== */
/* products category */
.pros-ctr
    margin-top: pa(70, 1520)
    padding-bottom: pa(110, 1520)
    +rwdw-max(md)
        margin-top: rem(30)
        padding-bottom: rem(60)

.pros-item
    +flex-center()
    &[data-aos^=fade][data-aos^=fade].aos-animate
        transform: inherit
    &:not(:last-child)
        margin-bottom: rem(40)
    &__pic
        +fl-item(pa(1000, 1520), t)
        overflow: hidden
        transform: skewX(-1.5deg)
        // +pa-h(500, 1030)
        [data-imgfix]
            +pa-h(500, 1030)
            background-repeat: no-repeat
            background-position: center
        // img
        //     transform: skewX(1deg)
    &__txt
        +fl-item(calc(100% - #{pa(1000, 1520)}), t)
    &__info
        max-width: 250px
        mragin-right: auto
        margin-left: vw(105)
    &__ir
        padding-left: rem(20)
        .dk-option-selected 
            display: none
    &__title
        color: #323232
        font-size: rem(30)
        font-weight: 500
        margin-bottom: rem(15)
        display: block
    &__depiction
        color: #646464
        line-height: lh(16, 30)
        padding-left: rem(35)
        margin-bottom: rem(35)
        +text-overflow(2)
        position: relative
        &::before
            content: ''
            position: absolute
            top: 16px
            left: 1px
            width: 20px
            height: 1px
            background: #008CD7
    +rwdw-min(700)
        &:nth-child(even)
            .pros-item
                &__pic
                    order: 1
                &__txt
                    order: 0
                &__info
                    margin-left: auto
                    margin-right: vw(105)
    +rwdw-max(1366)
        &__title
            font-size: rem(20)
    +rwdw-max(900)
        &__pic
            +fl-item(50%)
        &__txt
            +fl-item(50%)
    +rwdw-max(700)
        flex-direction: column
        &__pic
            margin-bottom: rem(15)
            +fl-item(100%)
            transform: skewX(0deg)
        &__txt
            +fl-item(100%)
        &__info
            +mg(x, auto)
        &__title
            font-size: rem(18)
            text-align: center
            margin-bottom: rem(10)
        &__ir
            padding-left: 0px
            .dkSel.dk-select
                display: block
                +mg(x, auto)
        &__depiction
            margin-bottom: rem(10)

/* products All */
.pros2-wp
    +rwdw-max(850)
        max-width: 730px
    +rwdw-max(sm)
        max-width: 360px
.pros2-list
    +flex($fw: wrap)
    margin-top: pa(60, 1820)
    margin-bottom: pa(90, 1820)
    +mg(x, rem(-10))
    &__item
        +pd(x, rem(10))
        width: calc(100%/5)
        margin-bottom: rem(55)
    +rwdw-max(1440)
        &__item
            width: calc(100%/4)
    +rwdw-max(1100)
        &__item
            width: calc(100%/3)
            margin-bottom: rem(40)
    +rwdw-max(850)
        &__item
            width: 50%
            margin-bottom: rem(30)
    +rwdw-max(md)
        padding-top: rem(30)
        padding-bottom: rem(50)
    +rwdw-max(sm)
        &__item
            width: 100%