/* Search ===================================================================== */
#search
    +rwdw-min()
        .hd.is-top:not(:hover)
            box-shadow: 0 0 10px rgba(#000, .3)
            background-color: rgba(#fff, 1)
            .hd
                &-logo::before
                    background-image: url('images/common/hd-logo_125x40.png')
            .menu
                &__item
                    &::after
                        background: #C8C8C8
                &__link
                    color: #323232
                    &::before
                        background: crc(blue)
            .hd-search
                &__btn
                    color: crc(blue)
            .lang
                border-color: crc(blue)

.search-stn
    padding-top: pa(40)
    background: #F5F5F5
    margin-bottom: rem(-40)
    .pagination
        margin-bottom: 0px
        +pd(b, pa(100))
    +rwdw-max(lg)
        .pagination
            padding-bottom: rem(80)

.search-headline
    margin-bottom: pa(60, 1920)
    +pd(x, rem(15))
    .cms-headline
        margin-bottom: rem(10)
    &__result
        text-align: center
        letter-spacing: .02px
        .line
            +pd(x, rem(15))
        .blue
            color: #008CD7
            +pd(x, rem(5))
    +rwdw-max(md)
        margin-bottom: rem(30)