/* Service ==================================================================== */
.ser-stn
    .cms-headline
        margin-top: pa(60)
        margin-bottom: calc(#{pa(60)} + #{rem(10)})
    +rwdw-max(sm)
        .cms-headline
            +mg(y, rem(30))

    &--inquiry
        background: #F5F5F5
        padding-bottom: pa(140)
        margin-bottom: rem(-40)
        +rwdw-max(md)
            padding-bottom: rem(80)

/* Service stronghold */
.ser-stronghold-wp
    max-width: 100%
    width: pa(1680)
.ser-list
    position: relative
    background: #F5F5F5
    padding-top: pa(80, 1680)
    padding-bottom: calc(#{pa(60, 1680)} - #{rem(20)})
    border-bottom-left-radius: 30px
    border-bottom-right-radius: 30px
    margin-bottom: pa(140, 1680)
    &__title
        +flex-center()
        position: absolute
        top: 0px
        left: 50%
        width: 100%
        font-size: rem(22)
        color: #646464
        transform: translate(-50%, -50%)
        &::before, &::after
            content: ''
            display: inline-block
            flex-grow: 1
            height: 2px
        &::before
            +bg-lg(#008CD7, rgba(#008CD7, 0), to left)
        &::after
            +bg-lg(#008CD7, rgba(#008CD7, 0))
        span
            +pd(x, vw(45))
    &__ctr
        max-width: 100%
        width: pa(1200, 1680)
        +mg(x, auto)
    &__swp
        padding-bottom: rem(20)
    &__btn
        position: absolute
        z-index: 1
        top: 50%
        left: 0px
        width: 100%
        .m-btn
            position: absolute
            top: 0px
        .js-swp
            &-prev
                left: 0px
                transform: translateX(-50%)
            &-next
                right: 0px
                transform: translateX(50%)
        .swiper-button-disabled
            pointer-events: none
            opacity: .3
    +rwdw-max(800)
        padding-bottom: rem(15)

    +rwdw-max(sm)
        padding-top: rem(10)
        &__title
            font-size: rem(20)
        &__btn
            .js-swp
                &-prev
                    left: 0px
                    transform: translateX(-25%)
                &-next
                    right: 0px
                    transform: translateX(25%)
.ser-list
    &--entity
        margin-bottom: pa(70, 1680)
        .ser-list__btn
            transform: translateY(-30px)
        +rwdw-max(lg)
            margin-bottom: rem(50)
    &--web
        padding-bottom: pa(20)
        .ser-list__btn
            transform: translateY(10px)
        +rwdw-max(lg)
            margin-bottom: rem(80)
        +rwdw-max(sm)
            .ser-list
                &__swp
                    padding-bottom: 0px
                &__btn
                    transform: translateY(-10px)
            .m-card 
                &__pic
                    margin-bottom: rem(0)
/* Service Inquiry */
.ser-inquiry
    +flex($jc: end)
    +rwdw-max(1100)
        flex-wrap: wrap
        justify-content: center
.ser-form
    +fl-item(pa(700, 1400), t)
    background: #fff
    padding: pa(50, 1400) vw(70)
    box-shadow: 0 10px 20px rgba(#000, .2)
    border-radius: 20px
    position: relative
    z-index: 1
    transform: translateX(50px)
    margin-bottom: rem(80)
    .row > *:not(:last-child)
        margin-bottom: rem(20)
        
    &__depiction
        line-height: lh(16, 30)
        margin-bottom: rem(25)
        span
            color: #f00
    &__btn
        padding-top: rem(40)
        +flex-center()
        > *
            +mg(x, rem(7))
    +rwdw-max(1325)
        &__depiction br
            display: none
    +rwdw-max(1100)
        +fl-item(750px)
        flex-basis: auto
        transform: translateX(0px)
        margin-bottom: rem(30)
        &__depiction br
            display: block
    +rwdw-max(630)
        &__depiction br
            display: none
    +rwdw-max(sm)
        .row > *:not(:last-child)
            margin-bottom: rem(10)
        &__btn
            padding-top: rem(20)
.ser-info
    +fl-item(pa(750, 1400), t)
    &__ctr
        color: #fff
        background: #008CD7
        border-radius: 20px
        margin-top: rem(80)
        padding: pa(100, 750) vw(90)
        padding-left: calc(#{vw(90)} + #{rem(50)})
    &__list
        +flex($fd: column, $jc: sb)
        max-width: 520px
        height: 100%
    &__item
        &:not(:last-child)
            margin-bottom: pa(70, 750)
            padding-bottom: pa(70, 750)
            border-bottom: 1px solid rgba(#fff, .3)
    +rwdw-max(1100)
        +fl-item(750px)
        flex-basis: auto
        &__ctr
            margin-top: 0px
            padding-left: vw(90)
        &__list
            max-width: 600px
            +mg(x, auto)
        &__item
            &:not(:last-child)
                margin-bottom: rem(30)
                padding-bottom: rem(30)
    +rwdw-max(sm)
        &__item
            &:not(:last-child)
                margin-bottom: rem(15)
                padding-bottom: rem(15)