﻿<a class="btn btn-outline-default btn-sm changeStatus" data-guid="{$guid}"  data-title="{$title}" data-type="del" title="刪除" href="#1" role="button" {$delHide}><i class="icon-trash"></i><span class="text-hide">刪除</span></a>
{$index_view_url}
<a class="btn btn-outline-default btn-sm" role="button" aria-pressed="true" title="編輯" href="{$editUrl}" {$editHide}><i class="icon-pencil"></i><span class="text-hide">編輯</span></a>
