﻿@model Web.Models.ViewModels.HomeViewModel

<main class="l-wp-main main">
    <div class="loading">
        <div class="loading__ctr" data-aos="zoom-in" data-aos-duration="1000" >
            @if (ViewBag.lang == "tw")
            {
                <div class="loading__ir">
                    <figure class="loading__logo" >
                        <img src="~/styles/images/common/loading-logo.png" class="js-svg" alt="萊禮生醫科技股份有限公司">
                    </figure>
                    @*<div class="loading__slogan">@Web.Resource.Resource.美好生活始於萊禮</div>*@
                </div>
                <div class="loading__circle"></div>
            }
            else if (ViewBag.lang == "en")
            {
                <div class="loading__ir">
                    <figure class="loading__logo" >
                        <img src="~/styles/images/common/loading-logo.png" class="js-svg" alt="萊禮生醫科技股份有限公司">
                    </figure>
                    @*<div class="loading__slogan">@Web.Resource.Resource.美好生活始於萊禮</div>*@
                </div>
                <div class="loading__circle"></div>
            }

        </div>
    </div>

    <!-- banner section -->
    <div class="banner-section m-bn m-bn--index" data-aos="zoom-out" data-aos-duration="3000">
        <div class="m-bn__ctr content">
            <div class="m-bn__swp swiper-container">
                <div class="swiper-wrapper">

                    <!-- 假資料 第一張 -->
                  <div class="swiper-slide">
                            <div class="m-bn__pic">
                                <figure class="m-bn__pic-ir u-show-sm-pc" data-imgfix="full">
                                    <img src="~/styles/images/index/index-banner.jpg" alt="">
                                </figure>
                                <figure class="m-bn__pic-ir u-show-sm-mobile" data-imgfix="full">
                                    <img src="~/styles/images/index/index-banner-m.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    <!-- 假資料 END -->
                    @foreach (var item in Model.IndexBanner_ListViewModel)
                    {
                        <div class="swiper-slide">
                            <div class="m-bn__info">
                                @Html.Raw(item.content)
                            </div>
                            <div class="m-bn__pic">
                                @if (!string.IsNullOrEmpty(item.pic))
                                {
                                    <figure class="m-bn__pic-ir u-show-sm-pc" data-imgfix="full">
                                        <img src="~/styles/images/common/loading-full.gif" data-src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="@item.pic_alt">
                                    </figure>
                                }

                                @if (!string.IsNullOrEmpty(item.phonepic))
                                {
                                    <figure class="m-bn__pic-ir u-show-sm-mobile" data-imgfix="full">
                                        <img src="~/styles/images/common/loading-full.gif" data-src="@(!string.IsNullOrEmpty(item.phonepic) ? Url.Content("~" + item.phonepic) : "")" alt="@item.phonepic_alt">
                                    </figure>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="m-bn__btn">
                <div class="m-bn__btn-wp l-wp-1800">
                    <div class="m-btn m-btn--circle-white js-prev">
                        <span class="m-btn__name" data-icon="arrow-left"></span>
                    </div>
                    <div class="m-btn m-btn--circle-white js-next">
                        <span class="m-btn__name" data-icon="arrow-right"></span>
                    </div>
                </div>
            </div>
            <div class="m-bn__dot"></div>
        </div>
    </div>

    <!-- news section -->
    <div class="idx-nws">
        <h2 class="cms-headline" data-aos="fade-up">
            <span class="cms-headline__main">News & Event</span>
            <span class="cms-headline__sub">@Web.Resource.Resource.最新消息新品快訊展覽活動</span>
        </h2>

        <div class="idx-nws__ctr" data-aos="fade-up">
            <div class="idx-nws__wp l-wp-1590">
                <div class="idx-nws__swp swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.IndexNews_ListViewModel)
                        {
                            <div class="swiper-slide">
                                <div class="m-card m-card--idx-nws">
                                    <div class="m-card__pic" data-href="@Url.Action("Index", "News", new { guid = item.guid})">
                                        <figure data-imgfix="in">
                                            <img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="@item.pic_alt">
                                        </figure>
                                        <div class="m-card__mask"><i></i></div>
                                    </div>
                                    <div class="m-card__info">
                                        <div class="m-card__time">
                                            <span class="m-card__cls">@Model.IndexNewsCategory_ListViewModel.Where(x => x.guid == item.category).SingleOrDefault().title</span>
                                            <span class="m-card__date">- @item.startdate.Value.ToString("yyyy-MM-dd")</span>
                                        </div>
                                        <h3 class="m-card__title">@item.title</h3>
                                        <p class="m-card__depiction">
                                            @Html.Raw(item.subtitle)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="idx-nws__btn">
                    <div class="idx-nws__btn-wp l-wp-1790">
                        <div class="m-btn m-btn--circle-blue js-prev">
                            <div class="m-btn__icon" data-icon="arrow-left"></div>
                        </div>
                        <div class="m-btn m-btn--circle-blue js-next">
                            <div class="m-btn__icon" data-icon="arrow-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="idx-nws__bg"></div>
    </div>

    <!-- product section -->
    <div class="idx-pro">
        <h2 class="u-visually-hidden">products</h2>
        <div class="idx-pro__ctr" data-aos="fade-up">

            <div class="idx-pro__swp swiper-container">
                <div class="swiper-wrapper">

                    @foreach (var item in Model.IndexProductSeries_ListViewModel)
                    {
                        <div class="swiper-slide">
                            <div class="m-card m-card--idx-pro" data-href="@Url.Action("ProductsList_Series", "Products", new { series = item.guid })">
                                <div class="m-card__ctr">
                                    <div class="m-card__info">
                                        <h3 class="m-card__title">@item.title</h3>
                                        <div class="m-card__depiction">
                                            @Html.Raw(item.subtitle)
                                        </div>
                                    </div>
                                    <div class="m-card__btn">
                                        <a href="@Url.Action("ProductsList_Series", "Products", new { series = item.guid })" class="m-btn m-btn--circle-idx-pro">
                                            <span class="m-btn__name"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="m-card__bg">
                                    <figure data-imgfix="full">
                                        <img src="@(!string.IsNullOrEmpty(item.indexpic) ? Url.Content("~" + item.indexpic) : "")" alt="@item.indexpic_alt">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="idx-pro__swp-btn">
                    <div class="idx-pro__swp-btn-wp">
                        <div class="m-btn js-prev">
                            <div class="m-btn__icon" data-icon="arrow-left"></div>
                        </div>
                        <div class="m-btn js-next">
                            <div class="m-btn__icon" data-icon="arrow-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="idx-pro__btn">
            <a href="@Url.Action("Series", "Products")" class="m-btn m-btn--semicircle-idx-pro">
                <span class="m-btn__name">More Products</span>
            </a>
        </div>
        <div class="idx-pro__bg"></div>
    </div>

    <!-- video section -->
    <div class="idx-video">
        <h2 class="cms-headline">
            @if (ViewBag.lang == "tw")
            {
                <span class="cms-headline__main">The video of the Good Life</span>
                <span class="cms-headline__sub">@Web.Resource.Resource.擁抱美好生活從萊禮開始</span>
            }
            else if (ViewBag.lang == "en")
            {
                <span class="cms-headline__main"></span>
                <span class="cms-headline__sub"></span>
            }

        </h2>
        <div class="idx-video__ctr">
            <div class="idx-video__wp l-wp-1800">
                <div class="idx-video__swp swiper-container">
                    <div class="swiper-wrapper">
                        @if (Model.IndexVideoData_ListViewModel != null && Model.IndexVideoData_ListViewModel.Count != 0)
                        {
                            foreach (var item in Model.IndexVideoData_ListViewModel)
                            {
                                <div class="swiper-slide">
                                    <div class="m-card m-card--idx-video" data-lbox="@Url.Action("Index", "Video", new { guid = item.guid })" data-id="lbox-video">
                                        <div class="m-card__video">
                                            <figure data-imgfix="full">
                                                <img src="~/styles/images/common/loading-full.gif" data-src="@(!string.IsNullOrEmpty(item.indexpic) ? Url.Content("~" + item.indexpic) : "")" alt="@item.indexpic_alt">
                                            </figure>
                                            <div class="m-card__btn-lbox">
                                                <div class="m-btn m-btn--play-idx">
                                                    <span class="m-btn__icon" data-icon="play"></span>
                                                </div>
                                            </div>
                                            <div class="m-card__mask"></div>
                                        </div>
                                        <h3 class="m-card__name">@item.title</h3>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="idx-video__btn">
                    <div class="idx-video__btn-wp">
                        <div class="m-btn js-prev">
                            <span class="m-btn__icon" data-icon="arrow-left"></span>
                        </div>
                        <div class="m-btn js-next">
                            <span class="m-btn__icon" data-icon="arrow-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- about section -->
    <div class="idx-abt">
        <div class="idx-abt__ctr">
            <div class="idx-abt__wp l-wp-780">
                <h2 class="idx-abt__title">@Model.IndexData_ViewModel.etitle</h2>
                <div class="idx-abt__subtitle">@Model.IndexData_ViewModel.title</div>
                <div class="idx-abt__depiction">
                    @Html.Raw(Model.IndexData_ViewModel.content)
                </div>
                @if (!string.IsNullOrEmpty(Model.IndexData_ViewModel.url))
                {
                    <div class="idx-abt__btn">
                        <a href="@Model.IndexData_ViewModel.url" class="m-btn m-btn--semicircle-idx-read">
                            <span class="m-btn__name">READ MORE</span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="idx-abt__btn">
                        <a href="@Url.Action("Index", "About")" class="m-btn m-btn--semicircle-idx-read">
                            <span class="m-btn__name">READ MORE</span>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="idx-abt__bg"></div>
    </div>

    <!-- other section -->
    <div class="idx-other">
        <div class="idx-other__list">
            <div class="idx-other__item">
                <div class="m-card m-card--idx-other" data-href="@Url.Action("Lifestyle", "Knowledge")">
                    <div class="m-card__ctr">
                        <div class="m-card__pic">
                            <figure data-imgfix="hold">
                                <img src="~/styles/images/common/loading.gif" data-src="@Url.Content("~/styles/images/index/other-icon01_100x100.svg")" alt="@Web.Resource.Resource.資訊小教室">
                            </figure>
                        </div>
                        <div class="m-card__txt">
                            <h2 class="m-card__title">@Web.Resource.Resource.資訊小教室</h2>
                            <div class="m-card__depiction">@Web.Resource.Resource.生活趣常見問題</div>
                        </div>
                    </div>
                    <div class="m-card__bg">
                        <figure data-imgfix="full">
                            <img src="~/styles/images/common/loading-full.gif" data-src="@Url.Content("~/styles/images/index/other01_640x300.jpg")" alt="@Web.Resource.Resource.資訊小教室">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="idx-other__item">
                <div class="m-card m-card--idx-other" data-open="@ViewBag.WebData.shop">
                    <div class="m-card__ctr">
                        <div class="m-card__pic">
                            <figure data-imgfix="hold">
                                <img src="~/styles/images/common/loading.gif" data-src="@Url.Content("~/styles/images/index/other-icon02_100x100.svg")" alt="@Web.Resource.Resource.購物平台">
                            </figure>
                        </div>
                        <div class="m-card__txt">
                            <h2 class="m-card__title">@Web.Resource.Resource.購物平台</h2>
                            <div class="m-card__depiction">@Web.Resource.Resource.Yahoo商店</div>
                        </div>
                    </div>
                    <div class="m-card__bg">
                        <figure data-imgfix="full">
                            <img src="~/styles/images/common/loading-full.gif" data-src="@Url.Content("~/styles/images/index/other02_640x300.jpg")" alt="@Web.Resource.Resource.購物平台">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="idx-other__item">
                <div class="m-card m-card--idx-other" data-href="@Url.Action("Inquiry", "Contact")">
                    <div class="m-card__ctr">
                        <div class="m-card__pic">
                            <figure data-imgfix="hold">
                                <img src="~/styles/images/common/loading.gif" data-src="@Url.Content("~/styles/images/index/other-icon03_100x100.svg")" alt="@Web.Resource.Resource.客戶服務">
                            </figure>
                        </div>
                        <div class="m-card__txt">
                            <h2 class="m-card__title">@Web.Resource.Resource.客戶服務</h2>
                            <div class="m-card__depiction">@Web.Resource.Resource.線上諮詢銷售據點</div>
                        </div>
                    </div>
                    <div class="m-card__bg">
                        <figure data-imgfix="full">
                            <img src="~/styles/images/common/loading-full.gif" data-src="@Url.Content("~/styles/images/index/other03_640x300.jpg")" alt="@Web.Resource.Resource.客戶服務">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts{
    <script>
        @*$(document).ready(function () {
            if ('@Model.IndexData_ViewModel.index_newstitle' != '' && '@Model.IndexData_ViewModel.index_newscontent' != '') {
                var title = '@Html.Raw(Model.IndexData_ViewModel.index_newstitle)';
                  var content = '@Html.Raw(Model.IndexData_ViewModel.index_newscontent)';
                  swal({
                        title: title,
                        text: content,
                        confirmButtonText: "@Web.Resource.Resource.確認",
                        html: true
                  });
            }
       });*@
    </script>
}