﻿@{
    Layout = null;
}
@model Web.Models.ViewModels.ProductViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的型錄</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/print/styles/style.css">
    <link rel="icon" type="image/x-icon" href="~/styles/images/web-icon.ico" />
</head>

<body>
    <article class="report reportPrint">
        <!--==========================================================================
        * page-front 封面
         ==========================================================================-->
        <section class="print-Box" id="page-front">
            <img src="~/Styles/print/styles/images/front.jpg" alt="">
        </section>
        <!--==========================================================================
        * page - catalog 目錄
            ==========================================================================-->
        <section class="print-Box page" id="page-catalog">
            <div class="head">
                <div class="stitle">
                </div>
            </div>
            <div class="headerbox">
                <div class="eng">THE CONTENTS</div>
                <div class="sub">@Web.Resource.Resource.產品目錄</div>
            </div>

            <div class="main">
                <div class="list pageb">
                    <ul class="font-18">
                        @foreach (var item in Model.NotepadData_PDFListViewModel)
                        {
                            <li>@item.Value.title<span class="type">@item.Value.model</span><span class="pagenum contents" pguid="@item.Value.guid"></span></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="footer">
                <span class="copyright"></span>
                <span class="pageNum"></span>
            </div>
        </section>

        <!--page 產品清單 -->
        <section class="print-Box page">
            <div class="head">
                <div class="stitle">
                </div>
            </div>
            <div class="main">
                <div class="pro-list">
                    <div class="table">
                        <div class="thead">
                            <div class="tr clearfix">
                                <div class="th">@Web.Resource.Resource.圖片</div>
                                <div class="th">@Web.Resource.Resource.產品規格</div>
                                <div class="th">@Web.Resource.Resource.網頁網址</div>
                            </div>
                        </div>
                        <div class="tbody">
                            @if (Model.NotepadData_PDFListViewModel != null && Model.NotepadData_PDFListViewModel.Count != 0)
                            {
                                foreach (var item in Model.NotepadData_PDFListViewModel)
                                {
                                    <div class="tr product pageb clearfix" id="@item.Value.guid" page="">
                                        <div class="td">
                                            <img src="@(!string.IsNullOrEmpty(item.Value.indexpic) ? Url.Content("~" + item.Value.indexpic) : "")" alt="@item.Value.indexpic_alt">
                                        </div>
                                        <div class="td">
                                            <span class="d-block font-18 font-weight-bold">@item.Value.title    @item.Value.model</span>
                                            @Html.Raw(item.Value.spec_pdf)
                                        </div>
                                        <div class="td">
                                            <a href="@Web.Service.FunctionService.getWebUrl()@Url.Action("Product_Data", "Products", new { guid = item.Value.guid})" target="_blank" class="fs-18 tc-gray">@Web.Service.FunctionService.getWebUrl()@Url.Action("Product_Data", "Products", new { guid = item.Value.guid })</a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="tfoot">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <span class="copyright"></span>
                <span class="pageNum"></span>
            </div>
        </section>
        <!--end page 產品清單 -->
    </article>
    @Scripts.Render("~/Scripts/scripts/default/jquery.min.js")
    @Scripts.Render("~/Scripts/scripts/plugins/imgLiquid.js")
    @*<script src="/Scripts/print/scripts/default/print.js"></script>*@
</body>
</html>
<script>
    //$(document).ready(function () {
    $(window).on('load', function () {
        var i = 1;
        $('.report .print-Box').each(function () {
            printPage = 1514;//每一頁高度
            pageNum = 1;

            //自動分頁
            $(this).find('.pageb').each(function () {

                var top = $(this).position().top,
                    height = $(this).height();

                //設定每個td的高度
                $(this).find('.td').each(function () {
                    $(this).css({
                        height: height
                    });
                });

                /*第二頁*/
                if (top + height > printPage * pageNum - 100) {
                    pagebottomPosition = printPage * pageNum - top - 2;

                    $(this).before('<div class="footerH" style="margin-top:' + pagebottomPosition + 'px" page=""><div class="footer"><span class="copyright"></span><span class="pageNum"></span></div></div><div class="head"><div class="stitle"></div></div>');

                    if (i == 3 && !$(this).hasClass("tfoot")) {
                        if ("@ViewBag.Lang" == "tw") {
                            $(this).before("<div class='thead'><div class='tr clearfix'><div class='th'>圖片</div><div class='th'>產品規格</div><div class='th'>網頁網址</div></div></div>");
                        }
                        else if ("@ViewBag.Lang" == "en") {
                            $(this).before("<div class='thead'><div class='tr clearfix'><div class='th'>picture</div><div class='th'>product specification</div><div class='th'>website</div></div></div>");
                        }

                        @*$(this).before(

                            if ("@ViewBag.Lang" == "tw") {
                                "<div class='thead'><div class='tr clearfix'><div class='th'>圖片</div><div class='th'>產品規格</div><div class='th'>網頁網址</div></div></div>"
                            }
                            else if ("@ViewBag.Lang" == "en")
                            {
                                "<div class='thead'><div class='tr clearfix'><div class='th'>picture</div><div class='th'>product specification</div><div class='th'>website</div></div></div>"
                            }

                        );*@
                    }
                    pageNum++;
                }
            });

            printheight = $(this).height();
            printInnerPage = Math.floor(printheight / printPage) + 1;
            //設定每區塊高
            $(this).css({
                height: printPage * printInnerPage
            });

            /*頁首 - 標題*/
            $(this).find('.stitle').each(function () {
                if ("@ViewBag.Lang" == "tw") {
                    $(this).text('本型錄資訊擷取日為' +@ViewBag.year+'年' + @ViewBag.month +'月' + @ViewBag.day + '日');
                }
                else if ("@ViewBag.Lang" == "en") {
                    $(this).text('Date: ' + @ViewBag.year+'-' + @ViewBag.month +'-' + @ViewBag.day);
                }
            });

            /*頁尾 - 頁碼*/
            $(this).find('.footer').each(function () {
                var index = $('.report .footer').index(this) + 1;
                $(this).find('.copyright').text("COPYRIGHT © R&R MEDICAL CORPORATION LTD.,");
                $(this).find('.pageNum').text("PAGE " + index);
                $(this).attr("page", index);
                $(this).parent().attr("page", index);
            });
            i++;
        });

        //針對商品加上所屬頁碼
        var page = $(".footerH:first").attr("page") || $(".print-Box.page.product .footer").attr("page")
        $('.pro-list .pageb ,.pro-list .footerH').each(function () {
            $(this).attr('page', page);
            if ($(this).hasClass('footerH')) {
                page++;
            }
        })

        //商品目錄加上商品所屬頁碼
        $("span.contents").each(function () {
            var pguid = $(this).attr("pguid");
            var page = $("#" + pguid).attr("page");
            $(this).text(page);
        });
    });
</script>