﻿@model Web.Models.ViewModels.HomeViewModel
<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--none"></div>
    <!-- privacy section -->
    <div class="privacy-stn">
        @if (Model.Privacy_ViewModel != null)
        {
            <h1 class="cms-headline" data-aos="fade-up">@Model.Privacy_ViewModel.title</h1>
            <div class="l-wp-990">
                <div id="editor" class="privacy-editor" data-aos="fade-up">
                    @Html.Raw(Model.Privacy_ViewModel.content)                  
                </div>
            </div>
            <div class="privacy-bg"></div>
        }
    </div>
</main>