﻿@using Web.Service
@model Web.Models.ViewModels.HomeViewModel
<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--none"></div>
    <!-- search section -->
    <div class="search-stn">
        <div class="search-headline">
            <h1 class="cms-headline">@Web.Resource.Resource.搜尋結果</h1>

            @if (ViewBag.lang == "tw")
            {
                <div class="search-headline__result">
                    @Web.Resource.Resource.關鍵字：<span class="blue">@ViewBag.keyword</span><span class="line">/</span>共<span class="blue">@ViewBag.count</span>項產品符合
                </div>
            }
            else
            {
                <div class="search-headline__result">
                    @Web.Resource.Resource.關鍵字：<span class="blue">@ViewBag.keyword</span><span class="line">/</span>About<span class="blue">@ViewBag.count</span>results
                </div>
            }


        </div>
        <div class="l-wp-1740">
            <ul class="prol-list row">
                @if (Model.SearchProduct_PagedListViewModel != null)
                {
                    foreach (var item in Model.SearchProduct_PagedListViewModel)
                    {
                        <li class="prol-list__item col-3">
                            <div class="m-card m-card--prol">
                                <div class="m-card__ctr" data-href="@Url.Action("Product_Data", "Products", new { guid = item.guid})">
                                    <div class="m-card__pic">
                                        <div data-imgfix="in">
                                            <img src="~/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(item.indexpic) ? Url.Content("~" + item.indexpic) : "")" alt="@item.indexpic_alt">
                                        </div>
                                    </div>
                                    <div class="m-card__txt">
                                        <h2 class="m-card__title">@item.title</h2>
                                        <div class="m-card__model">@item.model</div>
                                    </div>
                                </div>
                                <div class="m-card__btn">
                                    <div class="m-card__btn-item">
                                        <div class="m-btn m-btn--prol" data-lbox="@Url.Action("lbox_inquiry", "Products", new { guid = item.guid})" data-id="lbox-inquiry">
                                            <span class="m-btn__icon" data-icon="hook"></span>
                                            <span class="m-btn__name">@Web.Resource.Resource.加入詢問表單</span>
                                        </div>
                                    </div>
                                    <div class="m-card__btn-item">
                                        <div class="m-btn m-btn--prol">
                                            <span class="m-btn__icon" data-icon="hook"></span>
                                            <span class="m-btn__name">@Web.Resource.Resource.加入我的型錄</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }

            </ul>
        </div>

        <nav class="pagination">
            <ul class="pagination__list">
                @if (ViewBag.pageView != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(ViewBag.pageView));

                }
            </ul>
        </nav>
    </div>
</main>