﻿@*@if (ViewBag.colJson["useLang"] == "Y")
    {
        if (ViewBag.language != null)
        {
            int a = 0;
            foreach (var item in ViewBag.language)
            {
                <input class="form-control" type="hidden" name="@Html.Raw(ViewBag.key + "_" + item.lang)" id="@Html.Raw(ViewBag.key + "_" + item.lang)" value="@if (ViewBag.data == null || !ViewBag.data.ContainsKey(item.lang) || ViewBag.data[item.lang][ViewBag.key] == null  || ViewBag.data[item.lang][ViewBag.key].ToString() == "") {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[item.lang][ViewBag.key])}" />
            }
        }
    }
    else if (ViewBag.Tables == "user")
    {
        <input class="form-control" type="hidden" name="@ViewBag.key" id="@ViewBag.key" value="@if (ViewBag.data == null || ViewBag.data[ViewBag.key] == null  || ViewBag.data[ViewBag.key].ToString() == "") {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.key])}" />
    }
    else
    {
        <input class="form-control" type="hidden" name="@ViewBag.key" id="@ViewBag.key" value="@if (ViewBag.data == null || ViewBag.data[ViewBag.defLang][ViewBag.key] == null  || ViewBag.data[ViewBag.defLang][ViewBag.key].ToString() == "") {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.defLang][ViewBag.key])}" />
    }*@

@if (ViewBag.colJson["useLang"] == "Y")
{

    if (ViewBag.Tables == "roles" || ViewBag.Tables == "user" || ViewBag.Tables == "contact" || ViewBag.Tables == "ip_setting")
    {
        if (ViewBag.language != null && ViewBag.Data == null)
        {
            int a = 0;
            foreach (var item in ViewBag.language)
            {
                <input class="form-control" type="hidden" name="@Html.Raw(ViewBag.key + "_" + item.lang)" id="@Html.Raw(ViewBag.key + "_" + item.lang)" value="@if (ViewBag.data == null || !ViewBag.data.ContainsKey(item.lang) || ViewBag.data[item.lang][ViewBag.key] == null  || ViewBag.data[item.lang][ViewBag.key].ToString() == "") {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[item.lang][ViewBag.key])}" />
            }
        }
        else if (ViewBag.data != null)
        {
            <input class="form-control" type="hidden" name="@ViewBag.key" id="@ViewBag.key" value="@if (ViewBag.data == null || ViewBag.data[ViewBag.key] == null  || ViewBag.data[ViewBag.key].ToString() == "") {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.key])}" />
        }
    }
    else
    {
        if (ViewBag.language != null)
        {
            int a = 0;
            foreach (var item in ViewBag.language)
            {
                <input class="form-control" type="hidden" name="@Html.Raw(ViewBag.key + "_" + item.lang)" id="@Html.Raw(ViewBag.key + "_" + item.lang)" value="@if (ViewBag.data == null || !ViewBag.data.ContainsKey(item.lang) || ViewBag.data[item.lang][ViewBag.key] == null  || ViewBag.data[item.lang][ViewBag.key].ToString() == "") {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[item.lang][ViewBag.key])}" />
            }
        }
    }
}
else
{
    if (ViewBag.Tables == "user")
    {
        <input class="form-control" type="hidden" name="@ViewBag.key" id="@ViewBag.key" value="@if (ViewBag.data == null || ViewBag.data[ViewBag.key] == null  || ViewBag.data[ViewBag.key].ToString() == "") {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.key])}" />
    }
    else
    {
        <input class="form-control" type="hidden" name="@ViewBag.key" id="@ViewBag.key" value="@if (ViewBag.data == null || ViewBag.data[ViewBag.defLang][ViewBag.key] == null  || ViewBag.data[ViewBag.defLang][ViewBag.key].ToString() == "") {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.key])}" />
    }

}