﻿@if (ViewBag.colJson["useLang"] == "Y")
{
    if (ViewBag.language != null)
    {
        int a = 0;
        string[] RowData = ViewBag.colJson["data"].ToString().Split('/');
        string[] RowVal = ViewBag.colJson["Val"].ToString().Split('/');

            <div class="form-group row">
                <label class="col-lg-2 col-form-label" for="subject">
                    @Html.Raw(ViewBag.colJson["subject"])
                    @if (ViewBag.colJson["required"] != "")
                    {<span class="text-danger ml-1">*</span>}
                </label>

                <div class="col-sm-10">
                    <div style="padding-bottom:10px;">  <a class="btn btn-sm btn-main infinity" title="新增" href="javascript:void(0)" data-field="@ViewBag.key" data-delQty="@RowData.Length" data-row="@ViewBag.colJson["data"]" data-val="@ViewBag.colJson["Val"]" data-required="@ViewBag.colJson["required"]"><i class="icon-plus2"></i><span class="ml-1 d-none d-md-inline-block">新增</span></a></div>
                    
                    @foreach (var item in ViewBag.language)
                    {
                        string val = "";
                        List<Web.Controllers.SiteadminController.infinityLayoutModel> jsonData = new List<Web.Controllers.SiteadminController.infinityLayoutModel>();
                        Dictionary<string, List<string>> tempVal = new Dictionary<string, List<string>>();
                        if (ViewBag.data != null && ViewBag.data.ContainsKey(item.lang))
                        {
                            val = ViewBag.data[item.lang][ViewBag.key].ToString();
                            jsonData = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Web.Controllers.SiteadminController.infinityLayoutModel>>(val);

                            foreach (Web.Controllers.SiteadminController.infinityLayoutModel valItem in jsonData)
                            {
                                tempVal.Add(valItem.key, valItem.val);
                            }

                        }


                        <input class="form-control" type="hidden" name="@Html.Raw(ViewBag.key + "_" + item.lang)" id="@Html.Raw(ViewBag.key + "_" + item.lang)" value="@val" />


                        <ul id="sortable" class="form-row infinityLayOut_@Html.Raw(item.lang) vLay @Html.Raw("v_"+item.lang)"style="list-style:none; @if (a > 0) { @Html.Raw("display:none;") }" >


                            @if (RowData.Length > 0)
                            {

                                if (jsonData.Count > 0)
                                {

                                    for (int tt = 0; tt < jsonData.FirstOrDefault().val.Count; tt++)
                                    {
                                        <li class="form-row col-sm-10">
                                             <span class="ui-icon ui-icon-arrowthick-2-n-s" style="margin-top:7px;"></span>
                                        @{int rr = 0;}
                                        @foreach (string subItem in RowData)
                                        {
                                            <div class="col-sm-auto valList">
                                                <div class="form-row">
                                                    <div class="col-auto form-text">@subItem</div>
                                                    <div class="col mb-2">
                                                        <input class="form-control @Html.Raw(RowVal[rr] + "_" + item.lang)" type="text" @ViewBag.colJson["required"] value="@tempVal[RowVal[rr]][tt]" />
                                                    </div>
                                                </div>

                                            </div>
                                            rr++;
                                        }
                                        <a class="btn btn-outline btn-sm infinityDel" title="刪除" href="#1" role="button" data-delQty="@RowData.Length"><i class="icon-trash"></i><span class="text-hide">刪除</span></a>
                                        </li>
                                    }

                                }
                                else
                                {
                                        <li class="form-row col-sm-10">
                                            <span class="ui-icon ui-icon-arrowthick-2-n-s" style="margin-top:7px;"></span>
                                            @{int rr = 0;}
                                            @foreach (string subItem in RowData)
                                            {

                                                <div class="col-sm-auto valList">
                                                    <div class="form-row">
                                                        <div class="col-auto form-text">@subItem</div>
                                                        <div class="col mb-2">
                                                            <input class="form-control @Html.Raw(RowVal[rr] + "_" + item.lang)" type="text" @ViewBag.colJson["required"] value="" />
                                                        </div>
                                                    </div>
                                                </div>

                                                rr++;
                                            }
                                            <a class="btn btn-outline btn-sm infinityDel" title="刪除" href="#1" role="button" data-delQty="@RowData.Length"><i class="icon-trash"></i><span class="text-hide">刪除</span></a>
                                        </li>
                                }




                            }


                        </ul>
                        a++;
                    }
                    <div class="_formErrorMsg"></div>
                </div>

                @Html.Raw(ViewBag.colJson["notes"])
            </div>
         
        
    }

}
else
{
        <div class="form-group row">
            <label class="col-lg-2 col-form-label" for="subject">
            @Html.Raw(ViewBag.colJson["subject"])
            @if(ViewBag.colJson["required"] != "")
                        {<span class="text-danger ml-1">*</span>}
            </label>

            <div class="col-lg-5 col-xl-4">
                @if (ViewBag.useLang == "Y")
                {
                    <input class="form-control" type="text" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] value="@if (ViewBag.data == null) {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.defLang][ViewBag.key])}" @if (ViewBag.colJson["readonly"] != null) { @ViewBag.colJson["readonly"].ToString() } /><div class="_formErrorMsg"></div>
                }
                else
                {
                    <input class="form-control" type="text" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] value="@if (ViewBag.data == null) {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.key])}" @if (ViewBag.colJson["readonly"] != null) { @ViewBag.colJson["readonly"].ToString() } /><div class="_formErrorMsg"></div>
                }
            </div>

              @Html.Raw(ViewBag.colJson["notes"])
        </div>
}

