﻿<div class="form-group row">
    <label class="col-lg-2 col-form-label">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
    {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-10">
        <table class="table table-sm table-bordered mb-1">
            <thead class="thead-default">
                <tr class="text-center">
                    <th>#</th>
                    <th>會簽者</th>
                    <th>指派日期</th>
                    <th>通知狀態</th>
                    <th>回復狀態</th>
                    <th>動作</th>
                </tr>
            </thead>
            <tbody>
                  @if (ViewBag.category != null)
                  {
                      int i = 1;
                      foreach (var item in ViewBag.category)
                      {

                <tr>
                    <td class="text-center" scope="row">@i</td>
                    <td class="text-center">@Html.Raw(item.ad_name + "(" + item.ad_department + ")")</td>
                    <td class="text-center">@if (item.appoint_date != null && item.appoint_date.ToString() != "")
                    { @System.DateTime.Parse(item.appoint_date.ToString()).ToString("yyyy/MM/dd")}
                    else
                    {@Html.Raw("尚未指派") }</td>

                    <td class="text-center">
                        @if (item.send_date != null && item.send_date.ToString() != "")
                        {
                            @Html.Raw("已通知")    
                        }
                        else
                        {
                             @Html.Raw("未通知")    
                        }  
                  

                    </td>
                    <td class="text-center">
                  

                        @if(item.re_status == "Y")
                        {
                            @Html.Raw("已回覆")    
                        }
                        @if(item.re_status == "N")
                        {
                            if(item.appoint_date != null && item.appoint_date.ToString() != "")
                            {
                                DateTime lastDay = DateTime.Parse(Faq.Service.FunctionService.lastDay(item.appoint_date.ToString(), 3));
                                DateTime toDay = DateTime.Now;
                                TimeSpan ts = toDay - lastDay;
                                      if(ts.Days > 3)
                                        {
                                              @Html.Raw("延遲(" + Faq.Service.FunctionService.delayDay(lastDay.ToString()) + "d)")
                                        }
                                        else
                                        {
                                              @Html.Raw("未回覆")
                                        }
                            }
                             else
                                    {
                                          @Html.Raw("未回覆")
                                    }

                          

                            
                        }  
                       

                            </td>


                            <td class="text-center"> 
                     @if (item.re_status == "N")
                     {
                          <button class="btn btn-primary btn-sm" type="button" data-repeater-create="" title="發送通知">發送通知</button>

                     }</td>
                </tr>

                          i++;
                      }
                  }
            </tbody>
        </table>
    </div>
</div>
