﻿@using Web.Models.EntityModel;
@using Web.Service;
@{

    Model DB = new Model();
    List<system_menu> system_menu = ViewBag.system_menu;
}
@if (ViewBag.data != null)
{
    string role_guid = ViewBag.data["guid"].ToString();
    ViewBag.permissions = FunctionService.role_permissions(role_guid);
}
<input type="hidden" name="permissions" id="permissions" value="">
<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="tiptop">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
        {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-10">

        @if (ViewBag.system_menu != null)
        {
            int t = 0;
            foreach (var item in ViewBag.system_menu)
            {

                if (item.category == "0")
                {
                    string category = item.guid;
                    var nextSystemMenu = DB.system_menu.Where(m => m.category == category).Where(m => m.status == "Y").ToList();

                    int i = 0;
                    <h3 class="h6">
                        @Html.Raw(item.title)
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input class="custom-control-input topPermissions" data-topguid="@item.guid" id="@Html.Raw("T"+t)" type="checkbox" />
                            <label class="custom-control-label" for="@Html.Raw("T"+t)">全選</label>
                        </div>
                    </h3>

                    <div class="form-group bg-light border p-2">
                        <div class="row">
                            @foreach (var subItem in nextSystemMenu)
                            {

                                if (i % 2 == 0)
                                {@Html.Raw("<div class=\"col-md-6\">") }

                            <div class="row">
                                <div class="col-4">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input subPermissions" data-topguid="@item.guid" data-subguid="@subItem.guid" id="@Html.Raw("T" + t + "_" + i)" type="checkbox" @if (ViewBag.permissions != null && ViewBag.permissions[subItem.guid] != null) { @Html.Raw("checked") } />
                                        <label class="custom-control-label" for="@Html.Raw("T" + t + "_" + i)">@Html.Raw(subItem.title)</label>
                                    </div>
                                </div>
                                <div class="col text-secondary">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input permissions" data-topguid="@item.guid" data-subguid="@subItem.guid" type="radio" name="@subItem.guid" id="@Html.Raw("S" + t + "_" + i + "1")" value="F" @if (ViewBag.data == null || (ViewBag.permissions != null && ViewBag.permissions[subItem.guid] != null && ViewBag.permissions[subItem.guid] == "F")) { @Html.Raw("checked") } />
                                        <label class="custom-control-label" for="@Html.Raw("S" + t + "_" + i + "1")">完全控制</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input permissions" data-topguid="@item.guid" data-subguid="@subItem.guid" type="radio" name="@subItem.guid" id="@Html.Raw("S" + t + "_" + i + "2")" value="R" @if (ViewBag.permissions != null && ViewBag.permissions[subItem.guid] != null && ViewBag.permissions[subItem.guid] == "R") { @Html.Raw("checked") } />
                                        <label class="custom-control-label" for="@Html.Raw("S" + t + "_" + i + "2")">唯讀</label>
                                    </div>
                                </div>
                            </div>

                            if (i % 2 == 1 || ((nextSystemMenu.Count - 1) == i))
                            { @Html.Raw("</div>")}

                        i++;

                    }
                        </div>
                    </div>
                    t++;
                }

            }
        }
    </div> @Html.Raw(ViewBag.colJson["notes"])
</div>