﻿@using Newtonsoft.Json;
@using Web.Models.EntityModel;
<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="reviewMultiple">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
        {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-10">
        <select class="multiSelect" multiple="" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"]>
            @if (ViewBag.category != null)
            {
                if (ViewBag.inherit == "malfunction")
                {
                    foreach (var item in ViewBag.category)
                    {
                        string selected = "";
                        if (ViewBag.data != null && ViewBag.data[ViewBag.defLang][ViewBag.key].ToString().IndexOf(item.guid) != -1)
                        {
                            selected = " selected";
                        }
                        <option value="@item.guid" @selected>@item.title</option>
                    }
                }
                else
                {
                    foreach (var item in ViewBag.category)
                    {
                        <optgroup label="@item.Key">
                            @foreach (var data in item.Value)
                            {
                                if (ViewBag.colJson["prev_table"] == null)
                                {
                                    string selected = "";

                                    if (ViewBag.inherit == "products_brand" || ViewBag.inherit == "products_icondata" || ViewBag.inherit == "products_video" || ViewBag.inherit == "product_series")
                                    {
                                        if (ViewBag.data != null && ViewBag.data[ViewBag.defLang][ViewBag.key].ToString().IndexOf(data.guid) != -1)
                                        {
                                            selected = " selected";
                                        }

                                        <option value="@data.guid" @selected>@data.title</option>
                                    }
                                    else
                                    {
                                        <option value="@data" @selected>@data</option>
                                    }
                                }
                            }
                        </optgroup>
                    }
                }
            }
        </select>
        <div class="button-multiselect-box mt-1"><a class="select-all btn btn-secondary btn-sm" href="#">選取全部</a><a class="deselect-all btn btn-secondary btn-sm" href="#">清除選取  </a></div>
    </div>
    @Html.Raw(ViewBag.colJson["notes"])
</div>