﻿
@if (ViewBag.colJson["useLang"] == "Y")
{
    if (ViewBag.language != null)
    {
        int a = 0;
        foreach (var item in ViewBag.language)
        {
            <div class="form-group row vLay @Html.Raw("v_"+item.lang)" @if (a > 0) { @Html.Raw("style=\"display:none;\"") }>
                <label class="col-lg-2 col-form-label">
                    @Html.Raw(ViewBag.colJson["subject"])
                    @if (ViewBag.colJson["required"] != "")
                    {<span class="text-danger ml-1">*</span>}
                </label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="5" name="@Html.Raw(ViewBag.key + "_" + item.lang)" id="@Html.Raw(ViewBag.key + "_" + item.lang)" @ViewBag.colJson["required"] @(ViewBag.colJson["readonly"] != null ? ViewBag.colJson["readonly"] : "")>
                   @if (ViewBag.data == null || !ViewBag.data.ContainsKey(item.lang))
                {@Html.Raw(ViewBag.colJson["defaultVal"])}
                else
                {@Html.Raw(ViewBag.data[item.lang][ViewBag.key])}</textarea>
                </div>
            </div>

            a++;
        }
    }

}
else
{
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">
            @Html.Raw(ViewBag.colJson["subject"])
            @if (ViewBag.colJson["required"] != "")
            {<span class="text-danger ml-1">*</span>}
        </label>
        <div class="col-lg-10">
            <textarea class="form-control" rows="5" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] @(ViewBag.colJson["readonly"] != null ? ViewBag.colJson["readonly"] : "")>@if (ViewBag.data == null)
                    { @Html.Raw(ViewBag.colJson["default"])}
                    else
                    {@Html.Raw(ViewBag.data[ViewBag.key])}</textarea>
        </div>
    </div>
}