/* Plug-in Dropkick =========================================================== */
// Dropkick Setting -----------------------------------------------------------
$dk-hover: #008CD7
$dk-openDown: 0

// Dropkick SASS --------------------------------------------------------------
select[data-dkcacheid] 
    display: none 
.dk
    &-select, *, *::before, *::after, &-select-multi, &-select-multi *::before, &-select-multi *::after
        box-sizing: border-box

    &-select, &-select-multi 
        position: relative
        display: inline-block
        vertical-align: middle
        cursor: pointer
        // box-shadow 0 0 10px $re-color
        +trs()

    &-selected
        width: 100%
        white-space: nowrap
        overflow: hidden
        position: relative
        text-overflow: ellipsis
        +trs()

        // &::before, &::after
        //     content: ''
        //     display: block
        //     position: absolute
        //     right: 0 
        //     font-family: $icn
        // &::before 
        //     content: '\e82d'
        //     font-size: rem(8)
        //     top: 16px
        //     right: 14px
        //     color: cr(red)

        //     top: 50%
        //     border: solid transparent
        //     border-width: 0.25em 0.25em 0
        //     border-top-color: #CCCCCC
        //     margin: -0.125em 0.5em 0 0 
        // &::after 
        //     top: 0
        //     height: 100%
        //     margin: 0 1.5em 0 0 

        &:hover, &:focus
            outline: none
            &::before

            &::after

        &-disabled 
            color: #BBBBBB 

    &-select 
        & &-options 
            position: absolute
            // display: none
            left: 0
            right: 0 
            opacity: 0
            pointer-events: none
            +trs()
        &-open-up, &-open-down
            .dk-selected
                &::before
                    // border-width: 0 0.25em 0.25em
                    // border-bottom-color: #ED6B00
                &::after
                    // border-left-color: #ED6B00
        &-open-up, &-open-down, &-multi:focus
            .dk-select-options
                display: block
                opacity: 1
                pointer-events: auto

        &-open-up 
            .dk
                &-select-options 
                    margin-bottom: $dk-openDown + px
                    bottom: 100% 
                &-selected
                    border-top-left-radius: 0
                    border-top-right-radius: 0
                    border-color: cr(red)

        &-open-down 
            // box-shadow: 0 0 10px rgba(#000, .2)
            .dk
                &-select-options 
                    // border-radius: 0 0 0.4em 0.4em
                    margin-top: $dk-openDown + px
                    top: 100% 
                    // box-shadow: 0 0 10px rgba(#000, .2)
                &-selected
                    border-bottom-left-radius: 0
                    border-bottom-right-radius: 0
                    border-color: cr(red)

        &-multi 
            &:hover, &:focus
                outline: none 
            .dk-select-options 
                max-height: 10em 

        &-options 
            list-style: none
            margin: 0
            overflow-x: hidden
            overflow-y: auto
            // padding: 0.25em 0
            width: auto
            z-index: 100 
            max-height: 334px
            &-highlight .dk-option-selected 
                background-color: transparent
                color: inherit 
            .dk-option
                &-highlight
                    background-color: $dk-hover
                    color: #fff 
                &-disabled
                    color: #BBBBBB
                    background-color: transparent 
                &-hidden
                    display: none

        &-disabled
            // opacity: 0.6
            // color: #BBBBBB
            cursor: not-allowed 
            .dk-selected
                &:hover, &:focus
                    &::before
                        border-top-color: inherit 
                    &::after
                        border-left-color: inherit
                &:hover, &-disabled, &:focus
                    border-color: inherit 

    &-optgroup 
        // border: solid #CCCCCC
        // border-width: 1px 0
        // padding: 0.25em 0
        // margin-top: 0.25em 
        + 
            .dk
                &-option 
                    // margin-top: 0.25em 
                &-optgroup 
                    // border-top-width: 0
                    // margin-top: 0 
        &:nth-child(2) 
            // padding-top: 0
            // border-top: none
            // margin-top: 0 
        &:last-child 
            // border-bottom-width: 0
            // margin-bottom: 0
            // padding-bottom: 0 

        &-disabled 
            // opacity: 0.6
            // color: #BBBBBB
            cursor: not-allowed 

        &-label 
            // padding: 0 0.5em 0.25em
            // font-weight: bold
            width: 100% 
        &-options
            list-style: none
            // padding-left: 0 
            li 
                // padding-left: 1.2em 

    &-option
        // padding: 13px 18px 11px 18px;
        // color: #5E5E5E
        +trs(.1)
        &:not(:last-child)
        //     border-bottom: 2px solid #F2F2F2
        &-selected 
        //     background-color: $dk-hover
        //     color: #fff 

// Dropkick Custom ------------------------------------------------------------
.dkSel
    &.dk-select
        width: 200px
        &-open-up 
            .dk
                &-select-options 
                    margin-bottom: 0px
                    bottom: 100% 
                &-selected
                    // border-color: #0f0

        &-open-down 
            .dk
                &-select-options 
                    margin-top: 0px
                    top: 100% 
                &-selected
                    background: $re-color
    .dk
        &-selected
            padding: 10px 0 12px 18px
            +pd(r, 30px)
            color: #323232
            border-radius: 5px
            border: 1px solid #B4B4B4
            font-size: rem(16)
            line-height: 1.5em
            &::before, &::after
                content: ''
                display: block
                position: absolute
                right: 0 
                font-family: $icm
            &::before 
                content: '\e915'
                font-size: rem(18)
                top: 11px
                right: 18px
                color: #008CD7
            &::after 
                top: 0
                height: 100%
                margin: 0 1.5em 0 0 
            +rwdw-min()
                &:hover
                    color: #008CD7
                    &::before
                        color: #008CD7

        &-select 
            & &-options

            &-options
                max-height: 334px
                background-color: white
                box-shadow: 0 0 20px rgba(#000, .2)
                border-radius: 5px
                +scrollbar(cr(hover), #ededed)
                .dk-option-selected 
                    
                .dk-option
                    &-highlight
                        background-color: #008CD7
                        color: #fff 
                    &-disabled
                        color: #BBBBBB
                        

            &-disabled
                opacity: 0.6
                color: #BBBBBB

        &-optgroup 
            border: solid #CCCCCC
            border-width: 1px 0
            padding: 0.25em 0
            margin-top: 0.25em 
            + 
                .dk
                    &-option 
                        margin-top: 0.25em 
                    &-optgroup 
                        border-top-width: 0
                        margin-top: 0 
            &:nth-child(2) 
                padding-top: 0
                border-top: none
                margin-top: 0 
            &:last-child 
                border-bottom-width: 0
                margin-bottom: 0
                padding-bottom: 0 

            &-disabled 
                opacity: 0.6
                color: #BBBBBB

            &-label 
                padding: 0 0.5em 0.25em
                font-weight: bold
            &-options
                padding-left: 0 
                li 
                    padding-left: 1.2em 

        &-option
            padding: 13px 18px 11px 18px
            color: #5E5E5E
            &:not(:last-child)
                border-bottom: 2px solid #F2F2F2