

ul.resp-tabs-list{
    margin: 0px 0 ;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.resp-tabs-list li {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 60px;
    list-style: none;
    cursor: pointer;
    float: left;
    text-align: center;  
    margin-right: -1px;
    margin-bottom: -2px;
    color: #404040;
    border: 1px solid #DCDCDC;
    border-bottom: 2px solid #1E1E1E;
}
@media (max-width: 1366px){
    .resp-tabs-list li{
        width: 220px;
        height: 45px;
    }
}


.resp-tabs-container {
    padding: 0px;
    clear: left;
}

.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 0px 0 0 0; 
    text-align: left;
}

.resp-tab-active {
}


/*.resp-tab-active:before {
    float: left;
    content: "";
    background: transparent url("../../images/tab-bg01.jpg") no-repeat scroll left top;
    width: 33px;
    height: 36px;}
.resp-tab-active:after {
    float: right;
    content: "";
    background: transparent url("../../images/tab-bg02.jpg") no-repeat scroll left top;
    width: 33px;
    height: 36px;}*/

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border-top: 2px solid #1E1E1E;
    border-bottom: 2px solid #1E1E1E;
}

.resp-accordion {
    font-size: 18px;
    /*border: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;*/
    margin: 0px;
    padding: 10px 15px;
}

.resp-tabs-list li.resp-tab-active {
    background:#fff;
    border: 2px solid #1E1E1E;
    border-bottom: none;
    z-index: 1;
}

.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active { 
position: relative;
z-index: 1;
margin-right: -1px !important;
padding: 14px 15px 15px 14px !important;
border-top: 1px solid;
border: 1px solid #5AB1D0 !important;
border-left: 4px solid #5AB1D0 !important;
margin-bottom: 4px !important;
border-right: 1px #FFF solid !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #fff;
}

.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #fff;
}

/*-----------Accordion styles-----------*/


.resp-easy-accordion .resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

.resp-accordion:first-child {
	
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
.resp-tab-content { border-width:0;}
.resp-tab-active {
    background: #004098 !important;
    color:#fff !important; /* !important;*/
}

    ul.resp-tabs-list {
        display: none;
    }

    .resp-accordion {
        color: #fff; display: block; 
        border-bottom:1px solid #dedede; 
        text-align:left; background:#B9B9B9; 
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
	
	
	.resp-tab-active::before, .resp-tab-active::after { background:none; width:0;}
}
