﻿<footer class="ft footer">
    <div class="l-wp-1570 ft__wp">
        <div class="ft-info">
            <div class="ft-info__ctr">
                <a href="@Url.Action("Index", "Home")" class="ft-info__logo">
                    @if (ViewBag.Lang == "tw")
                    {
                        <img src="~/styles/images/common/logo-tw.png" alt="">
                    }
                    else
                    {
                        <img src="~/styles/images/common/logo-en.png" alt="">
                    }

                </a>
                <ul class="ft-info__list">
                    @{
                        var num = System.Text.RegularExpressions.Regex.Replace(ViewBag.WebData.phone, "[^0-9]", "");
                    }
                    <li class="ft-info__item"><img style="width:15px;margin-right:10px;" src="~/styles/images/common/icon-1.svg" alt=""><span class="ft-info__name">@Web.Resource.Resource.電話 : </span><a href="tel:@num" class="ft-info__value">@ViewBag.WebData.phone</a></li>
                    <li class="ft-info__item"><img style="width:15px;margin-right:10px;" src="~/styles/images/common/icon-2.svg" alt=""><span class="ft-info__name">@Web.Resource.Resource.傳真 : </span><span class="ft-info__value">@ViewBag.WebData.fax</span></li>
                    <li class="ft-info__item"><img style="width:15px;margin-right:10px;" src="~/styles/images/common/icon-3.svg" alt=""><span class="ft-info__name">@Web.Resource.Resource.Email : </span><a href="mailto:@ViewBag.WebData.servicemail" class="ft-info__value">@ViewBag.WebData.servicemail</a></li>
                    <li class="ft-info__item"><img style="width:15px;margin-right:10px;" src="~/styles/images/common/icon-4.svg" alt=""><span class="ft-info__name">@Web.Resource.Resource.總公司地址 : </span><br /><a href="@Url.Content("https://www.google.com.tw/maps/place/" + ViewBag.WebData.headquarters)" target="_blank" class="ft-info__value">@ViewBag.WebData.headquarters</a></li>
                    <li class="ft-info__item"><img style="width:15px;margin-right:10px;" src="~/styles/images/common/icon-4.svg" alt=""><span class="ft-info__name">@Web.Resource.Resource.工廠地址 : </span><br /><a href="@Url.Content("https://www.google.com.tw/maps/place/" + ViewBag.WebData.address)" target="_blank" class="ft-info__value">@ViewBag.WebData.address</a></li>
                </ul>
            </div>
        </div>
        <nav class="ft-menu">
            <ul class="ft-menu__list">
                <li class="ft-menu__item">
                    <a href="@Url.Action("Index", "About")" class="ft-menu__link ft-menu__link--title">@Web.Resource.Resource.公司簡介1</a>
                    <a href="@Url.Action("Index", "About")" class="ft-menu__link">@Web.Resource.Resource.公司簡介2</a>
                    <a href="@Url.Action("Certificate", "About")" class="ft-menu__link">@Web.Resource.Resource.專業認證</a>
                </li>
                <li class="ft-menu__item">
                    <a href="@Url.Action("List", "News")" class="ft-menu__link ft-menu__link--title">@Web.Resource.Resource.最新消息</a>
                    @foreach (var item in ViewBag.NewsCategory)
                    {
                        <a href="@Url.Action("List", "News", new { category = item.guid})" class="ft-menu__link">@item.title</a>
                    }
                </li>
                <li class="ft-menu__item">
                    <a href="@Url.Action("Series", "Products")" class="ft-menu__link ft-menu__link--title">@Web.Resource.Resource.產品專區</a>
                    <a href="@Url.Action("Series", "Products")" class="ft-menu__link">@Web.Resource.Resource.全部</a>
                    <a href="@Url.Action("Category", "Products")" class="ft-menu__link">@Web.Resource.Resource.產品分類</a>
                    <a href="@Url.Action("Catalog", "Products")" class="ft-menu__link">@Web.Resource.Resource.產品型錄</a>
                </li>
                <li class="ft-menu__item">
                    <a href="@Url.Action("Lifestyle", "Knowledge")" class="ft-menu__link ft-menu__link--title">@Web.Resource.Resource.資訊小教室</a>
                    <a href="@Url.Action("Lifestyle", "Knowledge")" class="ft-menu__link">@Web.Resource.Resource.萊禮知識庫</a>
                    <a href="@Url.Action("Faq", "Knowledge")" class="ft-menu__link">@Web.Resource.Resource.常見問題</a>
                </li>
                <li class="ft-menu__item">
                    <a href="@Url.Action("List", "Video")" class="ft-menu__link ft-menu__link--title">@Web.Resource.Resource.影音專區</a>
                    @foreach (var item in ViewBag.VideoCategory)
                    {
                        <a href="@Url.Action("List", "Video", new { category = item.guid })" class="ft-menu__link">@item.title</a>
                    }
                </li>
                <li class="ft-menu__item">
                    <a href="@ViewBag.WebData.shop" target="_blank" class="ft-menu__link ft-menu__link--title">@Web.Resource.Resource.購物平台</a>
                </li>
                <li class="ft-menu__item">
                    <a href="@Url.Action("Inquiry", "Contact")" class="ft-menu__link ft-menu__link--title">@Web.Resource.Resource.客戶服務</a>
                    <a href="@Url.Action("Inquiry", "Contact")" class="ft-menu__link">@Web.Resource.Resource.線上諮詢</a>
                    <a href="@Url.Action("Service", "Contact")" class="ft-menu__link">@Web.Resource.Resource.銷售據點</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="copyright">
        <ul class="copyright__list">
            <li class="copyright__item">COPYRIGHT © R&R MEDICAL CORPORATION LTD., 2020. ALL RIGHTS RESERVED</li>
            <li class="copyright__item">DESIGNED BY <a href="https://minmax.tw/" target="_blank" class="copyright__link">MINMAX 網頁設計</a></li>
            <li class="copyright__item"><a href="@Url.Action("Privacy", "Home")" class="copyright__link">@Web.Resource.Resource.隱私權政策</a></li>
        </ul>
    </div>
    <div class="gotop">
        <div class="m-btn m-btn--gotop">
            <span class="m-btn__name" data-icon="arrow-top">TOP</span>
        </div>
    </div>
</footer>