﻿<header class="hd header is-top" data-aos="fade-down">
    <div class="l-wp-1820 hd__wp">

        @if (ViewBag.Lang == "tw")
        {
            <a href="@Url.Action("index", "Home")" class="hd-logo"></a>
        }
        else if (ViewBag.Lang == "en")
        {
            <a href="@Url.Action("index", "Home")" class="hd-logo en"></a>
        }


        <div class="hd-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="hd-nav">
            <div class="hd-nav__main">
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item" data-active="about"><a href="@Url.Action("Index", "About")" class="menu__link">@Web.Resource.Resource.公司簡介1</a></li>
                        <li class="menu__item" data-active="news"><a href="@Url.Action("List", "News")" class="menu__link">@Web.Resource.Resource.最新消息</a></li>
                        <li class="menu__item" data-active="products"><a href="@Url.Action("Series", "Products")" class="menu__link">@Web.Resource.Resource.產品專區</a></li>
                        @if (ViewBag.Lang == "tw")
                        {
                            <li class="menu__item" data-active="knowledge"><a href="@Url.Action("Lifestyle", "Knowledge")" class="menu__link">@Web.Resource.Resource.資訊小教室</a></li>
                        }

                        <li class="menu__item" data-active="video"><a href="@Url.Action("List", "Video")" class="menu__link">@Web.Resource.Resource.影音專區</a></li>
                        <li class="menu__item" data-active=""><a href="@ViewBag.WebData.shop" target="_blank" class="menu__link">@Web.Resource.Resource.購物平台</a></li>
                        <li class="menu__item" data-active="service"><a href="@Url.Action("Inquiry", "Contact")" class="menu__link">@Web.Resource.Resource.客戶服務</a></li>
                    </ul>
                </nav>
            </div>
            <div class="hd-nav__sub">
                <div class="submenu">
                    <div class="submenu__item submenu__item--search">
                        <div class="hd-search">
                            <div class="hd-search__btn" data-icon="search"></div>
                            <div class="hd-search__ctr">
                                @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "hd-search__ir" }))
                                {
                                    <div class="hd-search__wp l-wp-940">
                                        <div class="m-fm m-fm--hd-search">
                                            <label class="m-fm__name" for="hd-search">@Web.Resource.Resource.關鍵字</label>
                                            <input id="hd-search" name="keyword" class="m-fm__input" type="text" placeholder="@Web.Resource.Resource.關鍵字品名產品編號">
                                        </div>
                                        <button class="m-btn m-btn--fillet-blue" type="submit">
                                            <span class="m-btn__icon" data-icon="search"></span>
                                            <span class="m-btn__name">@Web.Resource.Resource.開始搜尋</span>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="submenu__item submenu__item--lang">
                        <div class="lang">
                            <a href="@Url.Action("SetCulture", "Home", new { Culture = "zh-TW", returnUrl = this.Request.RawUrl })" class="lang__link @(ViewBag.Lang == "tw" ? "active" : "")">中</a>
                            <a href="@Url.Action("SetCulture", "Home", new { Culture = "en-US", returnUrl = this.Request.RawUrl })" class="lang__link @(ViewBag.Lang == "en" ? "active" : "")">EN</a>
                        </div>
                    </div>
                    <div class="submenu__item submenu__item--community">
                        <ul class="hd-community">
                            <li class="hd-community__item"><a href="@ViewBag.WebData.facebook" target="_blank" class="hd-community__link" data-icon="facebook"></a></li>
                            <li class="hd-community__item"><a href="@ViewBag.WebData.instagram" class="hd-community__link" data-icon="ig"></a></li>
                            <li class="hd-community__item"><a href="@ViewBag.WebData.line" class="hd-community__link" data-icon="line"></a></li>
                        </ul>
                    </div>

                    <!-- <div class="submenu__item submenu__item--catalog">
                        <div class="hd-catalog">
                            <div class="hd-catalog__btn" data-icon="catalog"></div>
                            <div class="hd-catalog__ctr"></div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>

    <div class="hd-catalog__ctr hd-catalog__ctr--list">
        <div class="hd-catalog__ir">
            <div class="hd-catalog__head">
                <div class="hd-catalog__head-name">@Web.Resource.Resource.我的型錄</div>
                <div class="hd-catalog__head-tool">
                    <div class="hd-catalog__head-btn hd-catalog__head-btn--add"></div>
                    <div class="hd-catalog__head-btn hd-catalog__head-btn--menu" data-icon="menu"></div>
                    <div class="hd-catalog__head-btn hd-catalog__head-btn--close"></div>
                </div>
            </div>
            <div class="hd-catalog__body">

                <div class="hd-catalog__list">
                    @if (ViewBag.Notepad != null)
                    {
                        foreach (var item in ViewBag.Notepad)
                        {
                            <div class="hd-catalog__item">

                                <div class="hd-catalog__item-head">
                                    <div class="hd-catalog__item-name">
                                        <div class="el-name">
                                            @item.Key.title
                                        </div>
                                        <div class="el-edit">
                                            <input type="text" id="notepadname_@item.Key.guid" value="@item.Key.title" class="el-input">
                                        </div>
                                    </div>
                                    <div class="hd-catalog__item-tool">
                                        <div class="hd-catalog__item-btn">
                                            <div class="m-btn m-btn--edit">
                                                <span class="m-btn__icon" data-icon="edit"></span>
                                            </div>
                                            <div class="m-btn m-btn--save">
                                                <span class="m-btn__icon" data-icon="save" onclick="changeNotepadName('@item.Key.guid')"></span>
                                            </div>
                                        </div>
                                        @*<a href="@Url.Action("Print", "Products", new { guid = item.Key.guid})" target="_blank"><div class="hd-catalog__item-btn" data-icon="download"></div></a>*@
                                        <a href="@Url.Action("DownloadPDF", "Home", new { guid = item.Key.guid})" target="_blank"><div class="hd-catalog__item-btn" data-icon="download"></div></a>
                                        <div class="hd-catalog__item-btn" data-icon="delete" onclick="deleteNotepad('@item.Key.guid')"></div>
                                    </div>
                                </div>
                                <div class="hd-catalog__item-body">
                                    @foreach (var data in item.Value)
                                    {
                                        <div class="m-card m-card--hd-catalog">
                                            <div class="m-card__btn">
                                                <div class="m-btn m-btn--hd-delete" onclick="deleteNotepadData('@item.Key.guid', '@data.guid')">
                                                    <div class="m-btn__name"></div>
                                                </div>
                                            </div>
                                            <div class="m-card__pic">
                                                <figure data-imgfix="hold">
                                                    <img src="/styles/images/common/loading.gif" data-src="@(!string.IsNullOrEmpty(data.product_pic) ? Url.Content("~" + data.product_pic) : "")" alt="">
                                                </figure>
                                            </div>
                                            <div class="m-card__txt">
                                                <div class="m-card__title">@data.product_title</div>
                                                <div class="m-card__number">@data.product_model</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="hd-catalog__mask"></div>
    </div>

    <div class="hd-catalog__ctr hd-catalog__ctr--add">
        <div class="hd-catalog__ir">
            <div class="hd-catalog__head">
                <div class="hd-catalog__head-name">@Web.Resource.Resource.新增型錄</div>
                <div class="hd-catalog__head-tool">
                    <div class="hd-catalog__head-btn hd-catalog__head-btn--close"></div>
                </div>
            </div>
            <div class="hd-catalog__body">
                <div class="hd-catalog__info">
                    <div class="hd-catalog__info-input">
                        <div class="el-input">
                            <label for="inptcatalog"></label>
                            <input id="inptcatalog" type="text" placeholder="@Web.Resource.Resource.請輸入型錄名稱">
                        </div>
                    </div>
                    <div class="hd-catalog__save">
                        <button class="m-btn m-btn--fillet2-blue" id="addNotepad">
                            <span class="m-btn__name">@Web.Resource.Resource.確認</span>
                        </button>
                        <button class="m-btn m-btn--fillet2-dark-gray" id="CloseAddNotepad">
                            <span class="m-btn__name">@Web.Resource.Resource.取消</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="hd-catalog__mask"></div>
    </div>
</header>