﻿<!doctype html>
<html lang="zh-hant">

<head>
    <!-- Title and Meta
    ================================================== -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.ViewTitle @ViewBag.WebData.title</title>
    <meta name="author" content="" />
    <meta name="description" content="@ViewBag.WebData.seo_description" />
    <meta name="keywords" content="@ViewBag.WebData.seo_keywords" />

    <!-- Facebook Open Graph Meta
    ================================================== -->
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="~/styles/images/shareweb.png" />
    <link rel="stylesheet" type="text/css" href="~/styles/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&display=swap&subset=devanagari,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,700&display=swap" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="scripts/default/html5shiv.min.js"></script>
    <script src="scripts/default/respond.min.js"></script>
    <![endif]-->
    <!-- <script src="scripts/default/modernizr.js"></script> -->

    @Styles.Render("~/Content/Siteadmin/modules/sweetalert/sweetalert.css")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119877223-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119877223-2');
        gtag('config', 'AW-946951878');
    </script>
    @Html.Raw(ViewBag.WebData.code)
</head>

<body>
    <h1 class="u-visually-hidden">@ViewBag.WebData.title</h1>
    <div class="l-wp-html html" data-id="@ViewBag.LayoutID">
        @Html.Partial("_Header")

        @RenderBody()

        @Html.Partial("_Footer")
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@

    <!-- <script src="scripts/default/jquery.min.js"></script> -->
    @Scripts.Render("~/Scripts/scripts/default/jquery-3.3.1.min.js")
    <!-- <script src="scripts/default/vue.min.js"></script> -->
    <!-- <script src="scripts/default/env.js"></script> -->
    @Scripts.Render("~/Scripts/scripts/default/jquery.easing.1.3.js")
    @Scripts.Render("~/Scripts/scripts/plugins/jquery.fancybox.min.js")
    <!-- <script src="scripts/plugins/jquery.fly.min.js"></script> -->
    @Scripts.Render("~/Scripts/scripts/plugins/bootstrap.min.js")
    @Scripts.Render("~/Scripts/scripts/plugins/imgLiquid.js")
    @Scripts.Render("~/Scripts/scripts/plugins/jquery.malihu.PageScroll2id.min.js")
    @Scripts.Render("~/Scripts/scripts/plugins/particles/particles.min.js")
    @Scripts.Render("~/Scripts/scripts/plugins/dropkick.js")
    @Scripts.Render("~/Scripts/scripts/plugins/tablesorter/jquery.tablesorter.min.js")
    @Scripts.Render("~/Scripts/scripts/plugins/tablesorter/jquery.tablesorter.widgets.min.js")

    @Scripts.Render("~/Scripts/scripts/plugins/swiper/swiper.min.js")
    @Scripts.Render("~/Scripts/scripts/plugins/aos.js")
    @Scripts.Render("~/Scripts/scripts/plugins/waypoint/waypoints.min.js")

    <!-- <script src="scripts/plugins/zoomer/zoomsl.min.js"></script> -->
    @Scripts.Render("~/Scripts/scripts/plugins/textillate/jquery.fittext.js")
    @Scripts.Render("~/Scripts/scripts/plugins/textillate/jquery.lettering.js")
    @Scripts.Render("~/Scripts/scripts/plugins/textillate/jquery.textillate.js")
    @Scripts.Render("~/Scripts/scripts/plugins/lazyload/lazyload.min.js")
    @Scripts.Render("~/Scripts/scripts/plugins/lightgallery-all.min.js")
    @Scripts.Render("~/Scripts/scripts/plugins/tab/easyResponsiveTabs.js")

    @Scripts.Render("~/Scripts/scripts/ui.js")

    @Scripts.Render("~/Content/Siteadmin/modules/sweetalert/sweetalert.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/sweetalert/ui-sweetalert.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    //新增Notepad
    $('#addNotepad').click(function () {
        var val = $('#inptcatalog').val();
        if (val != "" && val != null) {
            $.ajax({
                url: '@Url.Action("AddNotepad", "Products")',
                type: 'POST',
                data: { notepadname: val },
                success: function (data) {
                    if (data.success == 'success') {
                        swal({
                            title: "@Web.Resource.Resource.系統資訊",
                            text: "@Web.Resource.Resource.新增型錄成功",
                            type: "success",
                            confirmButtonColor: "#e7505a",
                            confirmButtonText: "@Web.Resource.Resource.確認",
                        }, function () {
                            location.reload();
                        });
                    }
                    else if (data.success == 'faild') {
                        swal({
                            title: "@Web.Resource.Resource.系統資訊",
                            text: "@Web.Resource.Resource.新增型錄失敗",
                            type: "error",
                            confirmButtonText: "@Web.Resource.Resource.確認",
                        }, function () {
                                $('#inptcatalog').val("");
                        });
                    }
                }
            });
        }
        else {
            swal({
                title: "@Web.Resource.Resource.系統資訊",
                text: "@Web.Resource.Resource.新增型錄失敗",
                type: "error",
                confirmButtonText: "@Web.Resource.Resource.確認",
            });
            $('#inptcatalog').val("");
        }
    });

    //修改Notepad_Name
    function changeNotepadName(guid) {
        var name = $('#notepadname_' + guid).val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ChangeNotePadName", "Products")',
            data: { guid: guid, name: name },
            success: function (data) {
                if (data.success) {
                    swal({
                        title: "@Web.Resource.Resource.系統資訊",
                        text: "@Web.Resource.Resource.修改成功",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#e7505a",
                        confirmButtonText: "@Web.Resource.Resource.確認",
                        closeOnConfirm: false,
                    }, function () {
                            location.reload();
                    });
                }
                else {
                    swal({
                        title: "@Web.Resource.Resource.系統資訊",
                        text: "@Web.Resource.Resource.修改失敗",
                        type: "error",
                        confirmButtonText: "@Web.Resource.Resource.確認",
                    });
                }
            }
        });
    }

    //刪除Notepad
    function deleteNotepad(guid) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DelteNotepad", "Products")',
            data: { guid: guid },
            success: function (data) {
                if (data.success) {
                    swal({
                        title: "@Web.Resource.Resource.系統資訊",
                        text: "@Web.Resource.Resource.刪除成功",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#e7505a",
                        confirmButtonText: "@Web.Resource.Resource.確認",
                        closeOnConfirm: false,
                    }, function () {
                        location.reload();
                    });
                }
                else {
                    swal({
                        title: "@Web.Resource.Resource.系統資訊",
                        text: "@Web.Resource.Resource.刪除失敗",
                        type: "error",
                        confirmButtonText: "@Web.Resource.Resource.確認",
                    });
                }
            }
        });
    }

    //刪除Notepad_Data
    function deleteNotepadData(guid, pguid) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteNotepadData", "Products")',
            data: { notepad_guid: guid, product_guid: pguid },
            success: function (data) {
                if (data.success) {
                    swal({
                        title: "@Web.Resource.Resource.系統資訊",
                        text: "@Web.Resource.Resource.刪除成功",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#e7505a",
                        confirmButtonText: "@Web.Resource.Resource.確認",
                        closeOnConfirm: false,
                    }, function () {
                        location.reload();
                    });
                }
                else {
                    swal({
                        title: "@Web.Resource.Resource.系統資訊",
                        text: "@Web.Resource.Resource.刪除失敗",
                        type: "error",
                        confirmButtonText: "@Web.Resource.Resource.確認",
                    });
                }
            }
        });
    }

    //產品加入型錄
    function AddProductToNotepad(guid) {
        var val = $('input[name="lb-catalog"]:checked').val();
        if (typeof val !== "undefined") {
            if (val == 'create') {
                var name = $('#inptcatalog_addnotepad').val();
                $.ajax({
                    url: '@Url.Action("AddProductToNotepad", "Products")',
                    type: 'POST',
                    data: { type: "create", product_guid: guid, val: name },
                    success: function (data) {
                        if (data.success == 'success') {
                            swal({
                                title: "@Web.Resource.Resource.系統資訊",
                                text: "@Web.Resource.Resource.產品已成功新增到新建立型錄",
                                type: "success",
                                confirmButtonColor: "#e7505a",
                                confirmButtonText: "@Web.Resource.Resource.確認",
                            }, function () {
                                location.reload();
                            });
                        }
                        else if (data.success == 'faild') {
                            swal({
                                title: "@Web.Resource.Resource.系統資訊",
                                text: "@Web.Resource.Resource.加入失敗",
                                type: "error",
                                confirmButtonText: "@Web.Resource.Resource.確認",
                            });
                        }
                    }
                });
            }
            else {
                 $.ajax({
                    url: '@Url.Action("AddProductToNotepad", "Products")',
                    type: 'POST',
                    data: { type: "select", product_guid: guid, val: val },
                    success: function (data) {
                        if (data.success == 'success') {
                            swal({
                                title: "@Web.Resource.Resource.系統資訊",
                                text: "@Web.Resource.Resource.產品已成功新增到選擇的型錄",
                                type: "success",
                                confirmButtonColor: "#e7505a",
                                confirmButtonText: "@Web.Resource.Resource.確認",
                            }, function () {
                                location.reload();
                            });
                        }
                        else if (data.success == 'faild') {
                            swal({
                                title: "@Web.Resource.Resource.系統資訊",
                                text: "@Web.Resource.Resource.加入失敗請重新操作",
                                type: "error",
                                confirmButtonText: "@Web.Resource.Resource.確認",
                            });
                        }
                        else if (data.success == 'repeat') {
                            swal({
                                title: "@Web.Resource.Resource.系統資訊",
                                text: "@Web.Resource.Resource.加入失敗該產品已重複加入",
                                type: "error",
                                confirmButtonText: "@Web.Resource.Resource.確認",
                            });
                        }
                    }
                });
            }
        }
        else
        {
            swal({
                title: "@Web.Resource.Resource.系統資訊",
                text: "@Web.Resource.Resource.請選擇要加入的型錄或是輸入名稱來建立型錄",
                type: "error",
                confirmButtonText: "@Web.Resource.Resource.確認",
            });
        }
    }
</script>