/* ==========================================================================
    -    網站主體樣式設計 -
author:        雲端數位科技有限公司
email:         web@e-creative.tw
website:       https://minmax.tw/
 ==========================================================================*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

body {
    background-color: #888;
    font-family: 'Source Sans Pro', 'Heiti TC', 'Microsoft JhengHei', '微軟正黑體', Verdana;
    margin: 0;
}

* {
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

a:link,
a:visited,
a {
    background: transparent;
    text-decoration: underline;
    text-align: left;
    word-wrap: break-word;
    /*避免網址過長超出頁面*/
}

.notoSans {
    font-family: 'Noto Sans TC';
}

img {
    max-width: 100%;
}

.color-brown {
    color: #C99C54;
}

.color-gray {
    color: #808080;
}

.d-block {
    display: block;
}

.fs-70 {
    font-size: 18px;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.tc-gray {
    color: #323232;
}

.tc-gray-light {
    color: #DCDCDC;
}

.fw-b {
    font-weight: bold;
}
/* ==========================================================================
* report
 ==========================================================================*/

@page :left {
    margin-left: 0cm;
}

@page :right {
    margin-left: 0cm;
}

@page:

left {
    @bottom-left {
        content: "Page " counter(page) " of " counter(pages);
    }
}

.report p {
    line-height: 1.5em;
    color: #808080;
}

/* ==========================================================================
* report 共用 [page] [footer]
 ==========================================================================*/

.report .print-Box.page .footer {
    position: absolute;
    width: 100%;
    padding: 0 70px;
    left: 0;
    bottom: 30px;
    font-size: 16px;
    text-align: right;
    color: #646464;
}

    .report .print-Box.page .footer .pageNum:before {
        content: '|';
        padding: 0 10px;
    }

    .report .print-Box.page .footer .left {
        float: left;
    }

.report .print-Box.page .footerH {
    position: relative;
}

/* ==========================================================================
* reportPrint
 ==========================================================================*/

h1,
h2,
h3,
h4,
h5 {
    page-break-after: avoid;
}

.reportPrint {
    width: 1070px;
    margin: auto;
    color: #323232;
    font-size: 16px;
}

    .reportPrint .print-Box {
        /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
        background-color: #ffffff;
        /*overflow: hidden;*/
        min-height: 1440px;
        position: relative;
        page-break-after: always;
    }

    .reportPrint .head {
        position: relative;
        font-size: 15px;
        height: 80px;
    }

        .reportPrint .head .stitle {
            padding-top: 30px;
            margin: 0 70px;
            color: #646464;
            font-size: 16px;
        }

    .reportPrint .text .head {
        page-break-before: always;
        margin: 0px -90px 30px -90px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

        .reportPrint .text .head .stitle {
            padding-top: 40px;
            margin: 0 90px 0 0;
        }

            .reportPrint .text .head .stitle.even {
                padding-top: 40px;
                margin: 0 0 0 90px;
            }

    .reportPrint .stitle {
        text-align: right;
    }

        .reportPrint .stitle.even {
            text-align: left;
        }

@media print {
    body {
        background-color: #fff;
        font-family: 'Noto Sans TC';
    }

    .reportPrint .print-Box {
        border: none;
    }

    .reportPrint .text .head {
        display: block;
        margin: 0px -90px 30px -90px;
    }
}

/* ==========================================================================
* report [page-front] 封面
 ==========================================================================*/

/*.report #page-front img{
   margin-top: 59px;
}*/

/* ==========================================================================
* report共用 [page]
 ==========================================================================*/

.report .page > .print-Box {
    padding: 0;
}

.report .print-Box.page .main {
    padding: 0 70px;
}

.pro-list {
    margin-bottom: 50px;
}

.print-Box table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
}

.print-Box table thead {
    background: #F2F2F2;
}

    .print-Box table thead th {
        padding: 15px 0;
        font-weight: normal;
    }

        .print-Box table thead th:nth-child(1) {
            width: 25%;
            border-right: 1px solid white;
        }

        .print-Box table thead th:nth-child(2) {
            width: 60%;
            text-align: left;
            padding-left: 27px;
            border-right: 1px solid white;
        }

        .print-Box table thead th:nth-child(3) {
            max-width: 200px;
            text-align: left;
            padding-left: 20px;
            padding-right: 20px;
        }

.print-Box table tbody tr td {
    border-bottom: 1px solid #E6E6E6;
}

    .print-Box table tbody tr td:nth-child(1) {
        text-align: center;
    }

    .print-Box table tbody tr td:nth-child(2) {
        padding-left: 27px;
        letter-spacing: 0.8px;
    }

        .print-Box table tbody tr td:nth-child(2) > span {
            padding-top: 18px;
        }

        .print-Box table tbody tr td:nth-child(2) ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            margin-top: 5px;
            padding-bottom: 37px;
        }

            .print-Box table tbody tr td:nth-child(2) ul li {
                margin-bottom: 5px;
            }

    .print-Box table tbody tr td:nth-child(3) {
        max-width: 200px;
        vertical-align: top;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }

        .print-Box table tbody tr td:nth-child(3) > a {
            padding-top: 18px;
            display: block;
        }

/* ==========================================================================
* [page] [page-catalog] 目錄
 ==========================================================================*/
.print-Box .headerbox {
    text-align: center;
    font-weight: bold;
    padding-top: 60px;
}

    .print-Box .headerbox .eng {
        font-size: 70px;
        font-weight: 700;
        color: #dcdcdc;
    }

    .print-Box .headerbox .sub {
        /* color: #777; */
        font-size: 26px;
        font-weight: bold;
    }

#page-catalog .main .list {
    max-width: 632px;
    margin: 50px auto 0 auto;
    line-height: 80px;
    /* color: #000; */
}

    #page-catalog .main .list ul {
        margin: 0;
        padding: 0;
    }

        #page-catalog .main .list ul li:first-child {
            border-top: 1px solid #ddd;
        }

        #page-catalog .main .list ul li {
            border-bottom: 1px solid #ddd;
            list-style: none;
        }

    #page-catalog .main .list .type {
        color: #323232;
        padding-left: 5px;
    }

#page-catalog .main .pagenum {
    float: right;
    padding-right: 15px;
}

/* ==========================================================================
* [page] [page-back] 封底
 ==========================================================================*/

.report .print-Box.page .footer .footer {
    padding: 0;
}

.reportPrint .main .head .stitle {
    margin: 0;
}