﻿@using Web.Service
@model Web.Models.ViewModels.NewsViewModel
<main class="l-wp-main main">
    <!-- banner section -->
    <div class="banner-section m-bn m-bn--inside">
        <div class="m-bn__ctr content">
            @if (Model.PageBanner_ViewModel != null)
            {
                <div class="m-bn__pic" data-aos="zoom-out" data-aos-duration="1500">
                    <figure data-img="full">
                        <img src="@(!string.IsNullOrEmpty(Model.PageBanner_ViewModel.pic) ? Url.Content("~" + Model.PageBanner_ViewModel.pic) : "")" alt="@Model.PageBanner_ViewModel.pic_alt">
                    </figure>
                </div>
            }
            <div class="m-bn__info">
                @if (Model.PageBanner_ViewModel != null)
                {
                    @Html.Raw(FunctionService.FormatImagePath(Model.PageBanner_ViewModel.content))
                }
                <div class="cms-tages">
                    <div class="cms-tages__toggle">
                        <div class="cms-tages__toggle-name">@Model.NewsCategory_ViewModel.title</div>
                        <div class="cms-tages__toggle-icon" data-icon="menu"></div>
                    </div>
                    <div class="cms-tages__ctr">
                        <ul class="cms-tages__list">
                            @foreach (var item in Model.NewsCategory_ListViewModel)
                            {
                                <li class="cms-tages__item"><a href="@Url.Action("List", "News", new { category = item.guid})" class="cms-tages__link @(item.guid == Model.NewsCategory_ViewModel.guid ? "active" : "")">@item.title</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- news section -->
    <div class="nws-stn">
        <h1 class="cms-headline" data-aos="fade-up">@Model.NewsCategory_ViewModel.title</h1>
        <!-- news container -->
        <div class="nws-ctr">
            <div class="l-wp-1740">
                <!-- news list -->
                <ul class="nws-list">
                    @if (Model.News_PagedListViewModel != null)
                    {
                        foreach (var item in Model.News_PagedListViewModel)
                        {
                            if (!string.IsNullOrEmpty(item.url))
                            {
                                <li class="nws-list__item" data-aos="fade-up">
                                    <a href="@item.url" target="_blank">
                                        <div class="m-card m-card--nws" >
                                            <div class="m-card__pic">
                                                <figure data-img="full">
                                                    <img src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="@item.pic_alt">
                                                </figure>
                                            </div>
                                            <div class="m-card__info">
                                                <div class="m-card__time">@item.startdate.Value.ToString("yyyy/MM/dd")</div>
                                                <h2 class="m-card__title">@item.title</h2>
                                                <p class="m-card__depiction">
                                                    @Html.Raw(item.subtitle)
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nws-list__item" data-aos="fade-up">
                                    <div class="m-card m-card--nws" data-href="@Url.Action("Index", "News", new { guid = item.guid})">
                                        <div class="m-card__pic">
                                            <figure data-img="full">
                                                <img src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : "")" alt="@item.pic_alt">
                                            </figure>
                                        </div>
                                        <div class="m-card__info">
                                            <div class="m-card__time">@item.startdate.Value.ToString("yyyy/MM/dd")</div>
                                            <h2 class="m-card__title">@item.title</h2>
                                            <p class="m-card__depiction">
                                                @Html.Raw(item.subtitle)
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            }

                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <nav class="pagination" data-aos="zoom-in">
        <ul class="pagination__list">

            @if (ViewBag.pageView != null)
            {
                @Html.Raw(FunctionService.FormatImagePath(ViewBag.pageView));

            }
        </ul>
    </nav>
</main>